# Weekly KPI

In [1]:
from google.cloud import bigquery
import os

path = r"C:\Users\DwaipayanChakroborti\AppData\Roaming\gcloud\legacy_credentials\dchakroborti@tonikbank.com\adc.json"

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = path
client = bigquery.Client(project="prj-prod-dataplatform")
import pandas as pd 
import numpy as np

Put the data range in cell below

In [2]:
sd = '2024-03-25'
ed = '2024-03-31'

# Welcome call Connect - Weekly

In [3]:
sq = f"""WITH
  dt AS (
  SELECT
    DATE('{sd}') WkstartDate,
    DATE('{ed}') WkendDate),
disb as (select distinct disbursementDateTime, customerId, loanType, loanAccountNumber, SUBSTR(mobileNo, -10) as mobileno , loanPaidStatus
, row_number() over(partition by SUBSTR(mobileNo, -10) order by SUBSTR(mobileNo, -10))rnk
from `risk_credit_mis.loan_master_table`, dt 
where 
date_trunc(disbursementDateTime, day) <= dt.WkendDate
-- between dt.WkstartDate and dt.WkendDate 
and 
coalesce(loanPaidStatus, 'NA') not in ('Settled','Completed')
),
wc1 as 
(
SELECT
  dt.WkstartDate,
  dt.WkendDate,
  Genesys_call_id,
  callDatetime,
  COALESCE(IS_APC, 0) APC,
  COALESCE(IS_RPC, 0) RPC,
  COALESCE(IS_PTP,0) PTP,
  RIGHT(mobileNumber, 10) mobileNumber,
  g.campaignName,
  g.agentGroup,
  g.agentFullName,
  g.employeeId,
  g.connected,
  g.notConnected,
  g.callResult,
  ROW_NUMBER() OVER(PARTITION BY Genesys_call_id ORDER BY callDatetime DESC, COALESCE(IS_APC, 0), COALESCE(IS_RPC, 0), COALESCE(IS_PTP, 0))rnk
FROM
  `risk_credit_mis.call_attempt_history_gensys` g,  dt
LEFT JOIN
  `dap_ds_poweruser_playground.campaignmaster` cm
ON
  UPPER(cm.Campaignname) = UPPER(g.campaignName)
INNER JOIN disb ON  SUBSTR(disb.mobileNo, -10) = SUBSTR(CAST(g.mobileNumber AS string), -10)
WHERE
  cm.reference = 'WC'
  and disb.rnk = 1
  and date(callDatetime) between  dt.WkstartDate and dt.WkendDate
), 
wc as 
(select wc1.WkstartDate, wc1.WkendDate, Genesys_call_id,
callDatetime,
APC,
RPC,
PTP,
case when APC = 1 then mobileNumber end apc_m,
case when RPC = 1 then mobileNumber end rpc_m,
case when PTP = 1 then mobileNumber end ptp_m,
mobileNumber,
campaignName,
agentGroup,
agentFullName,
employeeId,
connected,
notConnected,
callResult,
rnk,
from wc1 
where rnk = 1
)
,
wcbase as 
( 
select wc.WkstartDate, wc.WkendDate,
 Genesys_call_id,
callDatetime,
APC,
RPC,
PTP,
mobileNumber,
campaignName,
agentGroup,
agentFullName,
employeeId,
connected,
notConnected,
callResult,
rnk,
apc_m,
rpc_m,
ptp_m
from wc
)
select
(select WkstartDate from dt) WkstartDate,
(select WkendDate from dt) WkendDate,
(select count(distinct apc_m) from wcbase) apc_wc_connected,
(select count(distinct mobileNumber) wccontactrate from wcbase) wccalled,
"""

df_wcconnect_monthly = client.query(sq).to_dataframe(progress_bar_type='tqdm')
df_wcconnect_monthly['WelcomeCall_ContactRate'] = df_wcconnect_monthly['apc_wc_connected']/df_wcconnect_monthly['wccalled']
df_wcconnect_monthly

Job ID cc5d5c6c-32db-4315-b81e-66ecf25ba121 successfully executed: 100%|██████████|
Downloading: 100%|██████████|

  WkstartDate   WkendDate  apc_wc_connected  wccalled  WelcomeCall_ContactRate
0  2024-03-25  2024-03-31               334       601                  0.55574

This SQL code seems to be extracting data related to welcome calls from a database, likely in a Google BigQuery environment. Let me explain the logic step by step:

1. **Common Table Expressions (CTE): `dt`**
   - This CTE (Common Table Expression) creates a temporary table (`dt`) with the start and end dates provided (`sd` and `ed`), used for filtering later.

2. **Common Table Expressions (CTE): `disb`**
   - This CTE retrieves distinct records from the `risk_credit_mis.loan_master_table` table, filtering for disbursement events that occurred on or before the provided end date (`WkendDate`).
   - The `rnk` column is calculated using the `ROW_NUMBER()` function partitioned by the last 10 digits of the mobile number.
   - The result is filtered to exclude records with a `loanPaidStatus` of 'Settled' or 'Completed'.

3. **Common Table Expressions (CTE): `wc1`**
   - This CTE retrieves data from the `risk_credit_mis.call_attempt_history_gensys` table related to welcome calls (`cm.reference = 'WC'`).
   - The result is joined with the previously defined `disb` CTE using the last 10 digits of the mobile numbers.
   - The `ROW_NUMBER()` function is used to assign a rank to each record based on `callDatetime` and the flags `IS_APC`, `IS_RPC`, and `IS_PTP`.
   - The result is filtered to include only records with `rnk = 1`.

4. **Common Table Expressions (CTE): `wc`**
   - This CTE further refines the data from `wc1`. It includes only records where `rnk = 1`.

5. **Common Table Expressions (CTE): `wcbase`**
   - This CTE is a copy of the previous `wc` CTE, retaining all columns.

6. **Main Query**
   - The main query selects various aggregated counts and values from the CTEs, providing metrics related to welcome calls.
   - The counts include the number of connected calls (`apc_wc_connected`) and the total number of distinct called mobile numbers (`wccontactrate`).
   - Finally, it calculates the contact rate as the ratio of connected calls to the total called numbers.

Overall, this code is designed to analyze and report metrics related to welcome calls, specifically focusing on connected calls and contact rates over a specified time period.

# Reminder Call Contact Rate

In [4]:
sq = f"""WITH
  dt AS (
  SELECT
    DATE('{sd}') WkstartDate,
    DATE('{ed}') WkendDate),
disb as (select distinct disbursementDateTime, customerId, loanType, loanAccountNumber, SUBSTR(mobileNo, -10) as mobileno , loanPaidStatus
, row_number() over(partition by SUBSTR(mobileNo, -10) order by SUBSTR(mobileNo, -10))rnk
from `risk_credit_mis.loan_master_table`, dt 
where 
date_trunc(disbursementDateTime, day) <= dt.WkendDate
-- between dt.WkstartDate and dt.WkendDate 
and 
coalesce(loanPaidStatus, 'NA') not in ('Settled','Completed')
),
rc1 as 
(
SELECT
  dt.WkstartDate,
  dt.WkendDate,
  Genesys_call_id,
  callDatetime,
  COALESCE(IS_APC, 0) APC,
  COALESCE(IS_RPC, 0) RPC,
  COALESCE(IS_PTP,0) PTP,
  RIGHT(mobileNumber, 10) mobileNumber,
  g.campaignName,
  g.agentGroup,
  g.agentFullName,
  g.employeeId,
  g.connected,
  g.notConnected,
  g.callResult,
  ROW_NUMBER() OVER(PARTITION BY Genesys_call_id ORDER BY callDatetime DESC, COALESCE(IS_APC, 0), COALESCE(IS_RPC, 0), COALESCE(IS_PTP, 0))rnk
FROM
  `risk_credit_mis.call_attempt_history_gensys` g,  dt
LEFT JOIN
  `dap_ds_poweruser_playground.campaignmaster` cm
ON
  UPPER(cm.Campaignname) = UPPER(g.campaignName)
INNER JOIN disb ON  SUBSTR(disb.mobileNo, -10) = SUBSTR(CAST(g.mobileNumber AS string), -10)
WHERE
  cm.reference = 'REM'
  and disb.rnk = 1
  and date(callDatetime) between  dt.WkstartDate and dt.WkendDate
), 
rc as 
(select rc1.WkstartDate, rc1.WkendDate, Genesys_call_id,
callDatetime,
APC,
RPC,
PTP,
case when APC = 1 then mobileNumber end apc_m,
case when RPC = 1 then mobileNumber end rpc_m,
case when PTP = 1 then mobileNumber end ptp_m,
mobileNumber,
campaignName,
agentGroup,
agentFullName,
employeeId,
connected,
notConnected,
callResult,
rnk,
from rc1 
where rnk = 1
)
,
rcbase as 
( 
select rc.WkstartDate, rc.WkendDate,
 Genesys_call_id,
callDatetime,
APC,
RPC,
PTP,
mobileNumber,
campaignName,
agentGroup,
agentFullName,
employeeId,
connected,
notConnected,
callResult,
rnk,
apc_m,
rpc_m,
ptp_m
from rc
)
select
(select WkstartDate from dt) WkstartDate,
(select WkendDate from dt) WkendDate,
(select count(distinct apc_m) from rcbase) apc_rc_connected,
(select count(distinct mobileNumber) rccontactrate from rcbase) rccalled
"""
dfremindercall = client.query(sq).to_dataframe(progress_bar_type='tqdm')
dfremindercall['remindercallcontactrate'] = dfremindercall['apc_rc_connected']/dfremindercall['rccalled']
dfremindercall

Job ID 390add45-62ec-45ee-936b-71c74830bf12 successfully executed: 100%|██████████|
Downloading: 100%|██████████|

  WkstartDate   WkendDate  apc_rc_connected  rccalled  remindercallcontactrate
0  2024-03-25  2024-03-31              2789      7191                 0.387846

In [5]:
df = pd.concat([df_wcconnect_monthly,dfremindercall[['apc_rc_connected', 'rccalled', 'remindercallcontactrate']]], axis = 1)
df

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate
0,2024-03-25,2024-03-31,334,601,0.55574,2789,7191,0.387846

This SQL code appears to be querying data related to reminder calls from a database, potentially in a Google BigQuery environment. Let's break down the logic step by step:

1. **Common Table Expressions (CTE): `dt`**
   - This CTE creates a temporary table (`dt`) with the start and end dates provided (`sd` and `ed`), used for filtering later.

2. **Common Table Expressions (CTE): `disb`**
   - This CTE retrieves distinct records from the `risk_credit_mis.loan_master_table` table, filtering for disbursement events that occurred on or before the provided end date (`WkendDate`).
   - The `rnk` column is calculated using the `ROW_NUMBER()` function partitioned by the last 10 digits of the mobile number.
   - The result is filtered to exclude records with a `loanPaidStatus` of 'Settled' or 'Completed'.

3. **Common Table Expressions (CTE): `rc1`**
   - This CTE retrieves data from the `risk_credit_mis.call_attempt_history_gensys` table related to reminder calls (`cm.reference = 'REM'`).
   - The result is joined with the previously defined `disb` CTE using the last 10 digits of the mobile numbers.
   - The `ROW_NUMBER()` function is used to assign a rank to each record based on `callDatetime` and the flags `IS_APC`, `IS_RPC`, and `IS_PTP`.
   - The result is filtered to include only records with `rnk = 1`.

4. **Common Table Expressions (CTE): `rc`**
   - This CTE further refines the data from `rc1`. It includes only records where `rnk = 1`.

5. **Common Table Expressions (CTE): `rcbase`**
   - This CTE is a copy of the previous `rc` CTE, retaining all columns.

6. **Main Query**
   - The main query selects various aggregated counts and values from the CTEs, providing metrics related to reminder calls.
   - The counts include the number of connected calls (`apc_rc_connected`) and the total number of distinct called mobile numbers (`rccontactrate`).
   - Finally, it calculates the contact rate as the ratio of connected calls to the total called numbers.

Overall, this code is designed to analyze and report metrics related to reminder calls, specifically focusing on connected calls and contact rates over a specified time period. The logic is quite similar to the previous code related to welcome calls, with adjustments made for the specific criteria and metrics related to reminder calls.

# Bucket 1 contact Rate

In [6]:
sq = f"""WITH
  dt AS (
  SELECT
    DATE('{sd}') WkstartDate,
    DATE('{ed}') WkendDate),
disb as (select distinct disbursementDateTime, customerId, loanType, loanAccountNumber, SUBSTR(mobileNo, -10) as mobileno , loanPaidStatus
, row_number() over(partition by SUBSTR(mobileNo, -10) order by SUBSTR(mobileNo, -10))rnk
from `risk_credit_mis.loan_master_table`, dt 
where 
date_trunc(disbursementDateTime, day) <= dt.WkendDate
-- between dt.WkstartDate and dt.WkendDate 
and 
coalesce(loanPaidStatus, 'NA') not in ('Settled','Completed')
),
cd AS (
  SELECT
    customer_id,
    new_mobile_number,
    ROW_NUMBER() OVER(PARTITION BY customer_id ORDER BY change_date)rnk
  FROM
    `risk_credit_mis.customer_contact_details`
  WHERE
    ACTIVE = 'Y')
  ,
  buck1 as 
  (select distinct dt.WkstartDate, dt.WkendDate, lbfrc.loanAccountNumber, lbfrc.loanStatus, lbfrc.bucketDate, lbfrc.Max_current_DPD as DPD, lmt.customerId, right(cd.new_mobile_number, 10) newmobilenumber
  , row_number() over(partition by lbfrc.loanAccountNumber order by lbfrc.bucketDate desc) buck1rnk
  from `risk_credit_mis.loan_bucket_flow_report_core` lbfrc, dt 
  left join `risk_credit_mis.loan_master_table` lmt on lmt.loanAccountNumber = lbfrc.loanAccountNumber
  left join cd on cd.customer_id = lmt.customerId
  where date(bucketDate) between  date(dt.WkstartDate) and  date(dt.WkendDate)
  and coalesce(lbfrc.Max_current_DPD, 0) between 1 and 30 
  and date(lbfrc.firstDueDate) <= date(current_date())
  and lbfrc.loanStatus = 'In Arrears'
  and cd.rnk = 1
  )
    ,
buck1cr1 as 
(select distinct
 dt.WkstartDate,
  dt.WkendDate,
  g.Genesys_call_id,
  g.callDatetime,
  COALESCE(g.IS_APC, 0) APC,
  COALESCE(g.IS_RPC, 0) RPC,
  COALESCE(g.IS_PTP,0) PTP,
  RIGHT(g.mobileNumber, 10) mobileNumber,
  buck1.newmobilenumber mobilefrombuckettable,
  g.campaignName,
  g.agentGroup,
  g.agentFullName,
  g.employeeId,
  g.connected,
  g.notConnected,
  g.callResult, 
  buck1.loanAccountNumber,
  buck1.DPD,
  case when g.IS_APC = 1 then g.mobileNumber end apc_m,
  case when g.IS_RPC = 1 then g.mobileNumber end rpc_m,
  case when g.IS_PTP = 1 then mobileNumber end ptp_m,
  ROW_NUMBER() OVER(PARTITION BY g.Genesys_call_id ORDER BY g.callDatetime DESC, COALESCE(g.IS_APC, 0), COALESCE(g.IS_RPC, 0), COALESCE(g.IS_PTP, 0))rnk 
from  `risk_credit_mis.call_attempt_history_gensys` g,  dt
inner join buck1 on buck1.newmobilenumber = right(g.mobileNumber,10)
LEFT JOIN  `dap_ds_poweruser_playground.campaignmaster` cm ON  UPPER(cm.Campaignname) = UPPER(g.campaignName)
where cm.Reference = 'COLL' and cm.Subcategory = 'SOFT'
AND DATE(g.callDatetime) BETWEEN DATE(dt.WkstartDate) AND DATE(dt.WkendDate)
and buck1.buck1rnk = 1

)
,
buck1cr1base as 
(select buck1cr1.WkstartDate, buck1cr1.WkendDate, buck1cr1.Genesys_call_id, buck1cr1.callDatetime
, buck1cr1.mobileNumber
, buck1cr1.mobilefrombuckettable
, buck1cr1.campaignName
, buck1cr1.agentGroup
, buck1cr1.agentFullName
, buck1cr1.employeeId
, buck1cr1.connected
, buck1cr1.notConnected
, buck1cr1.callResult
, buck1cr1.loanAccountNumber
, buck1cr1.apc_m 
, buck1cr1.rpc_m
, buck1cr1.ptp_m 
, buck1cr1.DPD
, buck1cr1.rnk 
 from buck1cr1 where rnk = 1
)
Select * 
, (select count(distinct apc_m) from buck1cr1base) bucket1contacted,
(select count(distinct mobilefrombuckettable) Bucket1callcontactrate from buck1cr1base where mobilefrombuckettable is not null)bucketcallcontacted
from dt;"""

dfbucket1contactrate = client.query(sq).to_dataframe(progress_bar_type='tqdm')
dfbucket1contactrate['bucket1contactrate'] = dfbucket1contactrate['bucket1contacted']/dfbucket1contactrate['bucketcallcontacted']
dfbucket1contactrate

Job ID 2ab62ee0-e772-4eac-860f-7059c25ca599 successfully executed: 100%|██████████|
Downloading: 100%|██████████|

,WkstartDate,WkendDate,bucket1contacted,bucketcallcontacted,bucket1contactrate
0,2024-03-25,2024-03-31,449,3623,0.12393

In [7]:
df = pd.concat([df,dfbucket1contactrate[['bucket1contacted', 'bucketcallcontacted', 'bucket1contactrate']]], axis = 1)
df

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1contactrate
0,2024-03-25,2024-03-31,334,601,0.55574,2789,7191,0.387846,449,3623,0.12393

This SQL code appears to be querying data related to a specific type of call campaign, likely associated with loan collections or debt recovery. Let's break down the logic step by step:

1. **Common Table Expressions (CTE): `dt`**
   - Similar to previous examples, this CTE creates a temporary table (`dt`) with the start and end dates provided (`sd` and `ed`), used for filtering later.

2. **Common Table Expressions (CTE): `disb`**
   - This CTE retrieves distinct records from the `risk_credit_mis.loan_master_table` table, filtering for disbursement events that occurred on or before the provided end date (`WkendDate`).
   - The `rnk` column is calculated using the `ROW_NUMBER()` function partitioned by the last 10 digits of the mobile number.
   - The result is filtered to exclude records with a `loanPaidStatus` of 'Settled' or 'Completed'.

3. **Common Table Expressions (CTE): `cd`**
   - This CTE retrieves data from the `risk_credit_mis.customer_contact_details` table, including the customer ID and new mobile number, with row numbers assigned based on the change date.

4. **Common Table Expressions (CTE): `buck1`**
   - This CTE retrieves data related to loans in arrears from the `risk_credit_mis.loan_bucket_flow_report_core` table, considering only loans with a maximum current DPD (Days Past Due) between 1 and 30.
   - It also joins with the previously defined `disb` CTE and applies additional filters.
   - The result is assigned a row number based on the bucket date in descending order.

5. **Common Table Expressions (CTE): `buck1cr1`**
   - This CTE retrieves call attempt data related to collections from the `risk_credit_mis.call_attempt_history_gensys` table.
   - It joins with the `buck1` CTE and includes details such as campaign information, call results, and row numbers based on the call datetime and flags for different call types (APC, RPC, PTP).
   - The result is filtered to include only records with `rnk = 1` and calls associated with the 'COLL' reference and 'SOFT' subcategory.

6. **Common Table Expressions (CTE): `buck1cr1base`**
   - This CTE is a copy of the previous `buck1cr1` CTE, retaining all columns.

7. **Main Query**
   - The main query selects various aggregated counts and values from the CTEs, providing metrics related to calls associated with loans in arrears.
   - The counts include the number of connected calls (`bucket1contacted`) and the total number of distinct mobile numbers contacted (`Bucket1callcontactrate`).
   - Finally, it calculates the contact rate as the ratio of connected calls to the total called numbers.

Overall, this code is designed to analyze and report metrics related to calls associated with loans in arrears, specifically focusing on connected calls and contact rates over a specified time period. The logic involves joining and filtering data from multiple tables to extract relevant information for analysis.

# Bucket 1 Normalization (Greg)

In [8]:
sq = f"""WITH
  dt AS (
  SELECT
    DATE('{sd}') WkstartDate,
    DATE('{ed}') WkendDate),
disb as (select distinct disbursementDateTime, customerId, loanType, loanAccountNumber, SUBSTR(mobileNo, -10) as mobileno , loanPaidStatus
, row_number() over(partition by SUBSTR(mobileNo, -10) order by SUBSTR(mobileNo, -10))rnk
from `risk_credit_mis.loan_master_table`, dt 
where 
date_trunc(disbursementDateTime, day) <= dt.WkendDate
-- between dt.WkstartDate and dt.WkendDate 
and 
coalesce(loanPaidStatus, 'NA') not in ('Settled','Completed')
),
cd AS (
  SELECT
    customer_id,
    new_mobile_number,
    ROW_NUMBER() OVER(PARTITION BY customer_id ORDER BY change_date)rnk
  FROM
    `risk_credit_mis.customer_contact_details`
  WHERE
    ACTIVE = 'Y')
  ,
buck1 as 
(select distinct dt.WkstartDate, dt.WkendDate, lbfrc.bucketDate, lbfrc.loanAccountNumber, lbfrc.loanStatus, lbfrc.bucketDate, lbfrc.Max_current_DPD as DPD
  , lmt.customerId, right(cd.new_mobile_number, 10) newmobilenumber from `risk_credit_mis.loan_bucket_flow_report_core` lbfrc, dt 
  left join `risk_credit_mis.loan_master_table` lmt on lmt.loanAccountNumber = lbfrc.loanAccountNumber
  left join cd on cd.customer_id = lmt.customerId
  where date(bucketDate) =  date(dt.WkstartDate) and coalesce(lbfrc.Max_current_DPD, 0) between 1 and 30 ),
buck1end as
(select distinct dt.WkstartDate, dt.WkendDate, lbfrc.bucketDate, lbfrc.loanAccountNumber, lbfrc.loanStatus, lbfrc.bucketDate, lbfrc.Max_current_DPD as DPD
  , lmt.customerId, right(cd.new_mobile_number, 10) newmobilenumber 
from `risk_credit_mis.loan_bucket_flow_report_core` lbfrc, dt 
inner join buck1 on buck1.loanAccountNumber = lbfrc.loanAccountNumber
left join `risk_credit_mis.loan_master_table` lmt on lmt.loanAccountNumber = lbfrc.loanAccountNumber
left join cd on cd.customer_id = lmt.customerId
where date(lbfrc.bucketDate) =  date(dt.WkendDate))
select  dt.WkstartDate, dt.WkendDate
, count(distinct case when coalesce(buck1end.DPD, 0) <= coalesce(buck1.DPD, 0) then buck1.loanAccountNumber end) Normalized_Greg
, count(distinct buck1.loanAccountNumber) Normalized_denominator
from buck1, dt
left join buck1end on buck1end.loanAccountNumber = buck1.loanAccountNumber
group by 1, 2

"""
dfbuck1normalizationgreg = client.query(sq).to_dataframe(progress_bar_type='tqdm')
dfbuck1normalizationgreg['Bucket1_Normalized'] = dfbuck1normalizationgreg['Normalized_Greg']/dfbuck1normalizationgreg['Normalized_denominator']
dfbuck1normalizationgreg

Job ID 3313a764-4f30-4e8b-9f84-2f44d00043ec successfully executed: 100%|██████████|
Downloading: 100%|██████████|

,WkstartDate,WkendDate,Normalized_Greg,Normalized_denominator,Bucket1_Normalized
0,2024-03-25,2024-03-31,729,3600,0.2025

In [9]:
df = pd.concat([df, dfbuck1normalizationgreg[['Normalized_Greg','Normalized_denominator','Bucket1_Normalized']]], axis = 1)
df

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1contactrate,Normalized_Greg,Normalized_denominator,Bucket1_Normalized
0,2024-03-25,2024-03-31,334,601,0.55574,2789,7191,0.387846,449,3623,0.12393,729,3600,0.2025

This SQL code seems to be calculating a normalization factor for a specific scenario related to loans and their bucket flow. Let's break down the logic step by step:

1. **Common Table Expressions (CTE): `dt`**
   - This CTE creates a temporary table (`dt`) with the start and end dates provided (`sd` and `ed`), used for filtering later.

2. **Common Table Expressions (CTE): `disb`**
   - This CTE retrieves distinct records from the `risk_credit_mis.loan_master_table` table, filtering for disbursement events that occurred on or before the provided end date (`WkendDate`).
   - The `rnk` column is calculated using the `ROW_NUMBER()` function partitioned by the last 10 digits of the mobile number.
   - The result is filtered to exclude records with a `loanPaidStatus` of 'Settled' or 'Completed'.

3. **Common Table Expressions (CTE): `cd`**
   - This CTE retrieves data from the `risk_credit_mis.customer_contact_details` table, including the customer ID and new mobile number, with row numbers assigned based on the change date.

4. **Common Table Expressions (CTE): `buck1`**
   - This CTE retrieves data related to loans in a specific DPD (Days Past Due) range from the `risk_credit_mis.loan_bucket_flow_report_core` table.
   - It joins with the previously defined `disb` CTE and includes additional information about the loan, customer, and mobile number.
   - The result is filtered to consider only the bucket date matching the start date (`WkstartDate`) and where the DPD is between 1 and 30.

5. **Common Table Expressions (CTE): `buck1end`**
   - This CTE refines the data from `buck1` by joining with the same bucket flow report table but considering the end date (`WkendDate`).
   - It includes information about the loan, customer, and mobile number.

6. **Main Query**
   - The main query calculates a normalization factor for a specific scenario related to loans and their bucket flow.
   - It counts the number of distinct loans where the DPD at the end date is less than or equal to the DPD at the start date (`Normalized_Greg`).
   - It also counts the total number of distinct loans at the start date (`Normalized_denominator`).
   - The final result includes the start and end dates, along with the calculated normalization factor (`Bucket1_Normalized`), which is the ratio of `Normalized_Greg` to `Normalized_denominator`.

Overall, this code is designed to analyze and report on the normalization factor for a specific scenario involving loans, their bucket flow, and the Days Past Due (DPD) values over a specified time period. The normalization factor provides insight into how many loans have maintained or improved their DPD status within the given time frame.

# Bucket 2 Contact Rate

In [10]:
sq = f"""WITH
  dt AS (
  SELECT
    DATE('{sd}') WkstartDate,
    DATE('{ed}') WkendDate),
disb as (select distinct disbursementDateTime, customerId, loanType, loanAccountNumber, SUBSTR(mobileNo, -10) as mobileno , loanPaidStatus
, row_number() over(partition by SUBSTR(mobileNo, -10) order by SUBSTR(mobileNo, -10))rnk
from `risk_credit_mis.loan_master_table`, dt 
where 
date_trunc(disbursementDateTime, day) <= dt.WkendDate
-- between dt.WkstartDate and dt.WkendDate 
and 
coalesce(loanPaidStatus, 'NA') not in ('Settled','Completed')
),
cd AS (
  SELECT
    customer_id,
    new_mobile_number,
    ROW_NUMBER() OVER(PARTITION BY customer_id ORDER BY change_date)rnk
  FROM
    `risk_credit_mis.customer_contact_details`
  WHERE
    ACTIVE = 'Y')
  ,
  buck2 as 
  (select distinct dt.WkstartDate, dt.WkendDate, lbfrc.loanAccountNumber, lbfrc.loanStatus, lbfrc.bucketDate, lbfrc.Max_current_DPD as DPD, lmt.customerId, right(cd.new_mobile_number, 10) newmobilenumber
  , row_number() over(partition by lbfrc.loanAccountNumber order by lbfrc.bucketDate desc) buck2rnk
  from `risk_credit_mis.loan_bucket_flow_report_core` lbfrc, dt 
  left join `risk_credit_mis.loan_master_table` lmt on lmt.loanAccountNumber = lbfrc.loanAccountNumber
  left join cd on cd.customer_id = lmt.customerId
  where date(bucketDate) between  date(dt.WkstartDate) and  date(dt.WkendDate)
  and coalesce(lbfrc.Max_current_DPD, 0) between 31 and 60 
  and date(lbfrc.firstDueDate) <= date(current_date())
  and lbfrc.loanStatus = 'In Arrears'
  and cd.rnk = 1
  )
    ,
buck2cr2 as 
(select distinct
 dt.WkstartDate,
  dt.WkendDate,
  g.Genesys_call_id,
  g.callDatetime,
  COALESCE(g.IS_APC, 0) APC,
  COALESCE(g.IS_RPC, 0) RPC,
  COALESCE(g.IS_PTP,0) PTP,
  RIGHT(g.mobileNumber, 10) mobileNumber,
  buck2.newmobilenumber mobilefrombuckettable,
  g.campaignName,
  g.agentGroup,
  g.agentFullName,
  g.employeeId,
  g.connected,
  g.notConnected,
  g.callResult, 
  buck2.loanAccountNumber,
  buck2.DPD,
  case when g.IS_APC = 1 then g.mobileNumber end apc_m,
  case when g.IS_RPC = 1 then g.mobileNumber end rpc_m,
  case when g.IS_PTP = 1 then mobileNumber end ptp_m,
  ROW_NUMBER() OVER(PARTITION BY g.Genesys_call_id ORDER BY g.callDatetime DESC, COALESCE(g.IS_APC, 0), COALESCE(g.IS_RPC, 0), COALESCE(g.IS_PTP, 0))rnk 
from  `risk_credit_mis.call_attempt_history_gensys` g,  dt
inner join buck2 on buck2.newmobilenumber = right(g.mobileNumber,10)
LEFT JOIN  `dap_ds_poweruser_playground.campaignmaster` cm ON  UPPER(cm.Campaignname) = UPPER(g.campaignName)
where cm.Reference = 'COLL' 
AND DATE(g.callDatetime) BETWEEN DATE(dt.WkstartDate) AND DATE(dt.WkendDate)
and buck2.buck2rnk = 1
)
,
buck2cr2base as 
(select buck2cr2.WkstartDate, buck2cr2.WkendDate, buck2cr2.Genesys_call_id, buck2cr2.callDatetime
, buck2cr2.mobileNumber
, buck2cr2.mobilefrombuckettable
, buck2cr2.campaignName
, buck2cr2.agentGroup
, buck2cr2.agentFullName
, buck2cr2.employeeId
, buck2cr2.connected
, buck2cr2.notConnected
, buck2cr2.callResult
, buck2cr2.loanAccountNumber
, buck2cr2.apc_m 
, buck2cr2.rpc_m
, buck2cr2.ptp_m 
, buck2cr2.DPD
, buck2cr2.rnk 
 from buck2cr2 where rnk = 1
)
Select * 
, (select count(distinct apc_m) from buck2cr2base) bucket2contacted,
(select count(distinct mobilefrombuckettable) Bucket2callcontactrate from buck2cr2base where mobilefrombuckettable is not null)bucket2callcontacted
from dt;
"""
dfbucket2contactrate = client.query(sq).to_dataframe()
dfbucket2contactrate['bucket2contactrate'] = dfbucket2contactrate['bucket2contacted']/dfbucket2contactrate['bucket2callcontacted']
dfbucket2contactrate

,WkstartDate,WkendDate,bucket2contacted,bucket2callcontacted,bucket2contactrate
0,2024-03-25,2024-03-31,131,2627,0.049867

In [11]:
df = pd.concat([df, dfbucket2contactrate[['bucket2contacted','bucket2callcontacted','bucket2contactrate']]], axis = 1)
df

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1contactrate,Normalized_Greg,Normalized_denominator,Bucket1_Normalized,bucket2contacted,bucket2callcontacted,bucket2contactrate
0,2024-03-25,2024-03-31,334,601,0.55574,2789,7191,0.387846,449,3623,0.12393,729,3600,0.2025,131,2627,0.049867

This SQL code appears to be querying data related to a specific type of call campaign, likely associated with loan collections or debt recovery, focusing on loans with Days Past Due (DPD) values between 31 and 60. Let's break down the logic step by step:

1. **Common Table Expressions (CTE): `dt`**
   - Similar to previous examples, this CTE creates a temporary table (`dt`) with the start and end dates provided (`sd` and `ed`), used for filtering later.

2. **Common Table Expressions (CTE): `disb`**
   - This CTE retrieves distinct records from the `risk_credit_mis.loan_master_table` table, filtering for disbursement events that occurred on or before the provided end date (`WkendDate`).
   - The `rnk` column is calculated using the `ROW_NUMBER()` function partitioned by the last 10 digits of the mobile number.
   - The result is filtered to exclude records with a `loanPaidStatus` of 'Settled' or 'Completed'.

3. **Common Table Expressions (CTE): `cd`**
   - This CTE retrieves data from the `risk_credit_mis.customer_contact_details` table, including the customer ID and new mobile number, with row numbers assigned based on the change date.

4. **Common Table Expressions (CTE): `buck2`**
   - This CTE retrieves data related to loans with DPD values between 31 and 60 from the `risk_credit_mis.loan_bucket_flow_report_core` table.
   - It joins with the previously defined `disb` CTE and includes additional information about the loan, customer, and mobile number.
   - The result is filtered to consider only the bucket date between the start and end dates, where the DPD is between 31 and 60.

5. **Common Table Expressions (CTE): `buck2cr2`**
   - This CTE retrieves call attempt data related to collections from the `risk_credit_mis.call_attempt_history_gensys` table.
   - It joins with the `buck2` CTE and includes details such as campaign information, call results, and row numbers based on the call datetime and flags for different call types (APC, RPC, PTP).
   - The result is filtered to include only records with `rnk = 1` and calls associated with the 'COLL' reference.

6. **Common Table Expressions (CTE): `buck2cr2base`**
   - This CTE is a copy of the previous `buck2cr2` CTE, retaining all columns.

7. **Main Query**
   - The main query selects various aggregated counts and values from the CTEs, providing metrics related to calls associated with loans in the specified DPD range.
   - The counts include the number of connected calls (`bucket2contacted`) and the total number of distinct mobile numbers contacted (`Bucket2callcontactrate`).
   - Finally, it calculates the contact rate as the ratio of connected calls to the total called numbers.

Overall, this code is designed to analyze and report metrics related to calls associated with loans in the specified DPD range (31 to 60), specifically focusing on connected calls and contact rates over a specified time period. The logic involves joining and filtering data from multiple tables to extract relevant information for analysis.

# Bucket 2 Normalization

In [12]:
sq = f"""WITH
  dt AS (
  SELECT
    DATE('{sd}') WkstartDate,
    DATE('{ed}') WkendDate),
disb as (select distinct disbursementDateTime, customerId, loanType, loanAccountNumber, SUBSTR(mobileNo, -10) as mobileno , loanPaidStatus
, row_number() over(partition by SUBSTR(mobileNo, -10) order by SUBSTR(mobileNo, -10))rnk
from `risk_credit_mis.loan_master_table`, dt 
where 
date_trunc(disbursementDateTime, day) <= dt.WkendDate
-- between dt.WkstartDate and dt.WkendDate 
and 
coalesce(loanPaidStatus, 'NA') not in ('Settled','Completed')
),
cd AS (
  SELECT
    customer_id,
    new_mobile_number,
    ROW_NUMBER() OVER(PARTITION BY customer_id ORDER BY change_date)rnk
  FROM
    `risk_credit_mis.customer_contact_details`
  WHERE
    ACTIVE = 'Y')
  ,
buck2 as 
(select distinct dt.WkstartDate, dt.WkendDate, lbfrc.bucketDate, lbfrc.loanAccountNumber, lbfrc.loanStatus, lbfrc.bucketDate, lbfrc.Max_current_DPD as DPD
  , lmt.customerId, right(cd.new_mobile_number, 10) newmobilenumber from `risk_credit_mis.loan_bucket_flow_report_core` lbfrc, dt 
  left join `risk_credit_mis.loan_master_table` lmt on lmt.loanAccountNumber = lbfrc.loanAccountNumber
  left join cd on cd.customer_id = lmt.customerId
  where date(bucketDate) =  date(dt.WkstartDate) and coalesce(lbfrc.Max_current_DPD, 0) between 31 and 60 ),
buck2end as
(select distinct dt.WkstartDate, dt.WkendDate, lbfrc.bucketDate, lbfrc.loanAccountNumber, lbfrc.loanStatus, lbfrc.bucketDate, lbfrc.Max_current_DPD as DPD
  , lmt.customerId, right(cd.new_mobile_number, 10) newmobilenumber 
from `risk_credit_mis.loan_bucket_flow_report_core` lbfrc, dt 
inner join buck2 on buck2.loanAccountNumber = lbfrc.loanAccountNumber
left join `risk_credit_mis.loan_master_table` lmt on lmt.loanAccountNumber = lbfrc.loanAccountNumber
left join cd on cd.customer_id = lmt.customerId
where date(lbfrc.bucketDate) =  date(dt.WkendDate))
select  dt.WkstartDate, dt.WkendDate
, count(distinct case when coalesce(buck2end.DPD, 0) <= coalesce(buck2.DPD, 0) then buck2.loanAccountNumber end) Normalized_buck2_Greg
, count(distinct buck2.loanAccountNumber) Normalized_buck2_denominator
from buck2, dt
left join buck2end on buck2end.loanAccountNumber = buck2.loanAccountNumber
group by 1, 2;
"""

dfbucket2normalization = client.query(sq).to_dataframe(progress_bar_type = 'tqdm')
dfbucket2normalization['bucket2Normalizationrate'] = dfbucket2normalization['Normalized_buck2_Greg']/dfbucket2normalization['Normalized_buck2_denominator']
dfbucket2normalization

Job ID 535134c8-0554-4ef6-841a-caf185866a81 successfully executed: 100%|██████████|
Downloading: 100%|██████████|

,WkstartDate,WkendDate,Normalized_buck2_Greg,Normalized_buck2_denominator,bucket2Normalizationrate
0,2024-03-25,2024-03-31,76,1974,0.038501

In [13]:
dfbucket2normalization.columns

Index(['WkstartDate', 'WkendDate', 'Normalized_buck2_Greg',
       'Normalized_buck2_denominator', 'bucket2Normalizationrate'],
      dtype='object')

In [14]:
df = pd.concat([df,dfbucket2normalization[['Normalized_buck2_Greg',
       'Normalized_buck2_denominator', 'bucket2Normalizationrate']] ], axis = 1)
df

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1contactrate,Normalized_Greg,Normalized_denominator,Bucket1_Normalized,bucket2contacted,bucket2callcontacted,bucket2contactrate,Normalized_buck2_Greg,Normalized_buck2_denominator,bucket2Normalizationrate
0,2024-03-25,2024-03-31,334,601,0.55574,2789,7191,0.387846,449,3623,0.12393,729,3600,0.2025,131,2627,0.049867,76,1974,0.038501

This SQL code calculates a normalization rate for a specific scenario related to loans and their bucket flow, focusing on loans with Days Past Due (DPD) values between 31 and 60. Here's an explanation of the logic:

1. **Common Table Expressions (CTE): `dt`**
   - This CTE creates a temporary table (`dt`) with the start and end dates provided (`sd` and `ed`), which will be used for filtering later.

2. **Common Table Expressions (CTE): `disb`**
   - This CTE retrieves distinct records from the `risk_credit_mis.loan_master_table` table, filtering for disbursement events that occurred on or before the provided end date (`WkendDate`).
   - The `rnk` column is calculated using the `ROW_NUMBER()` function partitioned by the last 10 digits of the mobile number.
   - The result is filtered to exclude records with a `loanPaidStatus` of 'Settled' or 'Completed'.

3. **Common Table Expressions (CTE): `cd`**
   - This CTE retrieves data from the `risk_credit_mis.customer_contact_details` table, including the customer ID and new mobile number, with row numbers assigned based on the change date.

4. **Common Table Expressions (CTE): `buck2`**
   - This CTE retrieves data related to loans with DPD values between 31 and 60 from the `risk_credit_mis.loan_bucket_flow_report_core` table.
   - It joins with the previously defined `disb` CTE and includes additional information about the loan, customer, and mobile number.
   - The result is filtered to consider only the bucket date matching the start date (`WkstartDate`) and where the DPD is between 31 and 60.

5. **Common Table Expressions (CTE): `buck2end`**
   - This CTE refines the data from `buck2` by joining with the same bucket flow report table but considering the end date (`WkendDate`).
   - It includes information about the loan, customer, and mobile number.

6. **Main Query**
   - The main query calculates a normalization rate for loans with DPD values between 31 and 60.
   - It counts the number of distinct loans where the DPD at the end date is less than or equal to the DPD at the start date (`Normalized_buck2_Greg`).
   - It also counts the total number of distinct loans at the start date (`Normalized_buck2_denominator`).
   - The final result includes the start and end dates, along with the calculated normalization rate (`bucket2Normalizationrate`), which is the ratio of `Normalized_buck2_Greg` to `Normalized_buck2_denominator`.

Overall, this code is designed to analyze and report on the normalization rate for loans with DPD values between 31 and 60, providing insights into how many loans have maintained or improved their DPD status within the given time frame.

# Recovery Rate

In [15]:
sq = f"""with Overdue as 
(select bucketDate
, DATE('{sd}') wkstartdate
,  DATE('{ed}') wkenddate
, loanStatus, loanAccountNumber,
sum(Total_Outstanding_Amount) totaloutstandingamount,
sum(Total_Overdue_Amount) Total_Overdue_Amount
from `risk_credit_mis.loan_bucket_flow_report_core`
where bucketDate = DATE('{sd}')
and loanStatus in ('Normal', 'In Arrears')
and Total_Outstanding_Amount is not null
and Total_Outstanding_Amount > 0
group by 1, 2,3,4,5
),
overduebase as
(select bucketDate, wkstartdate,wkenddate, loanAccountNumber, sum(totaloutstandingamount)totaloutstandingamount 
, sum(case when loanStatus = 'In Arrears' then totaloutstandingamount else 0 end) inArearstotaloutstandingamount
, sum(case when loanStatus = 'Normal' then totaloutstandingamount else 0 end) Normaltotaloutstandingamount
, sum(case when loanStatus = 'In Arrears' then Total_Overdue_Amount else 0 end) inArearstoTotal_Overdue_Amount
, sum(case when loanStatus = 'Normal' then Total_Overdue_Amount else 0 end) NormalTotal_Overdue_Amount
from Overdue
group by 1,2,3,4
),
payments as 
(select  DATE('{sd}') wkstartdate, DATE('{ed}') wkenddate,  loanAccountNumber, lastPaymentDate,isDelinquent, isCurrentDelinquent,
sum(installmentPaidAmount) payment
from `risk_credit_mis.loan_installments_table`
where coalesce(lastPaymentDate, date('3000-01-01')) between  DATE('{sd}') and DATE('{ed}')
and isDelinquent = 1
and coalesce(installmentPaidAmount, 0) > 0
group by 1,2,3,4,5,6
), 
paymentbase as  
(select wkstartdate, wkenddate, loanAccountNumber
, count(distinct lastPaymentDate) noofdayspaymentreceived 
, sum(case when isDelinquent = 1 and isCurrentDelinquent = 0 then 1 else 0 end) Normalized_cnt
, sum(case when isDelinquent = 1 and isCurrentDelinquent = 1 then 1 else 0 end) paymentreceivedbutstilldelinquent_cnt
, sum(case when isDelinquent = 1 and isCurrentDelinquent = 0 then payment else 0 end) Normalized
, sum(case when isDelinquent = 1 and isCurrentDelinquent = 1 then payment else 0 end) paymentreceivedbutstilldelinquent
, sum(payment) payment
from payments 
group by 1,2,3
)
select 
overduebase.bucketDate
, overduebase.wkstartdate
, overduebase.wkenddate
, count(distinct overduebase.loanAccountNumber ) cntloanoverdue
, sum(overduebase.totaloutstandingamount) totaloutstandingamount
, sum(overduebase.inArearstotaloutstandingamount) inArearstotaloutstandingamount
, sum(overduebase.Normaltotaloutstandingamount) Normaltotaloutstandingamount
, sum(overduebase.inArearstoTotal_Overdue_Amount) inArearstoTotal_Overdue_Amount
, sum(overduebase.NormalTotal_Overdue_Amount)NormalTotal_Overdue_Amount
, count(distinct paymentbase.loanAccountNumber) cnt_loanpaymentsreceived
, max(noofdayspaymentreceived) noofdayspaymentreceived
, sum(Normalized_cnt) Normalized_cnt
, sum(Normalized)Normalized
, sum(paymentreceivedbutstilldelinquent_cnt)paymentreceivedbutstilldelinquent_cnt
, sum(paymentreceivedbutstilldelinquent) paymentreceivedbutstilldelinquent
, sum(payment)payment
from overduebase
left join paymentbase on overduebase.loanAccountNumber = paymentbase.loanAccountNumber 
group by 1,2,3
"""
dfrecovery = client.query(sq).to_dataframe(progress_bar_type='tqdm')
dfrecovery['paymentsfromoverdue'] = dfrecovery['Normalized'] + dfrecovery['paymentreceivedbutstilldelinquent']
dfrecovery['recoveryrate'] = (dfrecovery['Normalized'] + dfrecovery['paymentreceivedbutstilldelinquent'])/dfrecovery['inArearstoTotal_Overdue_Amount']
dfrecovery

Job ID 0848d5ad-4ddf-4216-8df4-1673bdcd7119 successfully executed: 100%|██████████|
Downloading: 100%|██████████|

,bucketDate,wkstartdate,wkenddate,cntloanoverdue,totaloutstandingamount,inArearstotaloutstandingamount,Normaltotaloutstandingamount,inArearstoTotal_Overdue_Amount,NormalTotal_Overdue_Amount,cnt_loanpaymentsreceived,noofdayspaymentreceived,Normalized_cnt,Normalized,paymentreceivedbutstilldelinquent_cnt,paymentreceivedbutstilldelinquent,payment,paymentsfromoverdue,recoveryrate
0,2024-03-25,2024-03-25,2024-03-31,69014,1.327448e+09,7.425334e+08,5.849148e+08,4.963229e+08,276902.84,1958,2,981,2679585.27,1098,470479.2,3150064.47,3150064.47,0.006347

In [16]:
dfrecovery.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 18 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   bucketDate                             1 non-null      dbdate
 1   wkstartdate                            1 non-null      dbdate
 2   wkenddate                              1 non-null      dbdate
 3   cntloanoverdue                         1 non-null      Int64
 4   totaloutstandingamount                 1 non-null      float64
 5   inArearstotaloutstandingamount         1 non-null      float64
 6   Normaltotaloutstandingamount           1 non-null      float64
 7   inArearstoTotal_Overdue_Amount         1 non-null      float64
 8   NormalTotal_Overdue_Amount             1 non-null      float64
 9   cnt_loanpaymentsreceived               1 non-null      Int64
 10  noofdayspaymentreceived                1 non-null      Int64
 11  Normalized_cnt                         1 non-null      Int64
 12  Normalized                             1 non-null      float64
 13  paymentreceivedbutstilldelinquent_cnt  1 non-null      Int64
 14  paymentreceivedbutstilldelinquent      1 non-null      float64
 15  payment                                1 non-null      float64
 16  paymentsfromoverdue                    1 non-null      float64
 17  recoveryrate                           1 non-null      float64
dtypes: Int64(5), dbdate(3), float64(10)
memory usage: 277.0 bytes

In [17]:
df = pd.concat([df, dfrecovery[['inArearstoTotal_Overdue_Amount','paymentsfromoverdue','recoveryrate']]], axis = 1)
df

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,...,Bucket1_Normalized,bucket2contacted,bucket2callcontacted,bucket2contactrate,Normalized_buck2_Greg,Normalized_buck2_denominator,bucket2Normalizationrate,inArearstoTotal_Overdue_Amount,paymentsfromoverdue,recoveryrate
0,2024-03-25,2024-03-31,334,601,0.55574,2789,7191,0.387846,449,3623,...,0.2025,131,2627,0.049867,76,1974,0.038501,4.963229e+08,3150064.47,0.006347

This SQL code calculates recovery-related metrics for overdue loans. Here's an explanation of the logic:

1. **Common Table Expressions (CTE): `Overdue`**
   - This CTE selects relevant information from the `risk_credit_mis.loan_bucket_flow_report_core` table for loans that are either in a 'Normal' or 'In Arrears' status on the provided start date (`wkstartdate`).
   - The data is filtered to include only loans with positive and non-null outstanding amounts.
   - The result is grouped by bucket date, start date, end date (`wkenddate`), loan status, and loan account number, and aggregated sums are calculated for total outstanding amounts and total overdue amounts.

2. **Common Table Expressions (CTE): `overduebase`**
   - This CTE refines the data from the `Overdue` CTE.
   - It aggregates the data further, grouping by bucket date, start date, end date, and loan account number.
   - The result includes aggregated sums for total outstanding amounts, total outstanding amounts for loans in arrears, total outstanding amounts for normal loans, total overdue amounts for loans in arrears, and total overdue amounts for normal loans.

3. **Common Table Expressions (CTE): `payments`**
   - This CTE selects information from the `risk_credit_mis.loan_installments_table` related to loan payments.
   - It filters for delinquent loans with positive installment paid amounts between the provided start and end dates.
   - The result is grouped by start date, end date, loan account number, last payment date, isDelinquent, and isCurrentDelinquent, and aggregated sums are calculated for the payment amount.

4. **Common Table Expressions (CTE): `paymentbase`**
   - This CTE refines the data from the `payments` CTE.
   - It aggregates the data further, grouping by start date, end date, and loan account number.
   - The result includes counts and sums related to the number of days payments were received, the number of normalized payments, the number of payments received but still delinquent, and the total payment amount.

5. **Main Query**
   - The main query brings together the data from `overduebase` and `paymentbase`, joining them on the loan account number.
   - The final result includes aggregated metrics such as the count of overdue loans, total outstanding amounts, total overdue amounts, the count of loans with payments received, the maximum number of days payments were received, counts and sums related to normalized payments and payments received but still delinquent, and the total payment amount.
   - A new column, `paymentsfromoverdue`, is calculated as the sum of normalized payments and payments received but still delinquent.
   - Another new column, `recoveryrate`, is calculated as the ratio of `paymentsfromoverdue` to `inArearstoTotal_Overdue_Amount`.

In summary, the code provides insights into the recovery status of overdue loans, considering outstanding amounts, overdue amounts, and payments received within a specified time frame. The recovery rate is also calculated as an important metric for assessing the effectiveness of recovery efforts.

# Roll-rate Normal into Bucket 1

In [18]:
sq = f"""
with base as 
(select 
DATE('{sd}') wkstartdate
, DATE('{ed}') wkenddate
, loanAccountNumber
, installmentDueDate 
, DPDwoToleranceCustom dpd
, isDelinquent
, isCurrentDelinquent
, installmentAmount
, installmentPaidAmount
from `risk_credit_mis.loan_installments_table`
where date(installmentDueDate) between DATE('{sd}') and DATE('{ed}')
)
select wkstartdate, wkenddate 
, count(distinct loanAccountNumber) cntloans
, min(dpd) mindpd
, max(dpd) maxdpd
, sum(case when coalesce(dpd, 0) > 0 then isDelinquent else 0 end) wentdelinquent
, sum(case when coalesce(dpd, 0) > 0 and isDelinquent = 1 then isCurrentDelinquent else 0 end) stilldelinquent
, sum(case when coalesce(dpd, 0) between 1 and 30 then isDelinquent else 0 end) - sum(case when coalesce(dpd, 0) between 1 and 30 and isDelinquent = 1 then isCurrentDelinquent else 0 end) rollbacked
, sum(case when coalesce(dpd, 0) > 0 and isDelinquent = 1 then installmentAmount else 0 end) defaulteddelinquentamount
, sum(case when coalesce(dpd, 0) > 0 and isDelinquent = 1 and isCurrentDelinquent = 1 then installmentAmount else 0 end) stilldelinquentamount
, sum(case when coalesce(dpd, 0) between 1 and 30 and isDelinquent = 1 and isCurrentDelinquent = 0 then installmentPaidAmount else 0 end) rollbacked_amount
from base 
group by 1,2
;"""

dfrollrate = client.query(sq).to_dataframe(progress_bar_type='tqdm')
dfrollrate['rollback_rate'] =  dfrollrate['rollbacked']/dfrollrate['wentdelinquent']
dfrollrate['rollback_rate_v'] = dfrollrate['rollbacked_amount']/dfrollrate['defaulteddelinquentamount']
dfrollrate

Job ID bcf8448c-edab-4b9c-8341-8ecb3beb0a1e successfully executed: 100%|██████████|
Downloading: 100%|██████████|

,wkstartdate,wkenddate,cntloans,mindpd,maxdpd,wentdelinquent,stilldelinquent,rollbacked,defaulteddelinquentamount,stilldelinquentamount,rollbacked_amount,rollback_rate,rollback_rate_v
0,2024-03-25,2024-03-31,11005,0,6,5240,4852,388,12347556.06,11442218.71,920889.32,0.074046,0.074581

In [19]:
dfrollrate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   wkstartdate                1 non-null      dbdate
 1   wkenddate                  1 non-null      dbdate
 2   cntloans                   1 non-null      Int64
 3   mindpd                     1 non-null      Int64
 4   maxdpd                     1 non-null      Int64
 5   wentdelinquent             1 non-null      Int64
 6   stilldelinquent            1 non-null      Int64
 7   rollbacked                 1 non-null      Int64
 8   defaulteddelinquentamount  1 non-null      float64
 9   stilldelinquentamount      1 non-null      float64
 10  rollbacked_amount          1 non-null      float64
 11  rollback_rate              1 non-null      Float64
 12  rollback_rate_v            1 non-null      float64
dtypes: Float64(1), Int64(6), dbdate(2), float64(4)
memory usage: 239.0 bytes

In [20]:
df = pd.concat([df, dfrollrate[['wentdelinquent','rollbacked', 'defaulteddelinquentamount', 'rollbacked_amount', 'rollback_rate', 'rollback_rate_v']]], axis = 1)

This SQL code calculates delinquency-related metrics for loans within a specified date range. Here's an explanation of the logic:

1. **Common Table Expressions (CTE): `base`**
   - This CTE selects relevant information from the `risk_credit_mis.loan_installments_table` table, including loan account number, installment due date, Days Past Due (DPD) without tolerance, delinquency indicators (`isDelinquent` and `isCurrentDelinquent`), installment amount, and installment paid amount.
   - The data is filtered to include only installment due dates falling within the provided start and end dates.

2. **Main Query**
   - The main query aggregates the data from the `base` CTE.
   - It calculates various metrics related to delinquency, including the count of loans (`cntloans`), the minimum and maximum DPD values (`mindpd` and `maxdpd`), the count of loans that went delinquent (`wentdelinquent`), the count of loans still delinquent (`stilldelinquent`), the count of loans rolled back from delinquency (`rollbacked`), and the sum of defaulted delinquent amounts (`defaulteddelinquentamount`).
   - It also calculates the sum of installment amounts for loans still delinquent (`stilldelinquentamount`) and the sum of installment amounts for loans rolled back from delinquency (`rollbacked_amount`).
   - Two new columns are created: `rollback_rate` (the ratio of loans rolled back to loans that went delinquent) and `rollback_rate_v` (the ratio of the sum of installment amounts for loans rolled back to the sum of defaulted delinquent amounts).

In summary, the code provides insights into the delinquency status of loans, including the count of delinquent loans, the DPD distribution, and metrics related to loans that went delinquent, loans still delinquent, and loans rolled back from delinquency. The rollback rates are calculated to assess the effectiveness of rollback efforts.

# Other details

In [21]:
sq = f"""With
  dt AS (
  SELECT
    DATE('{sd}') WkstartDate,
    DATE('{ed}') WkendDate),
disb as (select distinct disbursementDateTime, customerId, loanType, loanAccountNumber, SUBSTR(mobileNo, -10) as mobileno , loanPaidStatus
, row_number() over(partition by SUBSTR(mobileNo, -10) order by SUBSTR(mobileNo, -10))rnk
from `risk_credit_mis.loan_master_table`, dt 
where 
date_trunc(disbursementDateTime, day) <= dt.WkendDate
-- between dt.WkstartDate and dt.WkendDate 
and 
coalesce(loanPaidStatus, 'NA') not in ('Settled','Completed')
)
,
wc1 as 
(
SELECT
  dt.WkstartDate,
  dt.WkendDate,
  Genesys_call_id,
  callDatetime,
  COALESCE(IS_APC, 0) APC,
  COALESCE(IS_RPC, 0) RPC,
  COALESCE(IS_PTP,0) PTP,
  RIGHT(mobileNumber, 10) mobileNumber,
  g.campaignName,
  g.agentGroup,
  g.agentFullName,
  g.employeeId,
  g.connected,
  g.notConnected,
  g.callResult,
  ROW_NUMBER() OVER(PARTITION BY Genesys_call_id ORDER BY callDatetime DESC, COALESCE(IS_APC, 0), COALESCE(IS_RPC, 0), COALESCE(IS_PTP, 0))rnk
FROM
  `risk_credit_mis.call_attempt_history_gensys` g,  dt
LEFT JOIN
  `dap_ds_poweruser_playground.campaignmaster` cm
ON
  UPPER(cm.Campaignname) = UPPER(g.campaignName)
INNER JOIN disb ON  SUBSTR(disb.mobileNo, -10) = SUBSTR(CAST(g.mobileNumber AS string), -10)
WHERE
  cm.reference = 'WC'
  and disb.rnk = 1
  and date(callDatetime) between  dt.WkstartDate and dt.WkendDate
)
, 
wc as 
(select wc1.WkstartDate, wc1.WkendDate, Genesys_call_id,
callDatetime,
APC,
RPC,
PTP,
case when APC = 1 then mobileNumber end apc_m,
case when RPC = 1 then mobileNumber end rpc_m,
case when PTP = 1 then mobileNumber end ptp_m,
mobileNumber,
campaignName,
agentGroup,
agentFullName,
employeeId,
connected,
notConnected,
callResult,
rnk,
from wc1 
where rnk = 1
)
,
wcbase as 
( 
select wc.WkstartDate, wc.WkendDate,
 Genesys_call_id,
callDatetime,
APC,
RPC,
PTP,
mobileNumber,
campaignName,
agentGroup,
agentFullName,
employeeId,
connected,
notConnected,
callResult,
rnk,
apc_m,
rpc_m,
ptp_m
from wc
)
, 
cd AS (
  SELECT
    customer_id,
    new_mobile_number,
    ROW_NUMBER() OVER(PARTITION BY customer_id ORDER BY change_date)rnk
  FROM
    `risk_credit_mis.customer_contact_details`
  WHERE
    ACTIVE = 'Y')
  ,
  buck1 as 
  (select distinct dt.WkstartDate, dt.WkendDate, lbfrc.loanAccountNumber, lbfrc.loanStatus, lbfrc.bucketDate, lbfrc.Max_current_DPD as DPD, lmt.customerId, right(cd.new_mobile_number, 10) newmobilenumber
  , row_number() over(partition by lbfrc.loanAccountNumber order by lbfrc.bucketDate desc) buck1rnk
  from `risk_credit_mis.loan_bucket_flow_report_core` lbfrc, dt 
  left join `risk_credit_mis.loan_master_table` lmt on lmt.loanAccountNumber = lbfrc.loanAccountNumber
  left join cd on cd.customer_id = lmt.customerId
  where date(bucketDate) between  date(dt.WkstartDate) and  date(dt.WkendDate)
  and coalesce(lbfrc.Max_current_DPD, 0) between 1 and 30 
  and date(lbfrc.firstDueDate) <= date(current_date())
  and lbfrc.loanStatus = 'In Arrears'
  and cd.rnk = 1
  )
    ,
buck1cr1 as 
(select distinct
 dt.WkstartDate,
  dt.WkendDate,
  g.Genesys_call_id,
  g.callDatetime,
  COALESCE(g.IS_APC, 0) APC,
  COALESCE(g.IS_RPC, 0) RPC,
  COALESCE(g.IS_PTP,0) PTP,
  RIGHT(g.mobileNumber, 10) mobileNumber,
  buck1.newmobilenumber mobilefrombuckettable,
  g.campaignName,
  g.agentGroup,
  g.agentFullName,
  g.employeeId,
  g.connected,
  g.notConnected,
  g.callResult, 
  buck1.loanAccountNumber,
  buck1.DPD,
  case when g.IS_APC = 1 then g.mobileNumber end apc_m,
  case when g.IS_RPC = 1 then g.mobileNumber end rpc_m,
  case when g.IS_PTP = 1 then mobileNumber end ptp_m,
  ROW_NUMBER() OVER(PARTITION BY g.Genesys_call_id ORDER BY g.callDatetime DESC, COALESCE(g.IS_APC, 0), COALESCE(g.IS_RPC, 0), COALESCE(g.IS_PTP, 0))rnk 
from  `risk_credit_mis.call_attempt_history_gensys` g,  dt
inner join buck1 on buck1.newmobilenumber = right(g.mobileNumber,10)
LEFT JOIN  `dap_ds_poweruser_playground.campaignmaster` cm ON  UPPER(cm.Campaignname) = UPPER(g.campaignName)
where cm.Reference = 'COLL' and cm.Subcategory = 'SOFT'
AND DATE(g.callDatetime) BETWEEN DATE(dt.WkstartDate) AND DATE(dt.WkendDate)
and buck1.buck1rnk = 1
)
,
buck1cr1base as 
(select buck1cr1.WkstartDate, buck1cr1.WkendDate, buck1cr1.Genesys_call_id, buck1cr1.callDatetime
, buck1cr1.mobileNumber
, buck1cr1.mobilefrombuckettable
, buck1cr1.campaignName
, buck1cr1.agentGroup
, buck1cr1.agentFullName
, buck1cr1.employeeId
, buck1cr1.connected
, buck1cr1.notConnected
, buck1cr1.callResult
, buck1cr1.loanAccountNumber
, buck1cr1.apc_m 
, buck1cr1.rpc_m
, buck1cr1.ptp_m 
, buck1cr1.DPD
, buck1cr1.rnk 
 from buck1cr1 where rnk = 1
)
,
buck1end as 
(select distinct dt.WkstartDate, dt.WkendDate, lbfrc.loanAccountNumber, lbfrc.loanStatus, lbfrc.bucketDate, lbfrc.Max_current_DPD as DPD, lmt.customerId, right(cd.new_mobile_number, 10) newmobilenumber
from `risk_credit_mis.loan_bucket_flow_report_core` lbfrc, dt 
left join `risk_credit_mis.loan_master_table` lmt on lmt.loanAccountNumber = lbfrc.loanAccountNumber
left join cd on cd.customer_id = lmt.customerId
where date(bucketDate) = date(dt.WkendDate)
and date(lbfrc.firstDueDate) <= date(current_date())
and cd.rnk = 1
)
, 
ptpstatus as 
(select max(dt.WkstartDate)WkstartDate, max(dt.WkendDate)WkendDate, cps.Loan_account_no, sum(case when coalesce(cps.PTP_Status, 0) = 1 then 1 else 0 end) ptpstatus 
from `risk_credit_mis.collection_ptp_status`  cps, dt where coalesce(PTP_Status, 0) = 1
and date(contact_date) between dt.WkstartDate and dt.WkendDate
group by cps.Loan_account_no
),
payments as (select loanAccountNumber from `risk_credit_mis.loan_installments_table`, dt where date(lastPaymentDate) between dt.WkstartDate and dt.WkendDate) 
,
buck1normalized as 
(select buck1.WkstartDate, buck1.WkendDate, buck1.loanAccountNumber , buck1.DPD weekstartDPD, buck1end.DPD weekendDPD
, case when buck1.loanAccountNumber in (select distinct Loan_account_no from `risk_credit_mis.collection_ptp_status` where PTP_Due_Date is not null) then buck1.newmobilenumber end ptp_received
, case when buck1.loanAccountNumber in (select distinct Loan_account_no from ptpstatus) then buck1.newmobilenumber end Kept_ptp
, case when coalesce(buck1.DPD, 0) between 1 and 30 and coalesce(buck1end.DPD, 0) = 0 and buck1.loanAccountNumber in (select distinct Loan_account_no from ptpstatus) then buck1.newmobilenumber end Normalized 
, case when coalesce(buck1.DPD, 0) between 1 and 30 and coalesce(buck1end.DPD, 0) = 0 and buck1.loanAccountNumber not in (select distinct Loan_account_no from ptpstatus) then buck1.newmobilenumber end Normalizedwithoutptp 
, case when coalesce(buck1.DPD, 0) between 1 and 30 and coalesce(buck1end.DPD, 0) <= 30 and buck1.loanAccountNumber in (select loanAccountNumber from payments) then buck1.newmobilenumber end Normalized_greg 
, case when coalesce(buck1.DPD, 0) between 1 and 30 then buck1.newmobilenumber end Normalized_greg_denominator
, case when coalesce(buck1.DPD, 0) between 1 and 30 and coalesce(buck1end.DPD, 0) <= 30 and buck1.loanAccountNumber not in (select distinct Loan_account_no from ptpstatus) then buck1.newmobilenumber end Normalizedwithoutptp_greg
from buck1
left join buck1end on buck1.loanAccountNumber =  buck1end.loanAccountNumber
)
,
buck2 as 
(select dt.WkstartDate, dt.WkendDate, lbfrc.loanAccountNumber, lbfrc.loanStatus, lbfrc.bucketDate, lbfrc.Max_current_DPD as DPD, lmt.customerId, right(cd.new_mobile_number, 10) newmobilenumber
, row_number() over(partition by lbfrc.loanAccountNumber order by lbfrc.bucketDate desc) buck2rnk
from `risk_credit_mis.loan_bucket_flow_report_core` lbfrc, dt 
left join `risk_credit_mis.loan_master_table` lmt on lmt.loanAccountNumber = lbfrc.loanAccountNumber
left join cd on cd.customer_id = lmt.customerId
where date(bucketDate)  between  date(dt.WkstartDate) and  date(dt.WkendDate)
and coalesce(lbfrc.Max_current_DPD, 0) between 31 and 60 
and date(lbfrc.firstDueDate) <= date(current_date())
and lbfrc.loanStatus = 'In Arrears'
and cd.rnk = 1
)
,
buck2cr1 as 
(select   dt.WkstartDate,
  dt.WkendDate,
  g.Genesys_call_id,
  g.callDatetime,
  COALESCE(g.IS_APC, 0) APC,
  COALESCE(g.IS_RPC, 0) RPC,
  COALESCE(g.IS_PTP,0) PTP,
  RIGHT(g.mobileNumber, 10) mobileNumber,
  buck2.newmobilenumber mobilefrombuckettable,
  g.campaignName,
  g.agentGroup,
  g.agentFullName,
  g.employeeId,
  g.connected,
  g.notConnected,
  g.callResult, 
  buck2.loanAccountNumber,
  buck2.DPD,
  case when g.IS_APC = 1 then g.mobileNumber end apc_m,
  case when g.IS_RPC = 1 then g.mobileNumber end rpc_m,
  case when g.IS_PTP = 1 then mobileNumber end ptp_m,
  ROW_NUMBER() OVER(PARTITION BY g.Genesys_call_id ORDER BY g.callDatetime DESC, COALESCE(g.IS_APC, 0), COALESCE(g.IS_RPC, 0), COALESCE(g.IS_PTP, 0))rnk 
from  `risk_credit_mis.call_attempt_history_gensys` g,  dt
inner join buck2 on buck2.newmobilenumber = right(g.mobileNumber,10)
LEFT JOIN
  `dap_ds_poweruser_playground.campaignmaster` cm ON  UPPER(cm.Campaignname) = UPPER(g.campaignName)
where cm.Reference = 'COLL' 
AND DATE(g.callDatetime) BETWEEN DATE(dt.WkstartDate) AND DATE(dt.WkendDate)
and buck2.buck2rnk = 1
)
,buck2cr1base as 
(select buck2cr1.WkstartDate, buck2cr1.WkendDate, buck2cr1.Genesys_call_id, buck2cr1.callDatetime
, buck2cr1.mobileNumber
, buck2cr1.mobilefrombuckettable
, buck2cr1.campaignName
, buck2cr1.agentGroup
, buck2cr1.agentFullName
, buck2cr1.employeeId
, buck2cr1.connected
, buck2cr1.notConnected
, buck2cr1.callResult
, buck2cr1.loanAccountNumber
, buck2cr1.apc_m 
, buck2cr1.rpc_m
, buck2cr1.ptp_m 
, buck2cr1.DPD
, buck2cr1.rnk 
 from buck2cr1 where rnk = 1
)
,
buck2normalized as 
(select buck2.WkstartDate, buck2.WkendDate, buck2.loanAccountNumber , buck2.DPD weekstartDPD, buck1end.DPD weekendDPD
, case when buck2.loanAccountNumber in (select distinct Loan_account_no from `risk_credit_mis.collection_ptp_status` where PTP_Due_Date is not null) then buck2.newmobilenumber end ptp_received
, case when buck2.loanAccountNumber in (select distinct Loan_account_no from ptpstatus) then buck2.newmobilenumber end Kept_ptp
, case when coalesce(buck2.DPD, 0) between 31 and 60 and coalesce(buck1end.DPD, 0) = 0 and buck2.loanAccountNumber in (select distinct Loan_account_no from ptpstatus) then buck2.newmobilenumber end Normalized 
, case when coalesce(buck2.DPD, 0) between 31 and 60 and coalesce(buck1end.DPD, 0) = 0 and buck2.loanAccountNumber not in (select distinct Loan_account_no from ptpstatus) then buck2.newmobilenumber end Normalizedwithoutptp 
, case when coalesce(buck2.DPD, 0) between 31 and 60 then buck2.newmobilenumber end Normalized_greg_denominator 
, case when coalesce(buck2.DPD, 0) between 31 and 60 and coalesce(buck1end.DPD, 0) <= 60 and buck2.loanAccountNumber in (select loanAccountNumber from payments) then buck2.newmobilenumber end Normalized_greg 
, case when coalesce(buck2.DPD, 0) between 31 and 60 and coalesce(buck1end.DPD, 0) <= 60 and buck2.loanAccountNumber not in (select distinct Loan_account_no from ptpstatus) then buck2.newmobilenumber end Normalizedwithoutptp_greg 
from buck2
left join buck1end on buck2.loanAccountNumber =  buck1end.loanAccountNumber
)
,
Ptp_payment as 
(select date_trunc(contact_date, day) contact_date, Loan_account_no, Phone_no, sum(case when coalesce(PTP_Status, 0) > 0 then PTP_Payment_amount else 0 end) ptppaymentamount 
from prj-prod-dataplatform.risk_credit_mis.collection_ptp_status group by date_trunc(contact_date, day), Loan_account_no, Phone_no
)
,
buck1ptpamt as 
(select distinct buck1normalized.WkstartDate,buck1normalized.WkendDate,loanAccountNumber
, case when Normalized_greg is not null then (select sum(ptppaymentamount) from Ptp_payment where Loan_account_no = buck1normalized.loanAccountNumber and date(contact_date) between dt.WkstartDate and dt.WkendDate) else 0 end ptpamount_normalized  
,(select sum(ptppaymentamount) from Ptp_payment where Loan_account_no = buck1normalized.loanAccountNumber and date(contact_date) between dt.WkstartDate and dt.WkendDate)  ptpamount  
from buck1normalized, dt)
,
buck2ptpamt as 
(select distinct buck2normalized.WkstartDate,buck2normalized.WkendDate,loanAccountNumber
, case when Normalized is not null then (select sum(ptppaymentamount) from Ptp_payment where Loan_account_no = buck2normalized.loanAccountNumber and date(contact_date) 
between dt.WkstartDate and dt.WkendDate) else 0 end ptpamount_normalized  
, (select sum(ptppaymentamount) from Ptp_payment where Loan_account_no = buck2normalized.loanAccountNumber and date(contact_date) 
between dt.WkstartDate and dt.WkendDate)  ptpamount 
from buck2normalized, dt),
fte as 
(select distinct agentFullName FROM
  `risk_credit_mis.call_attempt_history_gensys` g,
  dt
LEFT JOIN
  `dap_ds_poweruser_playground.campaignmaster` cm
ON
  UPPER(cm.Campaignname) = UPPER(g.campaignName)
WHERE
   DATE(g.callDatetime) BETWEEN DATE(dt.WkstartDate)  AND DATE(WkendDate)
   and cm.reference in ('REM', 'COLL', 'WC')),
LUM as 
(select distinct loanAccountNumber from `prj-prod-dataplatform.risk_credit_mis.loan_master_table`, dt where flagDisbursement = 1 and date_trunc(disbursementDateTime, day) < dt.WkstartDate
and loanPaidStatus not in ('Written Off','Completed', 'Settled')),
aw as 
(select bucketDate, loanAccountNumber from `risk_credit_mis.loan_bucket_flow_report_core`, dt where coalesce(Max_current_DPD ,0) between 1 and 179 and date(bucketDate) = dt.WkstartDate and loanStatus not in ('Written Off','Completed', 'Settled'))
select *,
(select count(distinct ptp_received) from buck1normalized)+(select count(distinct ptp_received) from buck2normalized) ptp_received,
(select count(distinct Kept_ptp) from buck1normalized) + (select count(distinct Kept_ptp) from buck2normalized) kept_ptp,
(select sum(ptpamount) from buck1ptpamt)bucket1ptppmt,
(select sum(ptpamount) from buck2ptpamt) bucket2ptppmt,
(select count(distinct agentFullName) from fte)FTE,
(select count(distinct loanAccountNumber) from LUM) total_accounts,
(select count(distinct loanAccountNumber) from aw) active_works
from dt;
"""

df_others = client.query(sq).to_dataframe(progress_bar_type = 'tqdm')
df_others['kept_ptp_rate'] = df_others['kept_ptp']/df_others['ptp_received']
df_others.columns

Job ID c9315ffb-259c-4a3e-b31c-901c7cbb6b4b successfully executed: 100%|██████████|
Downloading: 100%|██████████|

Index(['WkstartDate', 'WkendDate', 'ptp_received', 'kept_ptp', 'bucket1ptppmt',
       'bucket2ptppmt', 'FTE', 'total_accounts', 'active_works',
       'kept_ptp_rate'],
      dtype='object')

In [22]:
pd.set_option("display.max_columns", None)
df = pd.concat([df, df_others[['ptp_received', 'kept_ptp', 'kept_ptp_rate', 'bucket1ptppmt',
       'bucket2ptppmt', 'FTE', 'total_accounts', 'active_works'    ]]], axis = 1)
df

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1contactrate,Normalized_Greg,Normalized_denominator,Bucket1_Normalized,bucket2contacted,bucket2callcontacted,bucket2contactrate,Normalized_buck2_Greg,Normalized_buck2_denominator,bucket2Normalizationrate,inArearstoTotal_Overdue_Amount,paymentsfromoverdue,recoveryrate,wentdelinquent,rollbacked,defaulteddelinquentamount,rollbacked_amount,rollback_rate,rollback_rate_v,ptp_received,kept_ptp,kept_ptp_rate,bucket1ptppmt,bucket2ptppmt,FTE,total_accounts,active_works
0,2024-03-25,2024-03-31,334,601,0.55574,2789,7191,0.387846,449,3623,0.12393,729,3600,0.2025,131,2627,0.049867,76,1974,0.038501,4.963229e+08,3150064.47,0.006347,5240,388,12347556.06,920889.32,0.074046,0.074581,2164,149,0.068854,248999.11,13224.16,28,55742,11595

This SQL code performs a complex analysis involving multiple steps to derive various metrics related to call center operations, loan accounts, and payment status. Let's break down the logic of the code:

1. **Common Table Expressions (CTEs):**
   - **`dt`:** Creates a date table with the provided start and end dates.
   - **`disb`:** Retrieves disbursement-related information for loans, filtering out settled or completed loans.
   - **`wc1`:** Retrieves call attempt history data from the Genesys system, joining it with the `disb` CTE based on mobile numbers and campaign references. It uses window functions to assign row numbers based on call datetime and various call types (APC, RPC, PTP).
   - **`wc`:** Filters the `wc1` CTE to include only rows with row number (`rnk`) equal to 1, effectively selecting the latest call attempt for each Genesys call ID.
   - **`wcbase`:** Creates a base table for call attempt history with relevant columns.

2. **Customer Contact Details CTE (`cd`):**
   - Retrieves customer contact details and assigns row numbers based on the change date.

3. **Bucket 1 CTE (`buck1`):**
   - Retrieves loan bucket flow data for loans with a maximum DPD between 1 and 30, first due date before the current date, and an 'In Arrears' status.

4. **Bucket 1 Call Attempt (`buck1cr1`):**
   - Retrieves call attempt history for Bucket 1 loans, filtering based on campaign references and call datetime. It also uses window functions to assign row numbers.

5. **Bucket 1 Normalization (`buck1normalized`):**
   - Performs normalization for Bucket 1, categorizing loans based on specific conditions and calculating certain metrics.

6. **Bucket 2 CTE (`buck2`):**
   - Retrieves loan bucket flow data for loans with a maximum DPD between 31 and 60, 'In Arrears' status, and first due date before the current date.

7. **Bucket 2 Call Attempt (`buck2cr1`):**
   - Retrieves call attempt history for Bucket 2 loans, filtering based on campaign references and call datetime. It also uses window functions to assign row numbers.

8. **Bucket 2 Normalization (`buck2normalized`):**
   - Performs normalization for Bucket 2, categorizing loans based on specific conditions and calculating certain metrics.

9. **PTP Status CTE (`ptpstatus`):**
   - Determines the PTP (Promise to Pay) status for loans within the specified date range.

10. **Payments CTE (`payments`):**
    - Retrieves loan account numbers with payments made within the specified date range.

11. **Bucket 1 PTP Amount (`buck1ptpamt`):**
    - Calculates PTP amounts for Bucket 1 loans.

12. **Bucket 2 PTP Amount (`buck2ptpamt`):**
    - Calculates PTP amounts for Bucket 2 loans.

13. **Full-Time Employees (`fte`):**
    - Retrieves distinct agent full names considered as full-time employees.

14. **Loan Under Management (`LUM`):**
    - Retrieves loan account numbers with a disbursement date before the current analysis period.

15. **Active Works (`aw`):**
    - Retrieves active works (loans) with a maximum DPD between 1 and 179.

16. **Final Selection and Aggregation:**
    - The final SELECT statement aggregates various metrics and counts based on the derived CTEs and external tables.

17. **Derived Metrics:**
    - Calculations for metrics like PTP received, kept PTP, PTP payment amounts, full-time employees, total accounts, and active works.

18. **Calculated Rates:**
    - Calculates the 'kept PTP rate' as the ratio of kept PTP to PTP received.

The code essentially combines data from multiple sources, performs various normalizations and aggregations, and calculates key metrics related to call center operations, loan accounts, and payment status. The final output is a DataFrame with the derived metrics and rates.

# Final Merge

In [23]:
df['WkstartDate'] = df['WkstartDate'].astype(str)
df['WkendDate'] = df['WkendDate'].astype(str)
# Convert columns to the correct data types
df['bucket1ptppmt'] = df['bucket1ptppmt'].astype(float)
df['bucket2ptppmt'] = df['bucket2ptppmt'].astype(float)
df['WelcomeCall_ContactRate'] = df['WelcomeCall_ContactRate'].astype(float)
df['remindercallcontactrate'] = df['remindercallcontactrate'].astype(float)
df['bucket1contactrate'] = df['bucket1contactrate'].astype(float)
df['Bucket1_Normalized'] = df['Bucket1_Normalized'].astype(float)
df['bucket2contactrate'] = df['bucket2contactrate'].astype(float)
df['bucket2Normalizationrate'] = df['bucket2Normalizationrate'].astype(float)
df['kept_ptp_rate'] = df['kept_ptp_rate'].astype(float)
df['recoveryrate'] = df['recoveryrate'].astype(float)
df['paymentsfromoverdue'] = df['paymentsfromoverdue'].astype(float)
df['inArearstoTotal_Overdue_Amount'] = df['inArearstoTotal_Overdue_Amount'].astype(float)
df['defaulteddelinquentamount'] = df['defaulteddelinquentamount'].astype(float)	
df['rollbacked_amount'] = df['rollbacked_amount'].astype(float)
df['rollback_rate'] = df['rollback_rate'].astype(float)
df['rollback_rate_v'] = df['rollback_rate_v'].astype(float)
			



df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 37 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   WkstartDate                     1 non-null      object
 1   WkendDate                       1 non-null      object
 2   apc_wc_connected                1 non-null      Int64
 3   wccalled                        1 non-null      Int64
 4   WelcomeCall_ContactRate         1 non-null      float64
 5   apc_rc_connected                1 non-null      Int64
 6   rccalled                        1 non-null      Int64
 7   remindercallcontactrate         1 non-null      float64
 8   bucket1contacted                1 non-null      Int64
 9   bucketcallcontacted             1 non-null      Int64
 10  bucket1contactrate              1 non-null      float64
 11  Normalized_Greg                 1 non-null      Int64
 12  Normalized_denominator          1 non-null      Int64
 13  Bucket1_Normalized              1 non-null      float64
 14  bucket2contacted                1 non-null      Int64
 15  bucket2callcontacted            1 non-null      Int64
 16  bucket2contactrate              1 non-null      float64
 17  Normalized_buck2_Greg           1 non-null      Int64
 18  Normalized_buck2_denominator    1 non-null      Int64
 19  bucket2Normalizationrate        1 non-null      float64
 20  inArearstoTotal_Overdue_Amount  1 non-null      float64
 21  paymentsfromoverdue             1 non-null      float64
 22  recoveryrate                    1 non-null      float64
 23  wentdelinquent                  1 non-null      Int64
 24  rollbacked                      1 non-null      Int64
 25  defaulteddelinquentamount       1 non-null      float64
 26  rollbacked_amount               1 non-null      float64
 27  rollback_rate                   1 non-null      float64
 28  rollback_rate_v                 1 non-null      float64
 29  ptp_received                    1 non-null      Int64
 30  kept_ptp                        1 non-null      Int64
 31  kept_ptp_rate                   1 non-null      float64
 32  bucket1ptppmt                   1 non-null      float64
 33  bucket2ptppmt                   1 non-null      float64
 34  FTE                             1 non-null      Int64
 35  total_accounts                  1 non-null      Int64
 36  active_works                    1 non-null      Int64
dtypes: Int64(19), float64(16), object(2)
memory usage: 443.0+ bytes

In [24]:
df.head()

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1contactrate,Normalized_Greg,Normalized_denominator,Bucket1_Normalized,bucket2contacted,bucket2callcontacted,bucket2contactrate,Normalized_buck2_Greg,Normalized_buck2_denominator,bucket2Normalizationrate,inArearstoTotal_Overdue_Amount,paymentsfromoverdue,recoveryrate,wentdelinquent,rollbacked,defaulteddelinquentamount,rollbacked_amount,rollback_rate,rollback_rate_v,ptp_received,kept_ptp,kept_ptp_rate,bucket1ptppmt,bucket2ptppmt,FTE,total_accounts,active_works
0,2024-03-25,2024-03-31,334,601,0.55574,2789,7191,0.387846,449,3623,0.12393,729,3600,0.2025,131,2627,0.049867,76,1974,0.038501,4.963229e+08,3150064.47,0.006347,5240,388,12347556.06,920889.32,0.074046,0.074581,2164,149,0.068854,248999.11,13224.16,28,55742,11595

In [25]:
df.to_csv("Temp_file.csv", index = False)

In [26]:
# Reset the index of the DataFrame
df = df.reset_index(drop=True)

# Define the dataset and table references
dataset_id = 'dap_ds_poweruser_playground'
table_id = 'collection_Weekly_kpi_v5'
# Define the table schema as per your DataFrame columns
schema = [
    bigquery.SchemaField("WkstartDate", "string"),
    bigquery.SchemaField("WkendDate", "string"),
    bigquery.SchemaField("apc_wc_connected", "int64"),
    bigquery.SchemaField("wccalled", "int64"),
    bigquery.SchemaField("WelcomeCall_ContactRate", "float64"),
    bigquery.SchemaField("apc_rc_connected", "int64"),
    bigquery.SchemaField("rccalled", "int64"),
    bigquery.SchemaField("remindercallcontactrate", "float64"),
    bigquery.SchemaField("bucket1contacted", "int64"),
    bigquery.SchemaField("bucketcallcontacted", "int64"),
    bigquery.SchemaField("bucket1contactrate", "float64"),
    bigquery.SchemaField("Normalized_Greg", "int64"),
    bigquery.SchemaField("Normalized_denominator", "int64"),
    bigquery.SchemaField("Bucket1_Normalized", "float64"),
    bigquery.SchemaField("bucket2contacted", "int64"),
    bigquery.SchemaField("bucket2callcontacted", "int64"),
    bigquery.SchemaField("bucket2contactrate", "float64"),
    bigquery.SchemaField("Normalized_buck2_Greg", "int64"),
    bigquery.SchemaField("Normalized_buck2_denominator", "int64"),
    bigquery.SchemaField("bucket2Normalizationrate", "float64"),
    bigquery.SchemaField("ptp_received", "int64"),
    bigquery.SchemaField("kept_ptp", "int64"),
    bigquery.SchemaField("kept_ptp_rate", "float64"),
    bigquery.SchemaField("inArearstoTotal_Overdue_Amount", "float64"),
    bigquery.SchemaField("paymentsfromoverdue", "float64"),
    bigquery.SchemaField("recoveryrate", 'float64'),
    bigquery.SchemaField("wentdelinquent", "int64"),
    bigquery.SchemaField("rollbacked", "int64"),
    bigquery.SchemaField("defaulteddelinquentamount", "float64"),
    bigquery.SchemaField("rollbacked_amount", "float64"),
    bigquery.SchemaField("rollback_rate", "float64"),
    bigquery.SchemaField("rollback_rate_v", "float64"),
    bigquery.SchemaField("bucket1ptppmt", "float64"),
    bigquery.SchemaField("bucket2ptppmt", "float64"),
    bigquery.SchemaField("FTE", "int64"),
    bigquery.SchemaField("total_accounts", "int64"),
    bigquery.SchemaField("active_works", "int64"),
]
# Create the dataset reference
dataset_ref = client.dataset(dataset_id)

# Define the table reference
table_ref = dataset_ref.table(table_id)

# Configure the job to overwrite the table if it already exists
job_config = bigquery.LoadJobConfig(schema = schema)

# Load the DataFrame into BigQuery
job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)

# Wait for the job to complete
job.result()

print(f"Table {table_id} created in dataset {dataset_id}.")

Table collection_Weekly_kpi_v5 created in dataset dap_ds_poweruser_playground.

# Plots

In [27]:
sq = """select * from dap_ds_poweruser_playground.collection_Weekly_kpi_v5 order by 1 desc;"""
df1 = client.query(sq).to_dataframe()

In [28]:
df1

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1contactrate,Normalized_Greg,Normalized_denominator,Bucket1_Normalized,bucket2contacted,bucket2callcontacted,bucket2contactrate,Normalized_buck2_Greg,Normalized_buck2_denominator,bucket2Normalizationrate,inArearstoTotal_Overdue_Amount,paymentsfromoverdue,recoveryrate,wentdelinquent,rollbacked,defaulteddelinquentamount,rollbacked_amount,rollback_rate,rollback_rate_v,ptp_received,kept_ptp,kept_ptp_rate,bucket1ptppmt,bucket2ptppmt,FTE,total_accounts,active_works
0,2024-03-25,2024-03-31,334,601,0.555740,2789,7191,0.387846,449,3623,0.123930,729,3600,0.202500,131,2627,0.049867,76,1974,0.038501,4.963229e+08,3150064.47,0.006347,5240,388,12347556.06,920889.32,0.074046,0.074581,2164,149,0.068854,248999.11,13224.16,28,55742,11595
1,2024-03-18,2024-03-24,1030,1545,0.666667,1898,5561,0.341306,715,3986,0.179378,410,3135,0.130781,136,2087,0.065165,47,1914,0.024556,4.855786e+08,2854453.85,0.005878,3117,447,7076555.27,1010148.06,0.143407,0.142746,2129,263,0.123532,518001.55,40034.70,28,54741,10874
2,2024-03-11,2024-03-17,952,1449,0.657005,2693,6041,0.445787,786,4678,0.168021,491,3108,0.157979,150,2371,0.063264,68,1860,0.036559,4.757289e+08,4735094.80,0.009953,5156,767,12068690.99,1757044.92,0.148759,0.145587,2343,336,0.143406,730139.48,52946.73,28,53815,10645
3,2024-03-04,2024-03-10,838,1291,0.649109,2809,7081,0.396695,574,3661,0.156788,503,3213,0.156552,128,2096,0.061069,68,1817,0.037424,4.700877e+08,3059649.28,0.006509,1500,277,3420070.22,604936.78,0.184667,0.176878,2050,195,0.095122,380608.70,25750.82,28,53276,11026
4,2024-02-26,2024-03-03,764,1226,0.623165,3388,6985,0.485039,849,5132,0.165433,544,2948,0.184532,137,2437,0.056217,73,1746,0.041810,4.527147e+08,5312617.95,0.011735,8295,929,19945734.75,1960149.22,0.111995,0.098274,2548,363,0.142465,688526.03,31975.68,30,52526,10399
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,2023-01-23,2023-01-29,293,389,0.753213,1150,2687,0.427987,111,1216,0.091283,75,1092,0.068681,78,1595,0.048903,41,1116,0.036738,9.268995e+07,756329.77,0.008160,1818,202,4057708.88,543200.98,0.111111,0.133869,1149,51,0.044386,93098.53,8453.00,22,4595,6387
62,2023-01-16,2023-01-22,245,307,0.798046,373,893,0.417693,34,180,0.188889,130,1292,0.100619,12,276,0.043478,13,1082,0.012015,9.039216e+07,1078265.87,0.011929,1636,155,3668490.63,424605.70,0.094743,0.115744,948,49,0.051688,122055.36,5000.00,22,4315,6481
63,2023-01-09,2023-01-15,370,750,0.493333,516,1080,0.477778,95,1219,0.077933,80,1228,0.065147,25,1220,0.020492,26,1061,0.024505,8.627183e+07,623028.54,0.007222,2538,281,5582778.08,813036.90,0.110717,0.145633,1084,40,0.036900,78812.63,22947.00,22,4125,6272
64,2023-01-02,2023-01-08,525,878,0.597950,189,398,0.474874,108,1237,0.087308,176,1442,0.122053,12,1006,0.011928,24,1056,0.022727,8.426213e+07,773884.51,0.009184,695,65,1537570.15,161293.86,0.093525,0.104902,980,73,0.074490,170992.06,31952.67,22,3785,6585
65,2022-12-26,2023-01-01,376,696,0.540230,705,1832,0.384825,54,159,0.339623,122,1298,0.093991,38,556,0.068345,27,1102,0.024501,7.505047e+07,1222731.55,0.016292,14496,506,32937500.78,1326103.00,0.034906,0.040261,1403,50,0.035638,104739.66,19630.00,22,3113,5995

In [29]:
import plotly.graph_objects as go
import pandas as pd

# Create an interactive Plotly figure
fig = go.Figure()

# Add traces for each line
fig.add_trace(go.Scatter(x=df1['WkstartDate'].astype('category'), y=df1['WelcomeCall_ContactRate'], mode='lines+markers', name='WelcomeCall_ContactRate'))
fig.add_trace(go.Scatter(x=df1['WkstartDate'].astype('category'), y=df1['remindercallcontactrate'], mode='lines+markers', name='remindercallcontactrate'))
fig.add_trace(go.Scatter(x=df1['WkstartDate'].astype('category'), y=df1['bucket1contactrate'], mode='lines+markers', name='bucket1contactrate'))
fig.add_trace(go.Scatter(x=df1['WkstartDate'].astype('category'), y=df1['bucket2contactrate'], mode='lines+markers', name='bucket2contactrate'))

# Update layout for better appearance
fig.update_layout(
    title='Contact Rates Over Time',
    xaxis=dict(title='Week Start Date', type='category', tickangle=90),
    yaxis=dict(title='Contact Rate'),
    template='plotly_dark'# You can choose a different template if needed
)

# Show the interactive plot
fig.show()

In [30]:
import plotly.graph_objects as go
import pandas as pd

# Create an interactive Plotly figure
fig = go.Figure()

# Add traces for each line
fig.add_trace(go.Scatter(x=df1['WkstartDate'].astype('category'), y=df1['Bucket1_Normalized'], mode='lines+markers', name='Bucket1_Normalized'))
fig.add_trace(go.Scatter(x=df1['WkstartDate'].astype('category'), y=df1['bucket2Normalizationrate'], mode='lines+markers', name='bucket2Normalizationrate'))
fig.add_trace(go.Scatter(x=df1['WkstartDate'].astype('category'), y=df1['recoveryrate'], mode='lines+markers', name='recoveryrate'))
fig.add_trace(go.Scatter(x=df1['WkstartDate'].astype('category'), y=df1['rollback_rate'], mode='lines+markers', name='rollback_rate'))
fig.add_trace(go.Scatter(x=df1['WkstartDate'].astype('category'), y=df1['rollback_rate_v'], mode='lines+markers', name='rollback_rate_v'))

# Update layout for better appearance
fig.update_layout(
    title='Recovery Rates Over Time',
    xaxis=dict(title='Week Start Date', type='category', tickangle=90),
    yaxis=dict(title='Recovery Rate', type='log'),  # Use type='log' for logarithmic scale
    template='plotly_dark'  # You can choose a different template if needed
)

# Show the interactive plot
fig.show()

# Try the csv one if the above query fails

In [31]:
# from google.cloud import bigquery

# # Set up the BigQuery client with your project ID
# project_id = 'prj-prod-dataplatform'  # Replace with your own project ID
# client = bigquery.Client(project=project_id)

# # Define the dataset and table references
# dataset_id = 'dap_ds_poweruser_playground'
# table_id = 'temp_collection_Monthly_kpi_v5'

# # Specify the path to your CSV file
# source_file = r'D:\MyStuff\Anne\WeeklyKPI\Temp_file.csv'

# # Define the schema of your table (optional)
# schema = [
#     bigquery.SchemaField("WkstartDate", "string"),
#     bigquery.SchemaField("WkendDate", "string"),
#     bigquery.SchemaField("apc_wc_connected", "int64"),
#     bigquery.SchemaField("wccalled", "int64"),
#     bigquery.SchemaField("WelcomeCall_ContactRate", "float64"),
#     bigquery.SchemaField("apc_rc_connected", "int64"),
#     bigquery.SchemaField("rccalled", "int64"),
#     bigquery.SchemaField("remindercallcontactrate", "float64"),
#     bigquery.SchemaField("bucket1contacted", "int64"),
#     bigquery.SchemaField("bucketcallcontacted", "int64"),
#     bigquery.SchemaField("bucket1contactrate", "float64"),
#     bigquery.SchemaField("Normalized_Greg", "int64"),
#     bigquery.SchemaField("Normalized_denominator", "int64"),
#     bigquery.SchemaField("Bucket1_Normalized", "float64"),
#     bigquery.SchemaField("bucket2contacted", "int64"),
#     bigquery.SchemaField("bucketcallcontacted", "int64"),
#     bigquery.SchemaField("bucket2contactrate", "float64"),
#     bigquery.SchemaField("Normalized_buck2_Greg", "int64"),
#     bigquery.SchemaField("Normalized_buck2_denominator", "int64"),
#     bigquery.SchemaField("bucket2Normalizationrate", "float64"),
#     bigquery.SchemaField("ptp_received", "int64"),
#     bigquery.SchemaField("kept_ptp", "int64"),
#     bigquery.SchemaField("kept_ptp_rate", "float64"),
#     bigquery.SchemaField("bucket1ptppmt", "float64"),
#     bigquery.SchemaField("bucket2ptppmt", "float64"),
#     bigquery.SchemaField("FTE", "int64"),
#     bigquery.SchemaField("total_accounts", "int64"),
#     bigquery.SchemaField("active_works", "int64"),
# ]

# # Create the dataset reference
# dataset_ref = client.dataset(dataset_id)

# # Define the table reference
# table_ref = dataset_ref.table(table_id)

# # Configure the job to load data from the CSV file
# job_config = bigquery.LoadJobConfig(schema=schema, skip_leading_rows=1, source_format=bigquery.SourceFormat.CSV)

# # Load data from the CSV file into the BigQuery table
# with open(source_file, "rb") as source_file:
#     job = client.load_table_from_file(source_file, table_ref, job_config=job_config)

# # Wait for the job to complete
# job.result()

# # Print a success message
# print(f"Loaded {job.output_rows} rows into {dataset_id}.{table_id}")

In [32]:
sq = f"""insert into  prj-prod-dataplatform.dap_ds_poweruser_playground.collection_weekly_kpi_v4
select date(WkstartDate)WkstartDate, date(WkendDate)WkendDate, apc_wc_connected, wccalled
, bucket1contacted, bucketcallcontacted,
Normalized_Greg bucket1normalized_greg, Normalized_denominator bucket1normalized_denominator
, Normalized_buck2_denominator bucket2normalized_denominator
, Normalized_buck2_Greg bucket2normalized_greg
, ptp_received, kept_ptp, bucket1ptppmt,
       bucket2ptppmt, FTE, total_accounts, active_works 
from dap_ds_poweruser_playground.collection_Weekly_kpi_v5 where WkstartDate = '{sd}';"""

client.query(sq)

QueryJob<project=prj-prod-dataplatform, location=asia-southeast1, id=c2299d91-9d55-4e1c-a09d-94ea6d07c12b>

In [36]:
sq = """select * from prj-prod-dataplatform.dap_ds_poweruser_playground.collection_weekly_kpi_v4 order by 1 desc;"""

df2 = client.query(sq).to_dataframe(progress_bar_type='tqdm')

Job ID 709390f8-097f-4810-ad98-5e6baefcfe74 successfully executed: 100%|██████████|
Downloading: 100%|██████████|

In [37]:
df2

,WkstartDate,WkendDate,apc_wc_connected,wccalled,bucket1contacted,bucketcallcontacted,bucket1normalized_greg,bucket1normalized_denominator,bucket2normalized_denominator,bucket2normalized_greg,ptp_received,kept_ptp,bucket1ptppmt,bucket2ptppmt,FTE,total_accounts,active_works
0,2024-03-25,2024-03-31,334,601,449,3623,729,3600,1974,76,2164,149,248999.11,13224.16,28,55742,11595
1,2024-03-18,2024-03-24,1030,1545,715,3986,410,3135,1914,47,2129,263,518001.55,40034.70,28,54741,10874
2,2024-03-11,2024-03-17,952,1449,786,4678,491,3108,1860,68,2343,336,730139.48,52946.73,28,53815,10645
3,2024-03-04,2024-03-10,838,1291,574,3661,503,3213,1817,68,2050,195,380608.70,25750.82,28,53276,11026
4,2024-02-26,2024-03-03,764,1226,849,5132,544,2948,1746,73,2548,363,688526.03,31975.68,30,52526,10399
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,2023-02-06,2023-02-12,488,566,244,1245,185,1317,1148,30,814,51,112049.71,23257.42,22,21815,6560
60,2023-01-30,2023-02-05,525,592,441,1827,1119,1914,1178,93,1024,136,242938.38,66507.19,22,21219,7285
61,2023-01-23,2023-01-29,470,526,253,1342,263,1435,1667,53,1060,54,95194.61,8955.20,22,20693,6387
62,2023-01-16,2023-01-22,486,579,260,1366,234,1499,1194,30,878,49,122555.36,5000.00,22,20114,6481
63,2023-01-06,2023-01-15,616,749,286,1418,333,1825,1384,57,1057,49,104162.08,35047.20,22,19365,6446