# <div align="center" style="color: #ff5733;">New Monthly KPI Report Version 7</div>

In [1]:
# %% [markdown]
# # Jupyter Notebook Loading Header
#
# This is a custom loading header for Jupyter Notebooks in Visual Studio Code.
# It includes common imports and settings to get you started quickly.

# %% [markdown]
## Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.cloud import bigquery
import os
path = r'C:\Users\DwaipayanChakroborti\AppData\Roaming\gcloud\legacy_credentials\dchakroborti@tonikbank.com\adc.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = path
client = bigquery.Client(project='prj-prod-dataplatform')

# %% [markdown]
## Configure Settings
# Set options or configurations as needed
pd.set_option('display.max_columns', None)

In [2]:
# Run the sql code to check the data in Monthly Kpi v5 table
sq = """select * from dap_ds_poweruser_playground.collection_Monthly_kpi_v6 order by 1 desc;"""

olddata = client.query(sq).to_dataframe(progress_bar_type='tqdm')
olddata

Job ID 07efa9ae-bf2c-4641-b551-54af060fb349 successfully executed: 100%|██████████|
Downloading: 100%|██████████|

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1contactrate,Normalized_Greg,Normalized_denominator,Bucket1_Normalized,bucket2contacted,bucket2callcontacted,bucket2contactrate,Normalized_buck2_Greg,Normalized_buck2_denominator,bucket2Normalizationrate,bucket3contacted,bucket3callcontacted,bucket3contactrate,Normalized_buck3_Greg,Normalized_buck3_denominator,bucket3Normalizationrate,Bucket1_inArearstoTotal_Overdue_Amount,Bucket1_paymentsfromoverdue,Bucket1_recoveryrate,Bucket2_inArearstoTotal_Overdue_Amount,Bucket2_paymentsfromoverdue,Bucket2_recoveryrate,Bucket3_inArearstoTotal_Overdue_Amount,Bucket3_paymentsfromoverdue,Bucket3_recoveryrate,Bucket4_inArearstoTotal_Overdue_Amount,Bucket4_paymentsfromoverdue,Bucket4_recoveryrate,Bucket5_inArearstoTotal_Overdue_Amount,Bucket5_paymentsfromoverdue,Bucket5_recoveryrate,Bucket6_inArearstoTotal_Overdue_Amount,Bucket6_paymentsfromoverdue,Bucket6_recoveryrate,Bucket7_inArearstoTotal_Overdue_Amount,Bucket7_paymentsfromoverdue,Bucket7_recoveryrate,Bucket8_inArearstoTotal_Overdue_Amount,Bucket8_paymentsfromoverdue,Bucket8_recoveryrate,inArearstoTotal_Overdue_Amount,paymentsfromoverdue,recoveryrate,wentdelinquent,rollbacked,defaulteddelinquentamount,rollbacked_amount,rollback_rate,rollback_rate_v,ptp_received,kept_ptp,kept_ptp_rate,bucket1ptppmt,bucket2ptppmt,FTE,total_accounts,active_works
0,2024-06-01,2024-06-23,5126,6408,0.799938,10163,20718,0.490540,4515,9357,0.482526,1870,4444,0.420792,2073,4365,0.474914,337,2435,0.138398,753,2590,0.290734,99,1939,0.051057,9955932.40,4558921.92,0.457910,11229368.40,1278400.33,0.113844,13440591.64,479946.98,0.035709,17311908.68,238567.16,0.013781,19145496.04,179477.87,0.009374,19414701.10,129961.15,0.006694,1.715221e+08,163124.60,0.000951,1.303316e+08,NaN,NaN,3.923517e+08,14075281.47,0.035874,20840,4233,4.649921e+07,9256139.42,0.203119,0.199060,5048,1203,0.238312,2136491.06,188242.94,34,72728,13475
1,2024-05-01,2024-05-31,9828,12404,0.792325,13787,28973,0.475857,4289,9624,0.445657,1919,3994,0.480471,2590,4763,0.543775,364,2183,0.166743,<NA>,<NA>,NaN,<NA>,<NA>,NaN,9658647.82,5602735.92,0.580075,10236669.47,1607917.33,0.157074,13782105.50,721017.45,0.052315,15789044.59,548930.59,0.034767,17163106.49,491918.46,0.028661,22848858.73,280418.05,0.012273,1.570184e+08,257652.21,0.001641,1.047899e+08,NaN,NaN,3.512867e+08,18207128.42,0.051830,24228,4946,5.574184e+07,11903011.32,0.204144,0.213538,5392,1478,0.274110,2954132.26,324799.55,33,63485,12361
2,2024-04-01,2024-04-30,7116,10745,0.662262,12194,24691,0.493864,2765,9154,0.302054,1791,3661,0.489211,798,4332,0.184211,297,2119,0.140160,<NA>,<NA>,NaN,<NA>,<NA>,NaN,8665518.31,5004840.76,0.577558,10129976.00,1338729.62,0.132155,12590391.19,711232.14,0.056490,14271989.22,523041.71,0.036648,19989514.52,446340.66,0.022329,25836659.14,233865.43,0.009052,1.559157e+08,492175.91,0.003157,2.631120e+08,NaN,NaN,5.105118e+08,17538670.13,0.034355,23386,5073,5.449352e+07,12506315.54,0.216925,0.229501,5187,1522,0.293426,3112380.29,341207.44,32,55618,11708
3,2024-03-01,2024-03-31,3236,4400,0.735455,10387,21637,0.480057,2604,8899,0.292617,1436,3740,0.383957,712,4038,0.176325,176,1736,0.101382,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,4.674975e+08,16594221.78,0.035496,22400,4550,5.259908e+07,10973541.06,0.203125,0.208626,4729,1424,0.301121,2867526.64,240445.64,29,50637,11394
4,2024-02-01,2024-02-29,3313,4559,0.726694,12419,22748,0.545938,2191,7458,0.293778,1370,2997,0.457124,431,2889,0.149187,187,1482,0.126181,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,4.255677e+08,13809109.93,0.032449,20528,3782,4.927197e+07,9438626.30,0.184236,0.191562,3761,1197,0.318266,2419188.02,187158.11,32,48034,10768
5,2024-01-01,2024-01-31,4393,7440,0.590457,13027,25169,0.517581,1895,6057,0.312861,1291,2496,0.517228,622,3259,0.190856,249,1712,0.145444,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,3.933773e+08,13276466.73,0.033750,19155,3242,4.690153e+07,8862995.49,0.169251,0.188970,3304,994,0.300847,2043782.15,348567.94,34,44749,10298
6,2023-12-01,2023-12-31,5142,8971,0.573180,11842,24698,0.479472,1544,6118,0.252370,1086,2565,0.423392,595,3648,0.163103,248,1870,0.132620,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,3.546886e+08,13497824.61,0.038055,22913,2887,6.207388e+07,7911228.91,0.125998,0.127449,3139,828,0.263778,1775323.08,357236.93,29,38934,10139
7,2023-11-01,2023-11-30,4363,6186,0.705302,13169,25577,0.514877,1699,6194,0.274298,1165,2821,0.412974,601,3702,0.162345,246,1872,0.131410,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,3.238443e+08,13389601.92,0.041346,28632,2770,7.014135e+07,7958833.52,0.096745,0.113468,3297,900,0.272975,2103761.75,377652.02,24,35219,9895
8,2023-10-01,2023-10-31,4145,6309,0.656998,11929,21855,0.545825,1612,5830,0.276501,1041,2663,0.390913,710,3801,0.186793,229,1835,0.124796,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,2.872231e+08,13126570.36,0.045702,28237,2745,6.748030e+07,8758048.46,0.097213,0.129787,3153,879,0.278782,2096974.85,339574.22,27,31828,9133
9,2023-09-01,2023-09-30,3705,5192,0.713598,7436,17810,0.417518,615,4639,0.132572,845,2477,0.341138,299,3257,0.091802,161,1442,0.111650,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,2.553445e+08,9938829.51,0.038923,27111,2622,6.405672e+07,8140521.68,0.096714,0.127083,2901,588,0.202689,1371037.92,215522.64,27,26464,8203
10,2023-08-01,2023-08-31,4024,5157,0.780299,7674,15097,0.508313,565,4054,0.139369,780,2057,0.379193,356,2956,0.120433,126,1439,0.087561,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,2.295751e+08,9200307.42,0.040075,26090,2469,6.090000e+07,7483998.56,0.094634,0.122890,2745,721,0.262659,1767505.16,227259.71,20,21499,7364
11,2023-07-01,2023-07-31,2896,4158,0.696489,6339,11740,0.539949,530,3537,0.149845,792,2069,0.382794,296,2623,0.112848,127,1166,0.108919,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,2.080293e+08,9674831.31,0.046507,24757,2090,5.737693e+07,6911758.14,0.084421,0.120462,2557,596,0.233086,1573514.32,149953.60,20,17259,6904
12,2023-06-01,2023-06-30,2407,3422,0.703390,5693,10356,0.549730,487,3095,0.157351,645,1726,0.373696,296,2335,0.126767,104,1138,0.091388,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,1.814605e+08,7329362.51,0.040391,23803,1931,5.504016e+07,6441819.73,0.081124,0.117039,2330,443,0.190129,1054469.60,184900.23,20,14391,6478
13,2023-05-01,2023-05-31,2421,3686,0.656810,4882,8702,0.561020,707,3063,0.230819,762,1785,0.426891,423,2169,0.195021,129,1016,0.126969,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,1.750549e+08,9666307.02,0.055219,23625,2005,5.447180e+07,6626358.26,0.084868,0.121648,2395,650,0.271399,1740887.66,168196.76,20,10809,6550
14,2023-04-01,2023-04-30,1665,2454,0.678484,3829,6780,0.564749,621,2625,0.236571,505,1474,0.342605,375,2057,0.182304,73,991,0.073663,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,1.496052e+08,6818566.69,0.045577,23075,1869,5.273776e+07,6611274.30,0.080997,0.125361,2214,361,0.163053,945853.65,109412.47,20,8281,6327
15,2023-03-01,2023-03-31,1637,2212,0.740054,3455,5856,0.589993,1051,3782,0.277895,500,1605,0.311526,369,1940,0.190206,91,927,0.098166,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,1.266935e+08,8238698.30,0.065029,22494,1758,5.106400e+07,5373634.05,0.078154,0.105233,2178,496,0.227732,1156555.42,198212.24,21,6311,6921
16,2023-02-01,2023-02-28,1146,1526,0.750983,2806,7067,0.397057,155,396,0.391414,394,1273,0.309505,161,918,0.175381,90,1099,0.081893,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,1.044650e+08,4538544.74,0.043446,21858,1702,4.943303e+07,5059467.48,0.077866,0.102350,2074,276,0.133076,629177.89,153666.72,22,4963,6716
17,2023-01-01,2023-01-31,1597,2186,0.730558,2342,4667,0.501821,336,2179,0.154199,430,1458,0.294925,248,2160,0.114815,101,1062,0.095104,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,8.425527e+07,4780127.15,0.056734,21038,1459,4.734539e+07,3965589.11,0.069351,0.083759,2137,315,0.147403,721449.42,124917.32,23,3763,6608

In [3]:
# Drop the temporary table
sq = """Drop table if exists `dap_ds_poweruser_playground.collection_Monthly_kpi_v6_temp`;"""
client.query(sq)

QueryJob<project=prj-prod-dataplatform, location=asia-southeast1, id=b146cd77-61a1-4a0f-9eb4-2f2d7f87e566>

In [4]:
# Create the temporary table dap_ds_poweruser_playground.collection_Weekly_kpi_v6_temp`;

sq = """Create table `dap_ds_poweruser_playground.collection_Monthly_kpi_v6_temp` as  
select * from `dap_ds_poweruser_playground.collection_Monthly_kpi_v6`;"""

client.query(sq)

QueryJob<project=prj-prod-dataplatform, location=asia-southeast1, id=68d69494-1722-46d6-a8cf-aff7c817de5b>

# Put the Date Range

In [5]:
sd = '2024-06-01'
ed = '2024-06-30'

In [6]:
# Delete from table where the start date is equal to month start date
sq = f"""delete from dap_ds_poweruser_playground.collection_Monthly_kpi_v6 where WkstartDate = ('{sd}');"""
print(sq)
client.query(sq)

delete from dap_ds_poweruser_playground.collection_Monthly_kpi_v6 where WkstartDate = ('2024-06-01');

QueryJob<project=prj-prod-dataplatform, location=asia-southeast1, id=7a09c9c4-1794-4bea-ba38-f1d8d2dd8f39>

In [7]:
# Check the Monthly Kpi V5 table again to make sure that months data is removed
sq = """select * from dap_ds_poweruser_playground.collection_Monthly_kpi_v6 order by 1 desc;"""

olddata = client.query(sq).to_dataframe(progress_bar_type='tqdm')
olddata

Job ID 5523269f-0792-47a3-8695-03fdf96b8521 successfully executed: 100%|██████████|
Downloading: 100%|██████████|

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1contactrate,Normalized_Greg,Normalized_denominator,Bucket1_Normalized,bucket2contacted,bucket2callcontacted,bucket2contactrate,Normalized_buck2_Greg,Normalized_buck2_denominator,bucket2Normalizationrate,bucket3contacted,bucket3callcontacted,bucket3contactrate,Normalized_buck3_Greg,Normalized_buck3_denominator,bucket3Normalizationrate,Bucket1_inArearstoTotal_Overdue_Amount,Bucket1_paymentsfromoverdue,Bucket1_recoveryrate,Bucket2_inArearstoTotal_Overdue_Amount,Bucket2_paymentsfromoverdue,Bucket2_recoveryrate,Bucket3_inArearstoTotal_Overdue_Amount,Bucket3_paymentsfromoverdue,Bucket3_recoveryrate,Bucket4_inArearstoTotal_Overdue_Amount,Bucket4_paymentsfromoverdue,Bucket4_recoveryrate,Bucket5_inArearstoTotal_Overdue_Amount,Bucket5_paymentsfromoverdue,Bucket5_recoveryrate,Bucket6_inArearstoTotal_Overdue_Amount,Bucket6_paymentsfromoverdue,Bucket6_recoveryrate,Bucket7_inArearstoTotal_Overdue_Amount,Bucket7_paymentsfromoverdue,Bucket7_recoveryrate,Bucket8_inArearstoTotal_Overdue_Amount,Bucket8_paymentsfromoverdue,Bucket8_recoveryrate,inArearstoTotal_Overdue_Amount,paymentsfromoverdue,recoveryrate,wentdelinquent,rollbacked,defaulteddelinquentamount,rollbacked_amount,rollback_rate,rollback_rate_v,ptp_received,kept_ptp,kept_ptp_rate,bucket1ptppmt,bucket2ptppmt,FTE,total_accounts,active_works
0,2024-05-01,2024-05-31,9828,12404,0.792325,13787,28973,0.475857,4289,9624,0.445657,1919,3994,0.480471,2590,4763,0.543775,364,2183,0.166743,<NA>,<NA>,NaN,<NA>,<NA>,NaN,9658647.82,5602735.92,0.580075,10236669.47,1607917.33,0.157074,13782105.50,721017.45,0.052315,15789044.59,548930.59,0.034767,17163106.49,491918.46,0.028661,22848858.73,280418.05,0.012273,1.570184e+08,257652.21,0.001641,1.047899e+08,NaN,NaN,3.512867e+08,18207128.42,0.051830,24228,4946,5.574184e+07,11903011.32,0.204144,0.213538,5392,1478,0.274110,2954132.26,324799.55,33,63485,12361
1,2024-04-01,2024-04-30,7116,10745,0.662262,12194,24691,0.493864,2765,9154,0.302054,1791,3661,0.489211,798,4332,0.184211,297,2119,0.140160,<NA>,<NA>,NaN,<NA>,<NA>,NaN,8665518.31,5004840.76,0.577558,10129976.00,1338729.62,0.132155,12590391.19,711232.14,0.056490,14271989.22,523041.71,0.036648,19989514.52,446340.66,0.022329,25836659.14,233865.43,0.009052,1.559157e+08,492175.91,0.003157,2.631120e+08,NaN,NaN,5.105118e+08,17538670.13,0.034355,23386,5073,5.449352e+07,12506315.54,0.216925,0.229501,5187,1522,0.293426,3112380.29,341207.44,32,55618,11708
2,2024-03-01,2024-03-31,3236,4400,0.735455,10387,21637,0.480057,2604,8899,0.292617,1436,3740,0.383957,712,4038,0.176325,176,1736,0.101382,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,4.674975e+08,16594221.78,0.035496,22400,4550,5.259908e+07,10973541.06,0.203125,0.208626,4729,1424,0.301121,2867526.64,240445.64,29,50637,11394
3,2024-02-01,2024-02-29,3313,4559,0.726694,12419,22748,0.545938,2191,7458,0.293778,1370,2997,0.457124,431,2889,0.149187,187,1482,0.126181,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,4.255677e+08,13809109.93,0.032449,20528,3782,4.927197e+07,9438626.30,0.184236,0.191562,3761,1197,0.318266,2419188.02,187158.11,32,48034,10768
4,2024-01-01,2024-01-31,4393,7440,0.590457,13027,25169,0.517581,1895,6057,0.312861,1291,2496,0.517228,622,3259,0.190856,249,1712,0.145444,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,3.933773e+08,13276466.73,0.033750,19155,3242,4.690153e+07,8862995.49,0.169251,0.188970,3304,994,0.300847,2043782.15,348567.94,34,44749,10298
5,2023-12-01,2023-12-31,5142,8971,0.573180,11842,24698,0.479472,1544,6118,0.252370,1086,2565,0.423392,595,3648,0.163103,248,1870,0.132620,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,3.546886e+08,13497824.61,0.038055,22913,2887,6.207388e+07,7911228.91,0.125998,0.127449,3139,828,0.263778,1775323.08,357236.93,29,38934,10139
6,2023-11-01,2023-11-30,4363,6186,0.705302,13169,25577,0.514877,1699,6194,0.274298,1165,2821,0.412974,601,3702,0.162345,246,1872,0.131410,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,3.238443e+08,13389601.92,0.041346,28632,2770,7.014135e+07,7958833.52,0.096745,0.113468,3297,900,0.272975,2103761.75,377652.02,24,35219,9895
7,2023-10-01,2023-10-31,4145,6309,0.656998,11929,21855,0.545825,1612,5830,0.276501,1041,2663,0.390913,710,3801,0.186793,229,1835,0.124796,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,2.872231e+08,13126570.36,0.045702,28237,2745,6.748030e+07,8758048.46,0.097213,0.129787,3153,879,0.278782,2096974.85,339574.22,27,31828,9133
8,2023-09-01,2023-09-30,3705,5192,0.713598,7436,17810,0.417518,615,4639,0.132572,845,2477,0.341138,299,3257,0.091802,161,1442,0.111650,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,2.553445e+08,9938829.51,0.038923,27111,2622,6.405672e+07,8140521.68,0.096714,0.127083,2901,588,0.202689,1371037.92,215522.64,27,26464,8203
9,2023-08-01,2023-08-31,4024,5157,0.780299,7674,15097,0.508313,565,4054,0.139369,780,2057,0.379193,356,2956,0.120433,126,1439,0.087561,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,2.295751e+08,9200307.42,0.040075,26090,2469,6.090000e+07,7483998.56,0.094634,0.122890,2745,721,0.262659,1767505.16,227259.71,20,21499,7364
10,2023-07-01,2023-07-31,2896,4158,0.696489,6339,11740,0.539949,530,3537,0.149845,792,2069,0.382794,296,2623,0.112848,127,1166,0.108919,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,2.080293e+08,9674831.31,0.046507,24757,2090,5.737693e+07,6911758.14,0.084421,0.120462,2557,596,0.233086,1573514.32,149953.60,20,17259,6904
11,2023-06-01,2023-06-30,2407,3422,0.703390,5693,10356,0.549730,487,3095,0.157351,645,1726,0.373696,296,2335,0.126767,104,1138,0.091388,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,1.814605e+08,7329362.51,0.040391,23803,1931,5.504016e+07,6441819.73,0.081124,0.117039,2330,443,0.190129,1054469.60,184900.23,20,14391,6478
12,2023-05-01,2023-05-31,2421,3686,0.656810,4882,8702,0.561020,707,3063,0.230819,762,1785,0.426891,423,2169,0.195021,129,1016,0.126969,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,1.750549e+08,9666307.02,0.055219,23625,2005,5.447180e+07,6626358.26,0.084868,0.121648,2395,650,0.271399,1740887.66,168196.76,20,10809,6550
13,2023-04-01,2023-04-30,1665,2454,0.678484,3829,6780,0.564749,621,2625,0.236571,505,1474,0.342605,375,2057,0.182304,73,991,0.073663,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,1.496052e+08,6818566.69,0.045577,23075,1869,5.273776e+07,6611274.30,0.080997,0.125361,2214,361,0.163053,945853.65,109412.47,20,8281,6327
14,2023-03-01,2023-03-31,1637,2212,0.740054,3455,5856,0.589993,1051,3782,0.277895,500,1605,0.311526,369,1940,0.190206,91,927,0.098166,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,1.266935e+08,8238698.30,0.065029,22494,1758,5.106400e+07,5373634.05,0.078154,0.105233,2178,496,0.227732,1156555.42,198212.24,21,6311,6921
15,2023-02-01,2023-02-28,1146,1526,0.750983,2806,7067,0.397057,155,396,0.391414,394,1273,0.309505,161,918,0.175381,90,1099,0.081893,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,1.044650e+08,4538544.74,0.043446,21858,1702,4.943303e+07,5059467.48,0.077866,0.102350,2074,276,0.133076,629177.89,153666.72,22,4963,6716
16,2023-01-01,2023-01-31,1597,2186,0.730558,2342,4667,0.501821,336,2179,0.154199,430,1458,0.294925,248,2160,0.114815,101,1062,0.095104,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,8.425527e+07,4780127.15,0.056734,21038,1459,4.734539e+07,3965589.11,0.069351,0.083759,2137,315,0.147403,721449.42,124917.32,23,3763,6608

# Welcome call Connect - Monthly

In [8]:
sq = f"""WITH
  dt AS (
  SELECT
    DATE('{sd}') WkstartDate,
    DATE('{ed}') WkendDate),
disb as (select distinct disbursementDateTime, customerId, loanType, loanAccountNumber, SUBSTR(mobileNo, -10) as mobileno , loanPaidStatus
, row_number() over(partition by SUBSTR(mobileNo, -10) order by SUBSTR(mobileNo, -10))rnk
from `risk_credit_mis.loan_master_table`, dt 
where 
date_trunc(disbursementDateTime, day) <= dt.WkendDate
-- between dt.WkstartDate and dt.WkendDate 
and 
coalesce(loanPaidStatus, 'NA') not in ('Settled','Completed')
),
wc1 as 
(
SELECT
  dt.WkstartDate,
  dt.WkendDate,
  Genesys_call_id,
  callDatetime,
  COALESCE(IS_APC, 0) APC,
  COALESCE(IS_RPC, 0) RPC,
  COALESCE(IS_PTP,0) PTP,
  RIGHT(mobileNumber, 10) mobileNumber,
  g.campaignName,
  g.agentGroup,
  g.agentFullName,
  g.employeeId,
  g.connected,
  g.notConnected,
  g.callResult,
  ROW_NUMBER() OVER(PARTITION BY Genesys_call_id ORDER BY callDatetime DESC, COALESCE(IS_APC, 0), COALESCE(IS_RPC, 0), COALESCE(IS_PTP, 0))rnk
FROM
  `risk_credit_mis.call_attempt_history_gensys` g,  dt
LEFT JOIN
  `dap_ds_poweruser_playground.campaignmaster` cm
ON
  UPPER(cm.Campaignname) = UPPER(g.campaignName)
INNER JOIN disb ON  SUBSTR(disb.mobileNo, -10) = SUBSTR(CAST(g.mobileNumber AS string), -10)
WHERE
  cm.reference = 'WC'
  and disb.rnk = 1
  and date(callDatetime) between  dt.WkstartDate and dt.WkendDate
), 
wc as 
(select wc1.WkstartDate, wc1.WkendDate, Genesys_call_id,
callDatetime,
APC,
RPC,
PTP,
case when APC = 1 then mobileNumber end apc_m,
case when RPC = 1 then mobileNumber end rpc_m,
case when PTP = 1 then mobileNumber end ptp_m,
mobileNumber,
campaignName,
agentGroup,
agentFullName,
employeeId,
connected,
notConnected,
callResult,
rnk,
from wc1 
where rnk = 1
)
,
wcbase as 
( 
select wc.WkstartDate, wc.WkendDate,
 Genesys_call_id,
callDatetime,
APC,
RPC,
PTP,
mobileNumber,
campaignName,
agentGroup,
agentFullName,
employeeId,
connected,
notConnected,
callResult,
rnk,
apc_m,
rpc_m,
ptp_m
from wc
)
select
(select WkstartDate from dt) WkstartDate,
(select WkendDate from dt) WkendDate,
(select count(distinct apc_m) from wcbase) apc_wc_connected,
(select count(distinct mobileNumber) wccontactrate from wcbase) wccalled,
"""

df_wcconnect_monthly = client.query(sq).to_dataframe(progress_bar_type='tqdm')
df_wcconnect_monthly['WelcomeCall_ContactRate'] = df_wcconnect_monthly['apc_wc_connected']/df_wcconnect_monthly['wccalled']
df_wcconnect_monthly

Job ID b008ffe5-ddc1-4efa-b118-49df6515be88 successfully executed: 100%|██████████|
Downloading: 100%|██████████|

  WkstartDate   WkendDate  apc_wc_connected  wccalled  WelcomeCall_ContactRate
0  2024-06-01  2024-06-30              7536      9236                 0.815938

This SQL code seems to be extracting data related to welcome calls from a database, likely in a Google BigQuery environment. Let me explain the logic step by step:

1. **Common Table Expressions (CTE): `dt`**
   - This CTE (Common Table Expression) creates a temporary table (`dt`) with the start and end dates provided (`sd` and `ed`), used for filtering later.

2. **Common Table Expressions (CTE): `disb`**
   - This CTE retrieves distinct records from the `risk_credit_mis.loan_master_table` table, filtering for disbursement events that occurred on or before the provided end date (`WkendDate`).
   - The `rnk` column is calculated using the `ROW_NUMBER()` function partitioned by the last 10 digits of the mobile number.
   - The result is filtered to exclude records with a `loanPaidStatus` of 'Settled' or 'Completed'.

3. **Common Table Expressions (CTE): `wc1`**
   - This CTE retrieves data from the `risk_credit_mis.call_attempt_history_gensys` table related to welcome calls (`cm.reference = 'WC'`).
   - The result is joined with the previously defined `disb` CTE using the last 10 digits of the mobile numbers.
   - The `ROW_NUMBER()` function is used to assign a rank to each record based on `callDatetime` and the flags `IS_APC`, `IS_RPC`, and `IS_PTP`.
   - The result is filtered to include only records with `rnk = 1`.

4. **Common Table Expressions (CTE): `wc`**
   - This CTE further refines the data from `wc1`. It includes only records where `rnk = 1`.

5. **Common Table Expressions (CTE): `wcbase`**
   - This CTE is a copy of the previous `wc` CTE, retaining all columns.

6. **Main Query**
   - The main query selects various aggregated counts and values from the CTEs, providing metrics related to welcome calls.
   - The counts include the number of connected calls (`apc_wc_connected`) and the total number of distinct called mobile numbers (`wccontactrate`).
   - Finally, it calculates the contact rate as the ratio of connected calls to the total called numbers.

Overall, this code is designed to analyze and report metrics related to welcome calls, specifically focusing on connected calls and contact rates over a specified time period.

# Reminder Call Contact Rate

In [9]:
sq = f"""WITH
  dt AS (
  SELECT
    DATE('{sd}') WkstartDate,
    DATE('{ed}') WkendDate),
disb as (select distinct disbursementDateTime, customerId, loanType, loanAccountNumber, SUBSTR(mobileNo, -10) as mobileno , loanPaidStatus
, row_number() over(partition by SUBSTR(mobileNo, -10) order by SUBSTR(mobileNo, -10))rnk
from `risk_credit_mis.loan_master_table`, dt 
where 
date_trunc(disbursementDateTime, day) <= dt.WkendDate
-- between dt.WkstartDate and dt.WkendDate 
and 
coalesce(loanPaidStatus, 'NA') not in ('Settled','Completed')
),
rc1 as 
(
SELECT
  dt.WkstartDate,
  dt.WkendDate,
  Genesys_call_id,
  callDatetime,
  COALESCE(IS_APC, 0) APC,
  COALESCE(IS_RPC, 0) RPC,
  COALESCE(IS_PTP,0) PTP,
  RIGHT(mobileNumber, 10) mobileNumber,
  g.campaignName,
  g.agentGroup,
  g.agentFullName,
  g.employeeId,
  g.connected,
  g.notConnected,
  g.callResult,
  ROW_NUMBER() OVER(PARTITION BY Genesys_call_id ORDER BY callDatetime DESC, COALESCE(IS_APC, 0), COALESCE(IS_RPC, 0), COALESCE(IS_PTP, 0))rnk
FROM
  `risk_credit_mis.call_attempt_history_gensys` g,  dt
LEFT JOIN
  `dap_ds_poweruser_playground.campaignmaster` cm
ON
  UPPER(cm.Campaignname) = UPPER(g.campaignName)
INNER JOIN disb ON  SUBSTR(disb.mobileNo, -10) = SUBSTR(CAST(g.mobileNumber AS string), -10)
WHERE
  cm.reference = 'REM'
  and disb.rnk = 1
  and date(callDatetime) between  dt.WkstartDate and dt.WkendDate
), 
rc as 
(select rc1.WkstartDate, rc1.WkendDate, Genesys_call_id,
callDatetime,
APC,
RPC,
PTP,
case when APC = 1 then mobileNumber end apc_m,
case when RPC = 1 then mobileNumber end rpc_m,
case when PTP = 1 then mobileNumber end ptp_m,
mobileNumber,
campaignName,
agentGroup,
agentFullName,
employeeId,
connected,
notConnected,
callResult,
rnk,
from rc1 
where rnk = 1
)
,
rcbase as 
( 
select rc.WkstartDate, rc.WkendDate,
 Genesys_call_id,
callDatetime,
APC,
RPC,
PTP,
mobileNumber,
campaignName,
agentGroup,
agentFullName,
employeeId,
connected,
notConnected,
callResult,
rnk,
apc_m,
rpc_m,
ptp_m
from rc
)
select
(select WkstartDate from dt) WkstartDate,
(select WkendDate from dt) WkendDate,
(select count(distinct apc_m) from rcbase) apc_rc_connected,
(select count(distinct mobileNumber) rccontactrate from rcbase) rccalled
"""
dfremindercall = client.query(sq).to_dataframe(progress_bar_type='tqdm')
dfremindercall['remindercallcontactrate'] = dfremindercall['apc_rc_connected']/dfremindercall['rccalled']
dfremindercall

Job ID 26f6de3d-3b0a-478a-adca-fde24b3227ba successfully executed: 100%|██████████|
Downloading: 100%|██████████|

  WkstartDate   WkendDate  apc_rc_connected  rccalled  remindercallcontactrate
0  2024-06-01  2024-06-30             13887     26699                 0.520132

In [10]:
df = pd.concat([df_wcconnect_monthly,dfremindercall[['apc_rc_connected', 'rccalled', 'remindercallcontactrate']]], axis = 1)
df

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate
0,2024-06-01,2024-06-30,7536,9236,0.815938,13887,26699,0.520132

This SQL code appears to be querying data related to reminder calls from a database, potentially in a Google BigQuery environment. Let's break down the logic step by step:

1. **Common Table Expressions (CTE): `dt`**
   - This CTE creates a temporary table (`dt`) with the start and end dates provided (`sd` and `ed`), used for filtering later.

2. **Common Table Expressions (CTE): `disb`**
   - This CTE retrieves distinct records from the `risk_credit_mis.loan_master_table` table, filtering for disbursement events that occurred on or before the provided end date (`WkendDate`).
   - The `rnk` column is calculated using the `ROW_NUMBER()` function partitioned by the last 10 digits of the mobile number.
   - The result is filtered to exclude records with a `loanPaidStatus` of 'Settled' or 'Completed'.

3. **Common Table Expressions (CTE): `rc1`**
   - This CTE retrieves data from the `risk_credit_mis.call_attempt_history_gensys` table related to reminder calls (`cm.reference = 'REM'`).
   - The result is joined with the previously defined `disb` CTE using the last 10 digits of the mobile numbers.
   - The `ROW_NUMBER()` function is used to assign a rank to each record based on `callDatetime` and the flags `IS_APC`, `IS_RPC`, and `IS_PTP`.
   - The result is filtered to include only records with `rnk = 1`.

4. **Common Table Expressions (CTE): `rc`**
   - This CTE further refines the data from `rc1`. It includes only records where `rnk = 1`.

5. **Common Table Expressions (CTE): `rcbase`**
   - This CTE is a copy of the previous `rc` CTE, retaining all columns.

6. **Main Query**
   - The main query selects various aggregated counts and values from the CTEs, providing metrics related to reminder calls.
   - The counts include the number of connected calls (`apc_rc_connected`) and the total number of distinct called mobile numbers (`rccontactrate`).
   - Finally, it calculates the contact rate as the ratio of connected calls to the total called numbers.

Overall, this code is designed to analyze and report metrics related to reminder calls, specifically focusing on connected calls and contact rates over a specified time period. The logic is quite similar to the previous code related to welcome calls, with adjustments made for the specific criteria and metrics related to reminder calls.

# Bucket 1 contact Rate

In [11]:
sq = f"""WITH
  dt AS (
  SELECT
    DATE('{sd}') WkstartDate,
    DATE('{ed}') WkendDate),
disb as (select distinct disbursementDateTime, customerId, loanType, loanAccountNumber, SUBSTR(mobileNo, -10) as mobileno , loanPaidStatus
, row_number() over(partition by SUBSTR(mobileNo, -10) order by SUBSTR(mobileNo, -10))rnk
from `risk_credit_mis.loan_master_table`, dt 
where 
date_trunc(disbursementDateTime, day) <= dt.WkendDate
-- between dt.WkstartDate and dt.WkendDate 
and 
coalesce(loanPaidStatus, 'NA') not in ('Settled','Completed')
),
cd AS (
  SELECT
    customer_id,
    new_mobile_number,
    ROW_NUMBER() OVER(PARTITION BY customer_id ORDER BY change_date)rnk
  FROM
    `risk_credit_mis.customer_contact_details`
  WHERE
    ACTIVE = 'Y')
  ,
  buck1 as 
  (select distinct dt.WkstartDate, dt.WkendDate, lbfrc.loanAccountNumber, lbfrc.loanStatus, lbfrc.bucketDate, lbfrc.Max_current_DPD as DPD, lmt.customerId, right(cd.new_mobile_number, 10) newmobilenumber
  , row_number() over(partition by lbfrc.loanAccountNumber order by lbfrc.bucketDate desc) buck1rnk
  from `risk_credit_mis.loan_bucket_flow_report_core` lbfrc, dt 
  left join `risk_credit_mis.loan_master_table` lmt on lmt.loanAccountNumber = lbfrc.loanAccountNumber
  left join cd on cd.customer_id = lmt.customerId
  where date(bucketDate) between  date(dt.WkstartDate) and  date(dt.WkendDate)
  and coalesce(lbfrc.Max_current_DPD, 0) between 1 and 30 
  and date(lbfrc.firstDueDate) <= date(current_date())
  and lbfrc.loanStatus = 'In Arrears'
  and cd.rnk = 1
  )
    ,
buck1cr1 as 
(select distinct
 dt.WkstartDate,
  dt.WkendDate,
  g.Genesys_call_id,
  g.callDatetime,
  COALESCE(g.IS_APC, 0) APC,
  COALESCE(g.IS_RPC, 0) RPC,
  COALESCE(g.IS_PTP,0) PTP,
  RIGHT(g.mobileNumber, 10) mobileNumber,
  buck1.newmobilenumber mobilefrombuckettable,
  g.campaignName,
  g.agentGroup,
  g.agentFullName,
  g.employeeId,
  g.connected,
  g.notConnected,
  g.callResult, 
  buck1.loanAccountNumber,
  buck1.DPD,
  case when g.IS_APC = 1 then g.mobileNumber end apc_m,
  case when g.IS_RPC = 1 then g.mobileNumber end rpc_m,
  case when g.IS_PTP = 1 then mobileNumber end ptp_m,
  ROW_NUMBER() OVER(PARTITION BY g.Genesys_call_id ORDER BY g.callDatetime DESC, COALESCE(g.IS_APC, 0), COALESCE(g.IS_RPC, 0), COALESCE(g.IS_PTP, 0))rnk 
from  `risk_credit_mis.call_attempt_history_gensys` g,  dt
inner join buck1 on buck1.newmobilenumber = right(g.mobileNumber,10)
LEFT JOIN  `dap_ds_poweruser_playground.campaignmaster` cm ON  UPPER(cm.Campaignname) = UPPER(g.campaignName)
where cm.Reference = 'COLL' and cm.Subcategory = 'SOFT'
AND DATE(g.callDatetime) BETWEEN DATE(dt.WkstartDate) AND DATE(dt.WkendDate)
and buck1.buck1rnk = 1

)
,
buck1cr1base as 
(select buck1cr1.WkstartDate, buck1cr1.WkendDate, buck1cr1.Genesys_call_id, buck1cr1.callDatetime
, buck1cr1.mobileNumber
, buck1cr1.mobilefrombuckettable
, buck1cr1.campaignName
, buck1cr1.agentGroup
, buck1cr1.agentFullName
, buck1cr1.employeeId
, buck1cr1.connected
, buck1cr1.notConnected
, buck1cr1.callResult
, buck1cr1.loanAccountNumber
, buck1cr1.apc_m 
, buck1cr1.rpc_m
, buck1cr1.ptp_m 
, buck1cr1.DPD
, buck1cr1.rnk 
 from buck1cr1 where rnk = 1
)
Select * 
, (select count(distinct apc_m) from buck1cr1base) bucket1contacted,
(select count(distinct mobilefrombuckettable) Bucket1callcontactrate from buck1cr1base where mobilefrombuckettable is not null)bucketcallcontacted
from dt;"""

dfbucket1contactrate = client.query(sq).to_dataframe(progress_bar_type='tqdm')
dfbucket1contactrate['bucket1contactrate'] = dfbucket1contactrate['bucket1contacted']/dfbucket1contactrate['bucketcallcontacted']
dfbucket1contactrate

Job ID 227094dd-73c8-4cdb-b8a8-0aa07cf7882e successfully executed: 100%|██████████|
Downloading: 100%|██████████|

,WkstartDate,WkendDate,bucket1contacted,bucketcallcontacted,bucket1contactrate
0,2024-06-01,2024-06-30,5247,10514,0.499049

In [12]:
df = pd.concat([df,dfbucket1contactrate[['bucket1contacted', 'bucketcallcontacted', 'bucket1contactrate']]], axis = 1)
df

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1contactrate
0,2024-06-01,2024-06-30,7536,9236,0.815938,13887,26699,0.520132,5247,10514,0.499049

This SQL code appears to be querying data related to a specific type of call campaign, likely associated with loan collections or debt recovery. Let's break down the logic step by step:

1. **Common Table Expressions (CTE): `dt`**
   - Similar to previous examples, this CTE creates a temporary table (`dt`) with the start and end dates provided (`sd` and `ed`), used for filtering later.

2. **Common Table Expressions (CTE): `disb`**
   - This CTE retrieves distinct records from the `risk_credit_mis.loan_master_table` table, filtering for disbursement events that occurred on or before the provided end date (`WkendDate`).
   - The `rnk` column is calculated using the `ROW_NUMBER()` function partitioned by the last 10 digits of the mobile number.
   - The result is filtered to exclude records with a `loanPaidStatus` of 'Settled' or 'Completed'.

3. **Common Table Expressions (CTE): `cd`**
   - This CTE retrieves data from the `risk_credit_mis.customer_contact_details` table, including the customer ID and new mobile number, with row numbers assigned based on the change date.

4. **Common Table Expressions (CTE): `buck1`**
   - This CTE retrieves data related to loans in arrears from the `risk_credit_mis.loan_bucket_flow_report_core` table, considering only loans with a maximum current DPD (Days Past Due) between 1 and 30.
   - It also joins with the previously defined `disb` CTE and applies additional filters.
   - The result is assigned a row number based on the bucket date in descending order.

5. **Common Table Expressions (CTE): `buck1cr1`**
   - This CTE retrieves call attempt data related to collections from the `risk_credit_mis.call_attempt_history_gensys` table.
   - It joins with the `buck1` CTE and includes details such as campaign information, call results, and row numbers based on the call datetime and flags for different call types (APC, RPC, PTP).
   - The result is filtered to include only records with `rnk = 1` and calls associated with the 'COLL' reference and 'SOFT' subcategory.

6. **Common Table Expressions (CTE): `buck1cr1base`**
   - This CTE is a copy of the previous `buck1cr1` CTE, retaining all columns.

7. **Main Query**
   - The main query selects various aggregated counts and values from the CTEs, providing metrics related to calls associated with loans in arrears.
   - The counts include the number of connected calls (`bucket1contacted`) and the total number of distinct mobile numbers contacted (`Bucket1callcontactrate`).
   - Finally, it calculates the contact rate as the ratio of connected calls to the total called numbers.

Overall, this code is designed to analyze and report metrics related to calls associated with loans in arrears, specifically focusing on connected calls and contact rates over a specified time period. The logic involves joining and filtering data from multiple tables to extract relevant information for analysis.

# Bucket 1 Normalization (Greg)

In [13]:
sq = f"""WITH
  dt AS (
  SELECT
    DATE('{sd}') WkstartDate,
    DATE('{ed}') WkendDate),
disb as (select distinct disbursementDateTime, customerId, loanType, loanAccountNumber, SUBSTR(mobileNo, -10) as mobileno , loanPaidStatus
, row_number() over(partition by SUBSTR(mobileNo, -10) order by SUBSTR(mobileNo, -10))rnk
from `risk_credit_mis.loan_master_table`, dt 
where 
date_trunc(disbursementDateTime, day) <= dt.WkendDate
-- between dt.WkstartDate and dt.WkendDate 
and 
coalesce(loanPaidStatus, 'NA') not in ('Settled','Completed')
),
cd AS (
  SELECT
    customer_id,
    new_mobile_number,
    ROW_NUMBER() OVER(PARTITION BY customer_id ORDER BY change_date)rnk
  FROM
    `risk_credit_mis.customer_contact_details`
  WHERE
    ACTIVE = 'Y')
  ,
buck1 as 
(select distinct dt.WkstartDate, dt.WkendDate, lbfrc.bucketDate, lbfrc.loanAccountNumber, lbfrc.loanStatus, lbfrc.bucketDate, lbfrc.Max_current_DPD as DPD
  , lmt.customerId, right(cd.new_mobile_number, 10) newmobilenumber from `risk_credit_mis.loan_bucket_flow_report_core` lbfrc, dt 
  left join `risk_credit_mis.loan_master_table` lmt on lmt.loanAccountNumber = lbfrc.loanAccountNumber
  left join cd on cd.customer_id = lmt.customerId
  where date(bucketDate) =  date(dt.WkstartDate) and coalesce(lbfrc.Max_current_DPD, 0) between 1 and 30 ),
buck1end as
(select distinct dt.WkstartDate, dt.WkendDate, lbfrc.bucketDate, lbfrc.loanAccountNumber, lbfrc.loanStatus, lbfrc.bucketDate, lbfrc.Max_current_DPD as DPD
  , lmt.customerId, right(cd.new_mobile_number, 10) newmobilenumber 
from `risk_credit_mis.loan_bucket_flow_report_core` lbfrc, dt 
inner join buck1 on buck1.loanAccountNumber = lbfrc.loanAccountNumber
left join `risk_credit_mis.loan_master_table` lmt on lmt.loanAccountNumber = lbfrc.loanAccountNumber
left join cd on cd.customer_id = lmt.customerId
where date(lbfrc.bucketDate) =  date(dt.WkendDate))
select  dt.WkstartDate, dt.WkendDate
, count(distinct case when coalesce(buck1end.DPD, 0) <= coalesce(buck1.DPD, 0) then buck1.loanAccountNumber end) Normalized_Greg
, count(distinct buck1.loanAccountNumber) Normalized_denominator
from buck1, dt
left join buck1end on buck1end.loanAccountNumber = buck1.loanAccountNumber
group by 1, 2

"""
dfbuck1normalizationgreg = client.query(sq).to_dataframe(progress_bar_type='tqdm')
dfbuck1normalizationgreg['Bucket1_Normalized'] = dfbuck1normalizationgreg['Normalized_Greg']/dfbuck1normalizationgreg['Normalized_denominator']
dfbuck1normalizationgreg

Job ID 6409683f-ab40-444e-89f9-ff57760e7aae successfully executed: |          |
Downloading: 100%|██████████|

,WkstartDate,WkendDate,Normalized_Greg,Normalized_denominator,Bucket1_Normalized
0,2024-06-01,2024-06-30,2076,4444,0.467147

In [14]:
df = pd.concat([df, dfbuck1normalizationgreg[['Normalized_Greg','Normalized_denominator','Bucket1_Normalized']]], axis = 1)
df

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1contactrate,Normalized_Greg,Normalized_denominator,Bucket1_Normalized
0,2024-06-01,2024-06-30,7536,9236,0.815938,13887,26699,0.520132,5247,10514,0.499049,2076,4444,0.467147

This SQL code seems to be calculating a normalization factor for a specific scenario related to loans and their bucket flow. Let's break down the logic step by step:

1. **Common Table Expressions (CTE): `dt`**
   - This CTE creates a temporary table (`dt`) with the start and end dates provided (`sd` and `ed`), used for filtering later.

2. **Common Table Expressions (CTE): `disb`**
   - This CTE retrieves distinct records from the `risk_credit_mis.loan_master_table` table, filtering for disbursement events that occurred on or before the provided end date (`WkendDate`).
   - The `rnk` column is calculated using the `ROW_NUMBER()` function partitioned by the last 10 digits of the mobile number.
   - The result is filtered to exclude records with a `loanPaidStatus` of 'Settled' or 'Completed'.

3. **Common Table Expressions (CTE): `cd`**
   - This CTE retrieves data from the `risk_credit_mis.customer_contact_details` table, including the customer ID and new mobile number, with row numbers assigned based on the change date.

4. **Common Table Expressions (CTE): `buck1`**
   - This CTE retrieves data related to loans in a specific DPD (Days Past Due) range from the `risk_credit_mis.loan_bucket_flow_report_core` table.
   - It joins with the previously defined `disb` CTE and includes additional information about the loan, customer, and mobile number.
   - The result is filtered to consider only the bucket date matching the start date (`WkstartDate`) and where the DPD is between 1 and 30.

5. **Common Table Expressions (CTE): `buck1end`**
   - This CTE refines the data from `buck1` by joining with the same bucket flow report table but considering the end date (`WkendDate`).
   - It includes information about the loan, customer, and mobile number.

6. **Main Query**
   - The main query calculates a normalization factor for a specific scenario related to loans and their bucket flow.
   - It counts the number of distinct loans where the DPD at the end date is less than or equal to the DPD at the start date (`Normalized_Greg`).
   - It also counts the total number of distinct loans at the start date (`Normalized_denominator`).
   - The final result includes the start and end dates, along with the calculated normalization factor (`Bucket1_Normalized`), which is the ratio of `Normalized_Greg` to `Normalized_denominator`.

Overall, this code is designed to analyze and report on the normalization factor for a specific scenario involving loans, their bucket flow, and the Days Past Due (DPD) values over a specified time period. The normalization factor provides insight into how many loans have maintained or improved their DPD status within the given time frame.

# Bucket 2 Contact Rate

In [15]:
sq = f"""WITH
  dt AS (
  SELECT
    DATE('{sd}') WkstartDate,
    DATE('{ed}') WkendDate),
disb as (select distinct disbursementDateTime, customerId, loanType, loanAccountNumber, SUBSTR(mobileNo, -10) as mobileno , loanPaidStatus
, row_number() over(partition by SUBSTR(mobileNo, -10) order by SUBSTR(mobileNo, -10))rnk
from `risk_credit_mis.loan_master_table`, dt 
where 
date_trunc(disbursementDateTime, day) <= dt.WkendDate
-- between dt.WkstartDate and dt.WkendDate 
and 
coalesce(loanPaidStatus, 'NA') not in ('Settled','Completed')
),
cd AS (
  SELECT
    customer_id,
    new_mobile_number,
    ROW_NUMBER() OVER(PARTITION BY customer_id ORDER BY change_date)rnk
  FROM
    `risk_credit_mis.customer_contact_details`
  WHERE
    ACTIVE = 'Y')
  ,
  buck2 as 
  (select distinct dt.WkstartDate, dt.WkendDate, lbfrc.loanAccountNumber, lbfrc.loanStatus, lbfrc.bucketDate, lbfrc.Max_current_DPD as DPD, lmt.customerId, right(cd.new_mobile_number, 10) newmobilenumber
  , row_number() over(partition by lbfrc.loanAccountNumber order by lbfrc.bucketDate desc) buck2rnk
  from `risk_credit_mis.loan_bucket_flow_report_core` lbfrc, dt 
  left join `risk_credit_mis.loan_master_table` lmt on lmt.loanAccountNumber = lbfrc.loanAccountNumber
  left join cd on cd.customer_id = lmt.customerId
  where date(bucketDate) between  date(dt.WkstartDate) and  date(dt.WkendDate)
  and coalesce(lbfrc.Max_current_DPD, 0) between 31 and 60 
  and date(lbfrc.firstDueDate) <= date(current_date())
  and lbfrc.loanStatus = 'In Arrears'
  and cd.rnk = 1
  )
    ,
buck2cr2 as 
(select distinct
 dt.WkstartDate,
  dt.WkendDate,
  g.Genesys_call_id,
  g.callDatetime,
  COALESCE(g.IS_APC, 0) APC,
  COALESCE(g.IS_RPC, 0) RPC,
  COALESCE(g.IS_PTP,0) PTP,
  RIGHT(g.mobileNumber, 10) mobileNumber,
  buck2.newmobilenumber mobilefrombuckettable,
  g.campaignName,
  g.agentGroup,
  g.agentFullName,
  g.employeeId,
  g.connected,
  g.notConnected,
  g.callResult, 
  buck2.loanAccountNumber,
  buck2.DPD,
  case when g.IS_APC = 1 then g.mobileNumber end apc_m,
  case when g.IS_RPC = 1 then g.mobileNumber end rpc_m,
  case when g.IS_PTP = 1 then mobileNumber end ptp_m,
  ROW_NUMBER() OVER(PARTITION BY g.Genesys_call_id ORDER BY g.callDatetime DESC, COALESCE(g.IS_APC, 0), COALESCE(g.IS_RPC, 0), COALESCE(g.IS_PTP, 0))rnk 
from  `risk_credit_mis.call_attempt_history_gensys` g,  dt
inner join buck2 on buck2.newmobilenumber = right(g.mobileNumber,10)
LEFT JOIN  `dap_ds_poweruser_playground.campaignmaster` cm ON  UPPER(cm.Campaignname) = UPPER(g.campaignName)
where cm.Reference = 'COLL' 
AND DATE(g.callDatetime) BETWEEN DATE(dt.WkstartDate) AND DATE(dt.WkendDate)
and buck2.buck2rnk = 1
)
,
buck2cr2base as 
(select buck2cr2.WkstartDate, buck2cr2.WkendDate, buck2cr2.Genesys_call_id, buck2cr2.callDatetime
, buck2cr2.mobileNumber
, buck2cr2.mobilefrombuckettable
, buck2cr2.campaignName
, buck2cr2.agentGroup
, buck2cr2.agentFullName
, buck2cr2.employeeId
, buck2cr2.connected
, buck2cr2.notConnected
, buck2cr2.callResult
, buck2cr2.loanAccountNumber
, buck2cr2.apc_m 
, buck2cr2.rpc_m
, buck2cr2.ptp_m 
, buck2cr2.DPD
, buck2cr2.rnk 
 from buck2cr2 where rnk = 1
)
Select * 
, (select count(distinct apc_m) from buck2cr2base) bucket2contacted,
(select count(distinct mobilefrombuckettable) Bucket2callcontactrate from buck2cr2base where mobilefrombuckettable is not null)bucket2callcontacted
from dt;
"""
dfbucket2contactrate = client.query(sq).to_dataframe()
dfbucket2contactrate['bucket2contactrate'] = dfbucket2contactrate['bucket2contacted']/dfbucket2contactrate['bucket2callcontacted']
dfbucket2contactrate

,WkstartDate,WkendDate,bucket2contacted,bucket2callcontacted,bucket2contactrate
0,2024-06-01,2024-06-30,2727,5070,0.53787

In [16]:
df = pd.concat([df, dfbucket2contactrate[['bucket2contacted','bucket2callcontacted','bucket2contactrate']]], axis = 1)
df

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1contactrate,Normalized_Greg,Normalized_denominator,Bucket1_Normalized,bucket2contacted,bucket2callcontacted,bucket2contactrate
0,2024-06-01,2024-06-30,7536,9236,0.815938,13887,26699,0.520132,5247,10514,0.499049,2076,4444,0.467147,2727,5070,0.53787

This SQL code appears to be querying data related to a specific type of call campaign, likely associated with loan collections or debt recovery, focusing on loans with Days Past Due (DPD) values between 31 and 60. Let's break down the logic step by step:

1. **Common Table Expressions (CTE): `dt`**
   - Similar to previous examples, this CTE creates a temporary table (`dt`) with the start and end dates provided (`sd` and `ed`), used for filtering later.

2. **Common Table Expressions (CTE): `disb`**
   - This CTE retrieves distinct records from the `risk_credit_mis.loan_master_table` table, filtering for disbursement events that occurred on or before the provided end date (`WkendDate`).
   - The `rnk` column is calculated using the `ROW_NUMBER()` function partitioned by the last 10 digits of the mobile number.
   - The result is filtered to exclude records with a `loanPaidStatus` of 'Settled' or 'Completed'.

3. **Common Table Expressions (CTE): `cd`**
   - This CTE retrieves data from the `risk_credit_mis.customer_contact_details` table, including the customer ID and new mobile number, with row numbers assigned based on the change date.

4. **Common Table Expressions (CTE): `buck2`**
   - This CTE retrieves data related to loans with DPD values between 31 and 60 from the `risk_credit_mis.loan_bucket_flow_report_core` table.
   - It joins with the previously defined `disb` CTE and includes additional information about the loan, customer, and mobile number.
   - The result is filtered to consider only the bucket date between the start and end dates, where the DPD is between 31 and 60.

5. **Common Table Expressions (CTE): `buck2cr2`**
   - This CTE retrieves call attempt data related to collections from the `risk_credit_mis.call_attempt_history_gensys` table.
   - It joins with the `buck2` CTE and includes details such as campaign information, call results, and row numbers based on the call datetime and flags for different call types (APC, RPC, PTP).
   - The result is filtered to include only records with `rnk = 1` and calls associated with the 'COLL' reference.

6. **Common Table Expressions (CTE): `buck2cr2base`**
   - This CTE is a copy of the previous `buck2cr2` CTE, retaining all columns.

7. **Main Query**
   - The main query selects various aggregated counts and values from the CTEs, providing metrics related to calls associated with loans in the specified DPD range.
   - The counts include the number of connected calls (`bucket2contacted`) and the total number of distinct mobile numbers contacted (`Bucket2callcontactrate`).
   - Finally, it calculates the contact rate as the ratio of connected calls to the total called numbers.

Overall, this code is designed to analyze and report metrics related to calls associated with loans in the specified DPD range (31 to 60), specifically focusing on connected calls and contact rates over a specified time period. The logic involves joining and filtering data from multiple tables to extract relevant information for analysis.

# Bucket 2 Normalization

In [17]:
sq = f"""WITH
  dt AS (
  SELECT
    DATE('{sd}') WkstartDate,
    DATE('{ed}') WkendDate),
disb as (select distinct disbursementDateTime, customerId, loanType, loanAccountNumber, SUBSTR(mobileNo, -10) as mobileno , loanPaidStatus
, row_number() over(partition by SUBSTR(mobileNo, -10) order by SUBSTR(mobileNo, -10))rnk
from `risk_credit_mis.loan_master_table`, dt 
where 
date_trunc(disbursementDateTime, day) <= dt.WkendDate
-- between dt.WkstartDate and dt.WkendDate 
and 
coalesce(loanPaidStatus, 'NA') not in ('Settled','Completed')
),
cd AS (
  SELECT
    customer_id,
    new_mobile_number,
    ROW_NUMBER() OVER(PARTITION BY customer_id ORDER BY change_date)rnk
  FROM
    `risk_credit_mis.customer_contact_details`
  WHERE
    ACTIVE = 'Y')
  ,
buck2 as 
(select distinct dt.WkstartDate, dt.WkendDate, lbfrc.bucketDate, lbfrc.loanAccountNumber, lbfrc.loanStatus, lbfrc.bucketDate, lbfrc.Max_current_DPD as DPD
  , lmt.customerId, right(cd.new_mobile_number, 10) newmobilenumber from `risk_credit_mis.loan_bucket_flow_report_core` lbfrc, dt 
  left join `risk_credit_mis.loan_master_table` lmt on lmt.loanAccountNumber = lbfrc.loanAccountNumber
  left join cd on cd.customer_id = lmt.customerId
  where date(bucketDate) =  date(dt.WkstartDate) and coalesce(lbfrc.Max_current_DPD, 0) between 31 and 60 ),
buck2end as
(select distinct dt.WkstartDate, dt.WkendDate, lbfrc.bucketDate, lbfrc.loanAccountNumber, lbfrc.loanStatus, lbfrc.bucketDate, lbfrc.Max_current_DPD as DPD
  , lmt.customerId, right(cd.new_mobile_number, 10) newmobilenumber 
from `risk_credit_mis.loan_bucket_flow_report_core` lbfrc, dt 
inner join buck2 on buck2.loanAccountNumber = lbfrc.loanAccountNumber
left join `risk_credit_mis.loan_master_table` lmt on lmt.loanAccountNumber = lbfrc.loanAccountNumber
left join cd on cd.customer_id = lmt.customerId
where date(lbfrc.bucketDate) =  date(dt.WkendDate))
select  dt.WkstartDate, dt.WkendDate
, count(distinct case when coalesce(buck2end.DPD, 0) <= coalesce(buck2.DPD, 0) then buck2.loanAccountNumber end) Normalized_buck2_Greg
, count(distinct buck2.loanAccountNumber) Normalized_buck2_denominator
from buck2, dt
left join buck2end on buck2end.loanAccountNumber = buck2.loanAccountNumber
group by 1, 2;
"""

dfbucket2normalization = client.query(sq).to_dataframe(progress_bar_type = 'tqdm')
dfbucket2normalization['bucket2Normalizationrate'] = dfbucket2normalization['Normalized_buck2_Greg']/dfbucket2normalization['Normalized_buck2_denominator']
dfbucket2normalization

Job ID 78b08d20-578a-41ee-88a8-15b1e4527e0d successfully executed: |          |
Downloading: 100%|██████████|

,WkstartDate,WkendDate,Normalized_buck2_Greg,Normalized_buck2_denominator,bucket2Normalizationrate
0,2024-06-01,2024-06-30,397,2435,0.163039

In [18]:
dfbucket2normalization.columns

Index(['WkstartDate', 'WkendDate', 'Normalized_buck2_Greg',
       'Normalized_buck2_denominator', 'bucket2Normalizationrate'],
      dtype='object')

In [19]:
df = pd.concat([df,dfbucket2normalization[['Normalized_buck2_Greg',
       'Normalized_buck2_denominator', 'bucket2Normalizationrate']] ], axis = 1)
df

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1contactrate,Normalized_Greg,Normalized_denominator,Bucket1_Normalized,bucket2contacted,bucket2callcontacted,bucket2contactrate,Normalized_buck2_Greg,Normalized_buck2_denominator,bucket2Normalizationrate
0,2024-06-01,2024-06-30,7536,9236,0.815938,13887,26699,0.520132,5247,10514,0.499049,2076,4444,0.467147,2727,5070,0.53787,397,2435,0.163039

This SQL code calculates a normalization rate for a specific scenario related to loans and their bucket flow, focusing on loans with Days Past Due (DPD) values between 31 and 60. Here's an explanation of the logic:

1. **Common Table Expressions (CTE): `dt`**
   - This CTE creates a temporary table (`dt`) with the start and end dates provided (`sd` and `ed`), which will be used for filtering later.

2. **Common Table Expressions (CTE): `disb`**
   - This CTE retrieves distinct records from the `risk_credit_mis.loan_master_table` table, filtering for disbursement events that occurred on or before the provided end date (`WkendDate`).
   - The `rnk` column is calculated using the `ROW_NUMBER()` function partitioned by the last 10 digits of the mobile number.
   - The result is filtered to exclude records with a `loanPaidStatus` of 'Settled' or 'Completed'.

3. **Common Table Expressions (CTE): `cd`**
   - This CTE retrieves data from the `risk_credit_mis.customer_contact_details` table, including the customer ID and new mobile number, with row numbers assigned based on the change date.

4. **Common Table Expressions (CTE): `buck2`**
   - This CTE retrieves data related to loans with DPD values between 31 and 60 from the `risk_credit_mis.loan_bucket_flow_report_core` table.
   - It joins with the previously defined `disb` CTE and includes additional information about the loan, customer, and mobile number.
   - The result is filtered to consider only the bucket date matching the start date (`WkstartDate`) and where the DPD is between 31 and 60.

5. **Common Table Expressions (CTE): `buck2end`**
   - This CTE refines the data from `buck2` by joining with the same bucket flow report table but considering the end date (`WkendDate`).
   - It includes information about the loan, customer, and mobile number.

6. **Main Query**
   - The main query calculates a normalization rate for loans with DPD values between 31 and 60.
   - It counts the number of distinct loans where the DPD at the end date is less than or equal to the DPD at the start date (`Normalized_buck2_Greg`).
   - It also counts the total number of distinct loans at the start date (`Normalized_buck2_denominator`).
   - The final result includes the start and end dates, along with the calculated normalization rate (`bucket2Normalizationrate`), which is the ratio of `Normalized_buck2_Greg` to `Normalized_buck2_denominator`.

Overall, this code is designed to analyze and report on the normalization rate for loans with DPD values between 31 and 60, providing insights into how many loans have maintained or improved their DPD status within the given time frame.

# Bucket 3 Contact Rate

In [20]:
sq = f"""WITH
  dt AS (
  SELECT
    DATE('{sd}') WkstartDate,
    DATE('{ed}') WkendDate),
disb as (select distinct disbursementDateTime, customerId, loanType, loanAccountNumber, SUBSTR(mobileNo, -10) as mobileno , loanPaidStatus
, row_number() over(partition by SUBSTR(mobileNo, -10) order by SUBSTR(mobileNo, -10))rnk
from `risk_credit_mis.loan_master_table`, dt 
where 
date_trunc(disbursementDateTime, day) <= dt.WkendDate
-- between dt.WkstartDate and dt.WkendDate 
and 
coalesce(loanPaidStatus, 'NA') not in ('Settled','Completed')
),
cd AS (
  SELECT
    customer_id,
    new_mobile_number,
    ROW_NUMBER() OVER(PARTITION BY customer_id ORDER BY change_date)rnk
  FROM
    `risk_credit_mis.customer_contact_details`
  WHERE
    ACTIVE = 'Y')
  ,
  buck1 as 
  (select distinct dt.WkstartDate, dt.WkendDate, lbfrc.loanAccountNumber, lbfrc.loanStatus, lbfrc.bucketDate, lbfrc.Max_current_DPD as DPD, lmt.customerId, right(cd.new_mobile_number, 10) newmobilenumber
  , row_number() over(partition by lbfrc.loanAccountNumber order by lbfrc.bucketDate desc) buck1rnk
  from `risk_credit_mis.loan_bucket_flow_report_core` lbfrc, dt 
  left join `risk_credit_mis.loan_master_table` lmt on lmt.loanAccountNumber = lbfrc.loanAccountNumber
  left join cd on cd.customer_id = lmt.customerId
  where date(bucketDate) between  date(dt.WkstartDate) and  date(dt.WkendDate)
  and coalesce(lbfrc.Max_current_DPD, 0) between 61 and 90 
  and date(lbfrc.firstDueDate) <= date(current_date())
  and lbfrc.loanStatus = 'In Arrears'
  and cd.rnk = 1
  )
    ,
buck1cr1 as 
(select distinct
 dt.WkstartDate,
  dt.WkendDate,
  g.Genesys_call_id,
  g.callDatetime,
  COALESCE(g.IS_APC, 0) APC,
  COALESCE(g.IS_RPC, 0) RPC,
  COALESCE(g.IS_PTP,0) PTP,
  RIGHT(g.mobileNumber, 10) mobileNumber,
  buck1.newmobilenumber mobilefrombuckettable,
  g.campaignName,
  g.agentGroup,
  g.agentFullName,
  g.employeeId,
  g.connected,
  g.notConnected,
  g.callResult, 
  buck1.loanAccountNumber,
  buck1.DPD,
  case when g.IS_APC = 1 then g.mobileNumber end apc_m,
  case when g.IS_RPC = 1 then g.mobileNumber end rpc_m,
  case when g.IS_PTP = 1 then mobileNumber end ptp_m,
  ROW_NUMBER() OVER(PARTITION BY g.Genesys_call_id ORDER BY g.callDatetime DESC, COALESCE(g.IS_APC, 0), COALESCE(g.IS_RPC, 0), COALESCE(g.IS_PTP, 0))rnk 
from  `risk_credit_mis.call_attempt_history_gensys` g,  dt
inner join buck1 on buck1.newmobilenumber = right(g.mobileNumber,10)
LEFT JOIN  `dap_ds_poweruser_playground.campaignmaster` cm ON  UPPER(cm.Campaignname) = UPPER(g.campaignName)
where cm.Reference = 'COLL' and cm.Subcategory = 'HARD'
AND DATE(g.callDatetime) BETWEEN DATE(dt.WkstartDate) AND DATE(dt.WkendDate)
and buck1.buck1rnk = 1

)
,
buck1cr1base as 
(select buck1cr1.WkstartDate, buck1cr1.WkendDate, buck1cr1.Genesys_call_id, buck1cr1.callDatetime
, buck1cr1.mobileNumber
, buck1cr1.mobilefrombuckettable
, buck1cr1.campaignName
, buck1cr1.agentGroup
, buck1cr1.agentFullName
, buck1cr1.employeeId
, buck1cr1.connected
, buck1cr1.notConnected
, buck1cr1.callResult
, buck1cr1.loanAccountNumber
, buck1cr1.apc_m 
, buck1cr1.rpc_m
, buck1cr1.ptp_m 
, buck1cr1.DPD
, buck1cr1.rnk 
 from buck1cr1 where rnk = 1
)
Select * 
, (select count(distinct apc_m) from buck1cr1base) bucket3contacted,
(select count(distinct mobilefrombuckettable) Bucket3callcontactrate from buck1cr1base where mobilefrombuckettable is not null)bucket3callcontacted
from dt;"""

dfbucket3contactrate = client.query(sq).to_dataframe(progress_bar_type='tqdm')
dfbucket3contactrate['bucket3contactrate'] = dfbucket3contactrate['bucket3contacted']/dfbucket3contactrate['bucket3callcontacted']
dfbucket3contactrate

Job ID 13f345d0-ba3a-40f7-ac85-810e283644b3 successfully executed: 100%|██████████|
Downloading: 100%|██████████|

,WkstartDate,WkendDate,bucket3contacted,bucket3callcontacted,bucket3contactrate
0,2024-06-01,2024-06-30,956,2829,0.337929

In [21]:
df = pd.concat([df, dfbucket3contactrate[['bucket3contacted','bucket3callcontacted','bucket3contactrate']]], axis = 1)
df

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1contactrate,Normalized_Greg,Normalized_denominator,Bucket1_Normalized,bucket2contacted,bucket2callcontacted,bucket2contactrate,Normalized_buck2_Greg,Normalized_buck2_denominator,bucket2Normalizationrate,bucket3contacted,bucket3callcontacted,bucket3contactrate
0,2024-06-01,2024-06-30,7536,9236,0.815938,13887,26699,0.520132,5247,10514,0.499049,2076,4444,0.467147,2727,5070,0.53787,397,2435,0.163039,956,2829,0.337929

# Bucket 3 Normalization

In [22]:
sq = f"""WITH
  dt AS (
  SELECT
    DATE('{sd}') WkstartDate,
    DATE('{ed}') WkendDate),
disb as (select distinct disbursementDateTime, customerId, loanType, loanAccountNumber, SUBSTR(mobileNo, -10) as mobileno , loanPaidStatus
, row_number() over(partition by SUBSTR(mobileNo, -10) order by SUBSTR(mobileNo, -10))rnk
from `risk_credit_mis.loan_master_table`, dt 
where 
date_trunc(disbursementDateTime, day) <= dt.WkendDate
-- between dt.WkstartDate and dt.WkendDate 
and 
coalesce(loanPaidStatus, 'NA') not in ('Settled','Completed')
),
cd AS (
  SELECT
    customer_id,
    new_mobile_number,
    ROW_NUMBER() OVER(PARTITION BY customer_id ORDER BY change_date)rnk
  FROM
    `risk_credit_mis.customer_contact_details`
  WHERE
    ACTIVE = 'Y')
  ,
buck3 as 
(select distinct dt.WkstartDate, dt.WkendDate, lbfrc.bucketDate, lbfrc.loanAccountNumber, lbfrc.loanStatus, lbfrc.bucketDate, lbfrc.Max_current_DPD as DPD
  , lmt.customerId, right(cd.new_mobile_number, 10) newmobilenumber from `risk_credit_mis.loan_bucket_flow_report_core` lbfrc, dt 
  left join `risk_credit_mis.loan_master_table` lmt on lmt.loanAccountNumber = lbfrc.loanAccountNumber
  left join cd on cd.customer_id = lmt.customerId
  where date(bucketDate) =  date(dt.WkstartDate) and coalesce(lbfrc.Max_current_DPD, 0) between 61 and 90 ),
buck3end as
(select distinct dt.WkstartDate, dt.WkendDate, lbfrc.bucketDate, lbfrc.loanAccountNumber, lbfrc.loanStatus, lbfrc.bucketDate, lbfrc.Max_current_DPD as DPD
  , lmt.customerId, right(cd.new_mobile_number, 10) newmobilenumber 
from `risk_credit_mis.loan_bucket_flow_report_core` lbfrc, dt 
inner join buck3 on buck3.loanAccountNumber = lbfrc.loanAccountNumber
left join `risk_credit_mis.loan_master_table` lmt on lmt.loanAccountNumber = lbfrc.loanAccountNumber
left join cd on cd.customer_id = lmt.customerId
where date(lbfrc.bucketDate) =  date(dt.WkendDate))
select  dt.WkstartDate, dt.WkendDate
, count(distinct case when coalesce(buck3end.DPD, 0) <= coalesce(buck3.DPD, 0) then buck3.loanAccountNumber end) Normalized_buck3_Greg
, count(distinct buck3.loanAccountNumber) Normalized_buck3_denominator
from buck3, dt
left join buck3end on buck3end.loanAccountNumber = buck3.loanAccountNumber
group by 1, 2;
"""

dfbucket3normalization = client.query(sq).to_dataframe(progress_bar_type = 'tqdm')
dfbucket3normalization['bucket3Normalizationrate'] = dfbucket3normalization['Normalized_buck3_Greg']/dfbucket3normalization['Normalized_buck3_denominator']
dfbucket3normalization

Job ID 3313b42a-275c-40b2-8cf1-81d2bafd1bdb successfully executed: |          |
Downloading: 100%|██████████|

,WkstartDate,WkendDate,Normalized_buck3_Greg,Normalized_buck3_denominator,bucket3Normalizationrate
0,2024-06-01,2024-06-30,115,1939,0.059309

In [23]:
df = pd.concat([df,dfbucket3normalization[['Normalized_buck3_Greg',
       'Normalized_buck3_denominator', 'bucket3Normalizationrate']] ], axis = 1)
df

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1contactrate,Normalized_Greg,Normalized_denominator,Bucket1_Normalized,bucket2contacted,bucket2callcontacted,bucket2contactrate,Normalized_buck2_Greg,Normalized_buck2_denominator,bucket2Normalizationrate,bucket3contacted,bucket3callcontacted,bucket3contactrate,Normalized_buck3_Greg,Normalized_buck3_denominator,bucket3Normalizationrate
0,2024-06-01,2024-06-30,7536,9236,0.815938,13887,26699,0.520132,5247,10514,0.499049,2076,4444,0.467147,2727,5070,0.53787,397,2435,0.163039,956,2829,0.337929,115,1939,0.059309

# Recovery Rate - Bucket1

In [24]:
sq = f"""
with Overdue as 
(select bucketDate
, DATE'{sd}' wkstartdate
,  DATE'{ed}' wkenddate
, loanStatus
, loanAccountNumber
,case  
  when coalesce(Max_current_DPD,0) <= 0 then 'B. Not Delinquent'
  when coalesce(Max_current_DPD,0) >= 1 and coalesce(Max_current_DPD, 0) <= 30 then 'C. 1-30DPD' 
  when coalesce(Max_current_DPD, 0) >=31 and coalesce(Max_current_DPD, 0) <= 60 then 'D. 31-60DPD'
  when coalesce(Max_current_DPD, 0) >=61 and coalesce(Max_current_DPD, 0) <= 90 then 'E. 61-90DPD'
  when coalesce(Max_current_DPD, 0) >=91 and coalesce(Max_current_DPD, 0) <= 120 then 'F. 91-120DPD'
  when coalesce(Max_current_DPD, 0) >=121 and coalesce(Max_current_DPD, 0) <= 150 then 'G. 121-150DPD'
  when coalesce(Max_current_DPD, 0) >=151 and coalesce(Max_current_DPD, 0) <= 180 then 'H. 151-180DPD'
  when coalesce(Max_current_DPD, 0) >=181 and coalesce(Max_current_DPD, 0) <= 360 then 'I. 181-360DPD'
  when coalesce(Max_current_DPD, 0) >=361 then 'J. >360DPD' end  bucketbin
,case
  when coalesce(Max_current_DPD,0) <= 0 then 0
  when coalesce(Max_current_DPD,0) >= 1 and coalesce(Max_current_DPD, 0) <= 30 then 1 
  when coalesce(Max_current_DPD, 0) >=31 and coalesce(Max_current_DPD, 0) <= 60 then 2
  when coalesce(Max_current_DPD, 0) >=61 and coalesce(Max_current_DPD, 0) <= 90 then 3
  when coalesce(Max_current_DPD, 0) >=91 and coalesce(Max_current_DPD, 0) <= 120 then 4
  when coalesce(Max_current_DPD, 0) >=121 and coalesce(Max_current_DPD, 0) <= 150 then 5
  when coalesce(Max_current_DPD, 0) >=151 and coalesce(Max_current_DPD, 0) <= 180 then 6
  when coalesce(Max_current_DPD, 0) >=181 and coalesce(Max_current_DPD, 0) <= 360 then 7
  when coalesce(Max_current_DPD, 0) >=361 then 8 end  bucket,
sum(Total_Outstanding_Amount) totaloutstandingamount,
sum(Total_Overdue_Amount) Total_Overdue_Amount
from `risk_credit_mis.loan_bucket_flow_report_core`
where bucketDate = DATE'{sd}'
and loanStatus in ('Normal', 'In Arrears')
and Total_Outstanding_Amount is not null
and Total_Outstanding_Amount > 0
group by 1, 2,3,4,5,6,7
)
,
overduebase as
(select bucketDate, wkstartdate,wkenddate, loanAccountNumber, bucket
, sum(totaloutstandingamount)totaloutstandingamount 
, sum(case when loanStatus = 'In Arrears' then totaloutstandingamount else 0 end) inArearstotaloutstandingamount
, sum(case when loanStatus = 'Normal' then totaloutstandingamount else 0 end) Normaltotaloutstandingamount
, sum(case when loanStatus = 'In Arrears' then Total_Overdue_Amount else 0 end) inArearstoTotal_Overdue_Amount
, sum(case when loanStatus = 'Normal' then Total_Overdue_Amount else 0 end) NormalTotal_Overdue_Amount
from Overdue
group by 1,2,3,4,5
)
,
payments as 
(select  DATE'{sd}' wkstartdate, DATE'{ed}' wkenddate,  loanAccountNumber, lastPaymentDate,isDelinquent, isCurrentDelinquent,
sum(installmentPaidAmount) payment
from `risk_credit_mis.loan_installments_table`
where coalesce(lastPaymentDate, date('3000-01-01')) between  DATE'{sd}' and DATE'{ed}'
and isDelinquent = 1
and coalesce(installmentPaidAmount, 0) > 0
group by 1,2,3,4,5,6
), 
paymentbase as  
(select wkstartdate, wkenddate, loanAccountNumber
, count(distinct lastPaymentDate) noofdayspaymentreceived 
, sum(case when isDelinquent = 1 and isCurrentDelinquent = 0 then 1 else 0 end) Normalized_cnt
, sum(case when isDelinquent = 1 and isCurrentDelinquent = 1 then 1 else 0 end) paymentreceivedbutstilldelinquent_cnt
, sum(case when isDelinquent = 1 and isCurrentDelinquent = 0 then payment else 0 end) Normalized
, sum(case when isDelinquent = 1 and isCurrentDelinquent = 1 then payment else 0 end) paymentreceivedbutstilldelinquent
, sum(payment) payment
from payments 
group by 1,2,3
)
select 
overduebase.bucketDate
, overduebase.wkstartdate
, overduebase.wkenddate
, bucket
, count(distinct overduebase.loanAccountNumber ) cntloanoverdue
, sum(overduebase.totaloutstandingamount) totaloutstandingamount
, sum(overduebase.inArearstotaloutstandingamount) inArearstotaloutstandingamount
, sum(overduebase.Normaltotaloutstandingamount) Normaltotaloutstandingamount
, sum(overduebase.inArearstoTotal_Overdue_Amount) inArearstoTotal_Overdue_Amount
, sum(overduebase.NormalTotal_Overdue_Amount)NormalTotal_Overdue_Amount
, count(distinct paymentbase.loanAccountNumber) cnt_loanpaymentsreceived
, max(noofdayspaymentreceived) noofdayspaymentreceived
, sum(Normalized_cnt) Normalized_cnt
, sum(Normalized)Normalized
, sum(paymentreceivedbutstilldelinquent_cnt)paymentreceivedbutstilldelinquent_cnt
, sum(paymentreceivedbutstilldelinquent) paymentreceivedbutstilldelinquent
, sum(payment)payment
from overduebase
left join paymentbase on overduebase.loanAccountNumber = paymentbase.loanAccountNumber 
group by 1,2,3,4

"""
dfrecovery = client.query(sq).to_dataframe(progress_bar_type='tqdm')
dfrecovery['paymentsfromoverdue'] = dfrecovery['Normalized'] + dfrecovery['paymentreceivedbutstilldelinquent']
dfrecovery['recoveryrate'] = (dfrecovery['Normalized'] + dfrecovery['paymentreceivedbutstilldelinquent'])/dfrecovery['inArearstoTotal_Overdue_Amount']
dfrecovery['paymentreceived'] = dfrecovery['Normalized'] + dfrecovery['paymentreceivedbutstilldelinquent']
dfrecovery

Job ID 8c18bddc-4434-4b9e-8e05-b17439430020 successfully executed: |          |
Downloading: 100%|██████████|

,bucketDate,wkstartdate,wkenddate,bucket,cntloanoverdue,totaloutstandingamount,inArearstotaloutstandingamount,Normaltotaloutstandingamount,inArearstoTotal_Overdue_Amount,NormalTotal_Overdue_Amount,cnt_loanpaymentsreceived,noofdayspaymentreceived,Normalized_cnt,Normalized,paymentreceivedbutstilldelinquent_cnt,paymentreceivedbutstilldelinquent,payment,paymentsfromoverdue,recoveryrate,paymentreceived
0,2024-06-01,2024-06-01,2024-06-30,0,53705,6.495835e+08,0.000000e+00,6.495835e+08,0.000000e+00,376923.34,5893,2,4033,8864568.63,1894,400353.32,9264921.95,9264921.95,inf,9264921.95
1,2024-06-01,2024-06-01,2024-06-30,4,1778,3.506663e+07,3.506663e+07,0.000000e+00,1.731191e+07,0.00,77,3,64,247052.71,68,81774.33,328827.04,328827.04,0.018994,328827.04
2,2024-06-01,2024-06-01,2024-06-30,2,2407,3.870655e+07,3.870655e+07,0.000000e+00,1.122937e+07,0.00,421,3,423,1381966.68,244,213750.64,1595717.32,1595717.32,0.142102,1595717.32
3,2024-06-01,2024-06-01,2024-06-30,1,4392,5.946531e+07,5.946531e+07,0.000000e+00,9.955932e+06,0.00,2456,3,2120,4974349.19,754,312801.97,5287151.16,5287151.16,0.531055,5287151.16
4,2024-06-01,2024-06-01,2024-06-30,8,5301,1.496486e+08,1.496486e+08,0.000000e+00,1.303316e+08,0.00,0,<NA>,<NA>,NaN,<NA>,NaN,NaN,NaN,NaN,NaN
5,2024-06-01,2024-06-01,2024-06-30,7,8332,2.397770e+08,2.397770e+08,0.000000e+00,1.715221e+08,0.00,65,2,55,203907.41,59,88939.49,292846.90,292846.90,0.001707,292846.90
6,2024-06-01,2024-06-01,2024-06-30,6,1226,3.332202e+07,3.332202e+07,0.000000e+00,1.941470e+07,0.00,38,2,28,117387.04,36,57113.51,174500.55,174500.55,0.008988,174500.55
7,2024-06-01,2024-06-01,2024-06-30,3,1930,3.250257e+07,3.250257e+07,0.000000e+00,1.344059e+07,0.00,143,3,118,477352.76,105,112836.55,590189.31,590189.31,0.043911,590189.31
8,2024-06-01,2024-06-01,2024-06-30,5,1600,3.406001e+07,3.406001e+07,0.000000e+00,1.914550e+07,0.00,54,2,45,310354.43,43,57268.86,367623.29,367623.29,0.019202,367623.29

In [25]:
dfr = dfrecovery[dfrecovery['bucket'] == 1].copy()
dfr= dfr[['wkstartdate','wkenddate','inArearstoTotal_Overdue_Amount','paymentsfromoverdue','recoveryrate']]
dfr.rename(columns ={'wkstartdate':'WkstartDate','wkenddate': 'WkendDate', 'inArearstoTotal_Overdue_Amount':'Bucket1_inArearstoTotal_Overdue_Amount', 'paymentsfromoverdue':'Bucket1_paymentsfromoverdue', 'recoveryrate':'Bucket1_recoveryrate'}, inplace = True)
dfr.columns

Index(['WkstartDate', 'WkendDate', 'Bucket1_inArearstoTotal_Overdue_Amount',
       'Bucket1_paymentsfromoverdue', 'Bucket1_recoveryrate'],
      dtype='object')

In [26]:
dfr

,WkstartDate,WkendDate,Bucket1_inArearstoTotal_Overdue_Amount,Bucket1_paymentsfromoverdue,Bucket1_recoveryrate
3,2024-06-01,2024-06-30,9955932.4,5287151.16,0.531055

In [27]:
df

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1contactrate,Normalized_Greg,Normalized_denominator,Bucket1_Normalized,bucket2contacted,bucket2callcontacted,bucket2contactrate,Normalized_buck2_Greg,Normalized_buck2_denominator,bucket2Normalizationrate,bucket3contacted,bucket3callcontacted,bucket3contactrate,Normalized_buck3_Greg,Normalized_buck3_denominator,bucket3Normalizationrate
0,2024-06-01,2024-06-30,7536,9236,0.815938,13887,26699,0.520132,5247,10514,0.499049,2076,4444,0.467147,2727,5070,0.53787,397,2435,0.163039,956,2829,0.337929,115,1939,0.059309

In [28]:
dfr.reset_index(drop=True, inplace=True)
df = pd.concat([df, dfr[['Bucket1_inArearstoTotal_Overdue_Amount', 'Bucket1_paymentsfromoverdue','Bucket1_recoveryrate']]], axis = 1)
df

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1contactrate,Normalized_Greg,Normalized_denominator,Bucket1_Normalized,bucket2contacted,bucket2callcontacted,bucket2contactrate,Normalized_buck2_Greg,Normalized_buck2_denominator,bucket2Normalizationrate,bucket3contacted,bucket3callcontacted,bucket3contactrate,Normalized_buck3_Greg,Normalized_buck3_denominator,bucket3Normalizationrate,Bucket1_inArearstoTotal_Overdue_Amount,Bucket1_paymentsfromoverdue,Bucket1_recoveryrate
0,2024-06-01,2024-06-30,7536,9236,0.815938,13887,26699,0.520132,5247,10514,0.499049,2076,4444,0.467147,2727,5070,0.53787,397,2435,0.163039,956,2829,0.337929,115,1939,0.059309,9955932.4,5287151.16,0.531055

# Recovery Rate - Bucket2

In [29]:
dfr = dfrecovery[dfrecovery['bucket'] == 2].copy()
dfr= dfr[['wkstartdate','wkenddate','inArearstoTotal_Overdue_Amount','paymentsfromoverdue','recoveryrate']]
dfr.rename(columns ={'wkstartdate':'WkstartDate','wkenddate': 'WkendDate', 'inArearstoTotal_Overdue_Amount':'Bucket2_inArearstoTotal_Overdue_Amount', 'paymentsfromoverdue':'Bucket2_paymentsfromoverdue', 'recoveryrate':'Bucket2_recoveryrate'}, inplace = True)
dfr.columns

Index(['WkstartDate', 'WkendDate', 'Bucket2_inArearstoTotal_Overdue_Amount',
       'Bucket2_paymentsfromoverdue', 'Bucket2_recoveryrate'],
      dtype='object')

In [30]:
dfr.reset_index(drop=True, inplace=True)
df = pd.concat([df, dfr[['Bucket2_inArearstoTotal_Overdue_Amount', 'Bucket2_paymentsfromoverdue','Bucket2_recoveryrate']]], axis = 1)
df

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1contactrate,Normalized_Greg,Normalized_denominator,Bucket1_Normalized,bucket2contacted,bucket2callcontacted,bucket2contactrate,Normalized_buck2_Greg,Normalized_buck2_denominator,bucket2Normalizationrate,bucket3contacted,bucket3callcontacted,bucket3contactrate,Normalized_buck3_Greg,Normalized_buck3_denominator,bucket3Normalizationrate,Bucket1_inArearstoTotal_Overdue_Amount,Bucket1_paymentsfromoverdue,Bucket1_recoveryrate,Bucket2_inArearstoTotal_Overdue_Amount,Bucket2_paymentsfromoverdue,Bucket2_recoveryrate
0,2024-06-01,2024-06-30,7536,9236,0.815938,13887,26699,0.520132,5247,10514,0.499049,2076,4444,0.467147,2727,5070,0.53787,397,2435,0.163039,956,2829,0.337929,115,1939,0.059309,9955932.4,5287151.16,0.531055,11229368.4,1595717.32,0.142102

# Recovery Rate - Bucket3

In [31]:
dfr = dfrecovery[dfrecovery['bucket'] == 3].copy()
dfr= dfr[['wkstartdate','wkenddate','inArearstoTotal_Overdue_Amount','paymentsfromoverdue','recoveryrate']]
dfr.rename(columns ={'wkstartdate':'WkstartDate','wkenddate': 'WkendDate',
                     'inArearstoTotal_Overdue_Amount':'Bucket3_inArearstoTotal_Overdue_Amount',
                     'paymentsfromoverdue':'Bucket3_paymentsfromoverdue',
                     'recoveryrate':'Bucket3_recoveryrate'}, inplace = True)
dfr.columns

Index(['WkstartDate', 'WkendDate', 'Bucket3_inArearstoTotal_Overdue_Amount',
       'Bucket3_paymentsfromoverdue', 'Bucket3_recoveryrate'],
      dtype='object')

In [32]:
dfr.reset_index(drop=True, inplace=True)
df = pd.concat([df, dfr[['Bucket3_inArearstoTotal_Overdue_Amount',
       'Bucket3_paymentsfromoverdue', 'Bucket3_recoveryrate']]], axis = 1)
df

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1contactrate,Normalized_Greg,Normalized_denominator,Bucket1_Normalized,bucket2contacted,bucket2callcontacted,bucket2contactrate,Normalized_buck2_Greg,Normalized_buck2_denominator,bucket2Normalizationrate,bucket3contacted,bucket3callcontacted,bucket3contactrate,Normalized_buck3_Greg,Normalized_buck3_denominator,bucket3Normalizationrate,Bucket1_inArearstoTotal_Overdue_Amount,Bucket1_paymentsfromoverdue,Bucket1_recoveryrate,Bucket2_inArearstoTotal_Overdue_Amount,Bucket2_paymentsfromoverdue,Bucket2_recoveryrate,Bucket3_inArearstoTotal_Overdue_Amount,Bucket3_paymentsfromoverdue,Bucket3_recoveryrate
0,2024-06-01,2024-06-30,7536,9236,0.815938,13887,26699,0.520132,5247,10514,0.499049,2076,4444,0.467147,2727,5070,0.53787,397,2435,0.163039,956,2829,0.337929,115,1939,0.059309,9955932.4,5287151.16,0.531055,11229368.4,1595717.32,0.142102,13440591.64,590189.31,0.043911

# Recovery Rate - Bucket4

In [33]:
dfr = dfrecovery[dfrecovery['bucket'] == 4].copy()
dfr= dfr[['wkstartdate','wkenddate','inArearstoTotal_Overdue_Amount','paymentsfromoverdue','recoveryrate']]
dfr.rename(columns ={'wkstartdate':'WkstartDate','wkenddate': 'WkendDate',
                     'inArearstoTotal_Overdue_Amount':'Bucket4_inArearstoTotal_Overdue_Amount',
                     'paymentsfromoverdue':'Bucket4_paymentsfromoverdue',
                     'recoveryrate':'Bucket4_recoveryrate'}, inplace = True)
dfr.columns

Index(['WkstartDate', 'WkendDate', 'Bucket4_inArearstoTotal_Overdue_Amount',
       'Bucket4_paymentsfromoverdue', 'Bucket4_recoveryrate'],
      dtype='object')

In [34]:
dfr.reset_index(drop=True, inplace=True)
df = pd.concat([df, dfr[['Bucket4_inArearstoTotal_Overdue_Amount',
       'Bucket4_paymentsfromoverdue', 'Bucket4_recoveryrate']]], axis = 1)
df

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1contactrate,Normalized_Greg,Normalized_denominator,Bucket1_Normalized,bucket2contacted,bucket2callcontacted,bucket2contactrate,Normalized_buck2_Greg,Normalized_buck2_denominator,bucket2Normalizationrate,bucket3contacted,bucket3callcontacted,bucket3contactrate,Normalized_buck3_Greg,Normalized_buck3_denominator,bucket3Normalizationrate,Bucket1_inArearstoTotal_Overdue_Amount,Bucket1_paymentsfromoverdue,Bucket1_recoveryrate,Bucket2_inArearstoTotal_Overdue_Amount,Bucket2_paymentsfromoverdue,Bucket2_recoveryrate,Bucket3_inArearstoTotal_Overdue_Amount,Bucket3_paymentsfromoverdue,Bucket3_recoveryrate,Bucket4_inArearstoTotal_Overdue_Amount,Bucket4_paymentsfromoverdue,Bucket4_recoveryrate
0,2024-06-01,2024-06-30,7536,9236,0.815938,13887,26699,0.520132,5247,10514,0.499049,2076,4444,0.467147,2727,5070,0.53787,397,2435,0.163039,956,2829,0.337929,115,1939,0.059309,9955932.4,5287151.16,0.531055,11229368.4,1595717.32,0.142102,13440591.64,590189.31,0.043911,17311908.68,328827.04,0.018994

# Recovery Rate - Bucket5

In [35]:
dfr = dfrecovery[dfrecovery['bucket'] == 5].copy()
dfr= dfr[['wkstartdate','wkenddate','inArearstoTotal_Overdue_Amount','paymentsfromoverdue','recoveryrate']]
dfr.rename(columns ={'wkstartdate':'WkstartDate','wkenddate': 'WkendDate',
                     'inArearstoTotal_Overdue_Amount':'Bucket5_inArearstoTotal_Overdue_Amount',
                     'paymentsfromoverdue':'Bucket5_paymentsfromoverdue',
                     'recoveryrate':'Bucket5_recoveryrate'}, inplace = True)
dfr.columns

Index(['WkstartDate', 'WkendDate', 'Bucket5_inArearstoTotal_Overdue_Amount',
       'Bucket5_paymentsfromoverdue', 'Bucket5_recoveryrate'],
      dtype='object')

In [36]:
dfr.reset_index(drop=True, inplace=True)
df = pd.concat([df, dfr[['Bucket5_inArearstoTotal_Overdue_Amount',
       'Bucket5_paymentsfromoverdue', 'Bucket5_recoveryrate']]], axis = 1)
df

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1contactrate,Normalized_Greg,Normalized_denominator,Bucket1_Normalized,bucket2contacted,bucket2callcontacted,bucket2contactrate,Normalized_buck2_Greg,Normalized_buck2_denominator,bucket2Normalizationrate,bucket3contacted,bucket3callcontacted,bucket3contactrate,Normalized_buck3_Greg,Normalized_buck3_denominator,bucket3Normalizationrate,Bucket1_inArearstoTotal_Overdue_Amount,Bucket1_paymentsfromoverdue,Bucket1_recoveryrate,Bucket2_inArearstoTotal_Overdue_Amount,Bucket2_paymentsfromoverdue,Bucket2_recoveryrate,Bucket3_inArearstoTotal_Overdue_Amount,Bucket3_paymentsfromoverdue,Bucket3_recoveryrate,Bucket4_inArearstoTotal_Overdue_Amount,Bucket4_paymentsfromoverdue,Bucket4_recoveryrate,Bucket5_inArearstoTotal_Overdue_Amount,Bucket5_paymentsfromoverdue,Bucket5_recoveryrate
0,2024-06-01,2024-06-30,7536,9236,0.815938,13887,26699,0.520132,5247,10514,0.499049,2076,4444,0.467147,2727,5070,0.53787,397,2435,0.163039,956,2829,0.337929,115,1939,0.059309,9955932.4,5287151.16,0.531055,11229368.4,1595717.32,0.142102,13440591.64,590189.31,0.043911,17311908.68,328827.04,0.018994,19145496.04,367623.29,0.019202

# Recovery Rate - Bucket6

In [37]:
dfr = dfrecovery[dfrecovery['bucket'] == 6].copy()
dfr= dfr[['wkstartdate','wkenddate','inArearstoTotal_Overdue_Amount','paymentsfromoverdue','recoveryrate']]
dfr.rename(columns ={'wkstartdate':'WkstartDate','wkenddate': 'WkendDate',
                     'inArearstoTotal_Overdue_Amount':'Bucket6_inArearstoTotal_Overdue_Amount',
                     'paymentsfromoverdue':'Bucket6_paymentsfromoverdue',
                     'recoveryrate':'Bucket6_recoveryrate'}, inplace = True)
dfr.columns

Index(['WkstartDate', 'WkendDate', 'Bucket6_inArearstoTotal_Overdue_Amount',
       'Bucket6_paymentsfromoverdue', 'Bucket6_recoveryrate'],
      dtype='object')

In [38]:
dfr.reset_index(drop=True, inplace=True)
df = pd.concat([df, dfr[['Bucket6_inArearstoTotal_Overdue_Amount',
       'Bucket6_paymentsfromoverdue', 'Bucket6_recoveryrate']]], axis = 1)
df

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1contactrate,Normalized_Greg,Normalized_denominator,Bucket1_Normalized,bucket2contacted,bucket2callcontacted,bucket2contactrate,Normalized_buck2_Greg,Normalized_buck2_denominator,bucket2Normalizationrate,bucket3contacted,bucket3callcontacted,bucket3contactrate,Normalized_buck3_Greg,Normalized_buck3_denominator,bucket3Normalizationrate,Bucket1_inArearstoTotal_Overdue_Amount,Bucket1_paymentsfromoverdue,Bucket1_recoveryrate,Bucket2_inArearstoTotal_Overdue_Amount,Bucket2_paymentsfromoverdue,Bucket2_recoveryrate,Bucket3_inArearstoTotal_Overdue_Amount,Bucket3_paymentsfromoverdue,Bucket3_recoveryrate,Bucket4_inArearstoTotal_Overdue_Amount,Bucket4_paymentsfromoverdue,Bucket4_recoveryrate,Bucket5_inArearstoTotal_Overdue_Amount,Bucket5_paymentsfromoverdue,Bucket5_recoveryrate,Bucket6_inArearstoTotal_Overdue_Amount,Bucket6_paymentsfromoverdue,Bucket6_recoveryrate
0,2024-06-01,2024-06-30,7536,9236,0.815938,13887,26699,0.520132,5247,10514,0.499049,2076,4444,0.467147,2727,5070,0.53787,397,2435,0.163039,956,2829,0.337929,115,1939,0.059309,9955932.4,5287151.16,0.531055,11229368.4,1595717.32,0.142102,13440591.64,590189.31,0.043911,17311908.68,328827.04,0.018994,19145496.04,367623.29,0.019202,19414701.1,174500.55,0.008988

# Recovery Rate - Bucket7

In [39]:
dfr = dfrecovery[dfrecovery['bucket'] == 7].copy()
dfr= dfr[['wkstartdate','wkenddate','inArearstoTotal_Overdue_Amount','paymentsfromoverdue','recoveryrate']]
dfr.rename(columns ={'wkstartdate':'WkstartDate','wkenddate': 'WkendDate',
                     'inArearstoTotal_Overdue_Amount':'Bucket7_inArearstoTotal_Overdue_Amount',
                     'paymentsfromoverdue':'Bucket7_paymentsfromoverdue',
                     'recoveryrate':'Bucket7_recoveryrate'}, inplace = True)
dfr.columns

Index(['WkstartDate', 'WkendDate', 'Bucket7_inArearstoTotal_Overdue_Amount',
       'Bucket7_paymentsfromoverdue', 'Bucket7_recoveryrate'],
      dtype='object')

In [40]:
dfr.reset_index(drop=True, inplace=True)
df = pd.concat([df, dfr[['Bucket7_inArearstoTotal_Overdue_Amount',
       'Bucket7_paymentsfromoverdue', 'Bucket7_recoveryrate']]], axis = 1)
df

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1contactrate,Normalized_Greg,Normalized_denominator,Bucket1_Normalized,bucket2contacted,bucket2callcontacted,bucket2contactrate,Normalized_buck2_Greg,Normalized_buck2_denominator,bucket2Normalizationrate,bucket3contacted,bucket3callcontacted,bucket3contactrate,Normalized_buck3_Greg,Normalized_buck3_denominator,bucket3Normalizationrate,Bucket1_inArearstoTotal_Overdue_Amount,Bucket1_paymentsfromoverdue,Bucket1_recoveryrate,Bucket2_inArearstoTotal_Overdue_Amount,Bucket2_paymentsfromoverdue,Bucket2_recoveryrate,Bucket3_inArearstoTotal_Overdue_Amount,Bucket3_paymentsfromoverdue,Bucket3_recoveryrate,Bucket4_inArearstoTotal_Overdue_Amount,Bucket4_paymentsfromoverdue,Bucket4_recoveryrate,Bucket5_inArearstoTotal_Overdue_Amount,Bucket5_paymentsfromoverdue,Bucket5_recoveryrate,Bucket6_inArearstoTotal_Overdue_Amount,Bucket6_paymentsfromoverdue,Bucket6_recoveryrate,Bucket7_inArearstoTotal_Overdue_Amount,Bucket7_paymentsfromoverdue,Bucket7_recoveryrate
0,2024-06-01,2024-06-30,7536,9236,0.815938,13887,26699,0.520132,5247,10514,0.499049,2076,4444,0.467147,2727,5070,0.53787,397,2435,0.163039,956,2829,0.337929,115,1939,0.059309,9955932.4,5287151.16,0.531055,11229368.4,1595717.32,0.142102,13440591.64,590189.31,0.043911,17311908.68,328827.04,0.018994,19145496.04,367623.29,0.019202,19414701.1,174500.55,0.008988,1.715221e+08,292846.9,0.001707

# Recovery Rate - Bucket8

In [41]:
dfr = dfrecovery[dfrecovery['bucket'] == 8].copy()
dfr= dfr[['wkstartdate','wkenddate','inArearstoTotal_Overdue_Amount','paymentsfromoverdue','recoveryrate']]
dfr.rename(columns ={'wkstartdate':'WkstartDate','wkenddate': 'WkendDate',
                     'inArearstoTotal_Overdue_Amount':'Bucket8_inArearstoTotal_Overdue_Amount',
                     'paymentsfromoverdue':'Bucket8_paymentsfromoverdue',
                     'recoveryrate':'Bucket8_recoveryrate'}, inplace = True)
dfr.columns

Index(['WkstartDate', 'WkendDate', 'Bucket8_inArearstoTotal_Overdue_Amount',
       'Bucket8_paymentsfromoverdue', 'Bucket8_recoveryrate'],
      dtype='object')

In [42]:
dfr.reset_index(drop=True, inplace=True)
df = pd.concat([df, dfr[['Bucket8_inArearstoTotal_Overdue_Amount',
       'Bucket8_paymentsfromoverdue', 'Bucket8_recoveryrate']]], axis = 1)
df

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1contactrate,Normalized_Greg,Normalized_denominator,Bucket1_Normalized,bucket2contacted,bucket2callcontacted,bucket2contactrate,Normalized_buck2_Greg,Normalized_buck2_denominator,bucket2Normalizationrate,bucket3contacted,bucket3callcontacted,bucket3contactrate,Normalized_buck3_Greg,Normalized_buck3_denominator,bucket3Normalizationrate,Bucket1_inArearstoTotal_Overdue_Amount,Bucket1_paymentsfromoverdue,Bucket1_recoveryrate,Bucket2_inArearstoTotal_Overdue_Amount,Bucket2_paymentsfromoverdue,Bucket2_recoveryrate,Bucket3_inArearstoTotal_Overdue_Amount,Bucket3_paymentsfromoverdue,Bucket3_recoveryrate,Bucket4_inArearstoTotal_Overdue_Amount,Bucket4_paymentsfromoverdue,Bucket4_recoveryrate,Bucket5_inArearstoTotal_Overdue_Amount,Bucket5_paymentsfromoverdue,Bucket5_recoveryrate,Bucket6_inArearstoTotal_Overdue_Amount,Bucket6_paymentsfromoverdue,Bucket6_recoveryrate,Bucket7_inArearstoTotal_Overdue_Amount,Bucket7_paymentsfromoverdue,Bucket7_recoveryrate,Bucket8_inArearstoTotal_Overdue_Amount,Bucket8_paymentsfromoverdue,Bucket8_recoveryrate
0,2024-06-01,2024-06-30,7536,9236,0.815938,13887,26699,0.520132,5247,10514,0.499049,2076,4444,0.467147,2727,5070,0.53787,397,2435,0.163039,956,2829,0.337929,115,1939,0.059309,9955932.4,5287151.16,0.531055,11229368.4,1595717.32,0.142102,13440591.64,590189.31,0.043911,17311908.68,328827.04,0.018994,19145496.04,367623.29,0.019202,19414701.1,174500.55,0.008988,1.715221e+08,292846.9,0.001707,1.303316e+08,NaN,NaN

# Recovery Rate

In [43]:
sq = f"""with Overdue as 
(select bucketDate
, DATE('{sd}') wkstartdate
,  DATE('{ed}') wkenddate
, loanStatus, loanAccountNumber,
sum(Total_Outstanding_Amount) totaloutstandingamount,
sum(Total_Overdue_Amount) Total_Overdue_Amount
from `risk_credit_mis.loan_bucket_flow_report_core`
where bucketDate = DATE('{sd}')
and loanStatus in ('Normal', 'In Arrears')
and Total_Outstanding_Amount is not null
and Total_Outstanding_Amount > 0
group by 1, 2,3,4,5
),
overduebase as
(select bucketDate, wkstartdate,wkenddate, loanAccountNumber, sum(totaloutstandingamount)totaloutstandingamount 
, sum(case when loanStatus = 'In Arrears' then totaloutstandingamount else 0 end) inArearstotaloutstandingamount
, sum(case when loanStatus = 'Normal' then totaloutstandingamount else 0 end) Normaltotaloutstandingamount
, sum(case when loanStatus = 'In Arrears' then Total_Overdue_Amount else 0 end) inArearstoTotal_Overdue_Amount
, sum(case when loanStatus = 'Normal' then Total_Overdue_Amount else 0 end) NormalTotal_Overdue_Amount
from Overdue
group by 1,2,3,4
),
payments as 
(select  DATE('{sd}') wkstartdate, DATE('{ed}') wkenddate,  loanAccountNumber, lastPaymentDate,isDelinquent, isCurrentDelinquent,
sum(installmentPaidAmount) payment
from `risk_credit_mis.loan_installments_table`
where coalesce(lastPaymentDate, date('3000-01-01')) between  DATE('{sd}') and DATE('{ed}')
and isDelinquent = 1
and coalesce(installmentPaidAmount, 0) > 0
group by 1,2,3,4,5,6
), 
paymentbase as  
(select wkstartdate, wkenddate, loanAccountNumber
, count(distinct lastPaymentDate) noofdayspaymentreceived 
, sum(case when isDelinquent = 1 and isCurrentDelinquent = 0 then 1 else 0 end) Normalized_cnt
, sum(case when isDelinquent = 1 and isCurrentDelinquent = 1 then 1 else 0 end) paymentreceivedbutstilldelinquent_cnt
, sum(case when isDelinquent = 1 and isCurrentDelinquent = 0 then payment else 0 end) Normalized
, sum(case when isDelinquent = 1 and isCurrentDelinquent = 1 then payment else 0 end) paymentreceivedbutstilldelinquent
, sum(payment) payment
from payments 
group by 1,2,3
)
select 
overduebase.bucketDate
, overduebase.wkstartdate
, overduebase.wkenddate
, count(distinct overduebase.loanAccountNumber ) cntloanoverdue
, sum(overduebase.totaloutstandingamount) totaloutstandingamount
, sum(overduebase.inArearstotaloutstandingamount) inArearstotaloutstandingamount
, sum(overduebase.Normaltotaloutstandingamount) Normaltotaloutstandingamount
, sum(overduebase.inArearstoTotal_Overdue_Amount) inArearstoTotal_Overdue_Amount
, sum(overduebase.NormalTotal_Overdue_Amount)NormalTotal_Overdue_Amount
, count(distinct paymentbase.loanAccountNumber) cnt_loanpaymentsreceived
, max(noofdayspaymentreceived) noofdayspaymentreceived
, sum(Normalized_cnt) Normalized_cnt
, sum(Normalized)Normalized
, sum(paymentreceivedbutstilldelinquent_cnt)paymentreceivedbutstilldelinquent_cnt
, sum(paymentreceivedbutstilldelinquent) paymentreceivedbutstilldelinquent
, sum(payment)payment
from overduebase
left join paymentbase on overduebase.loanAccountNumber = paymentbase.loanAccountNumber 
group by 1,2,3
"""
dfrecovery = client.query(sq).to_dataframe(progress_bar_type='tqdm')
dfrecovery['paymentsfromoverdue'] = dfrecovery['Normalized'] + dfrecovery['paymentreceivedbutstilldelinquent']
dfrecovery['recoveryrate'] = (dfrecovery['Normalized'] + dfrecovery['paymentreceivedbutstilldelinquent'])/dfrecovery['inArearstoTotal_Overdue_Amount']
dfrecovery

Job ID 011d8607-b812-4f25-b844-2da51c3f1dd9 successfully executed: 100%|██████████|
Downloading: 100%|██████████|

,bucketDate,wkstartdate,wkenddate,cntloanoverdue,totaloutstandingamount,inArearstotaloutstandingamount,Normaltotaloutstandingamount,inArearstoTotal_Overdue_Amount,NormalTotal_Overdue_Amount,cnt_loanpaymentsreceived,noofdayspaymentreceived,Normalized_cnt,Normalized,paymentreceivedbutstilldelinquent_cnt,paymentreceivedbutstilldelinquent,payment,paymentsfromoverdue,recoveryrate
0,2024-06-01,2024-06-01,2024-06-30,80671,1.272132e+09,6.225487e+08,6.495835e+08,3.923517e+08,376923.34,9147,3,6886,16576938.85,3203,1324838.67,17901777.52,17901777.52,0.045627

In [44]:
dfrecovery.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 18 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   bucketDate                             1 non-null      dbdate
 1   wkstartdate                            1 non-null      dbdate
 2   wkenddate                              1 non-null      dbdate
 3   cntloanoverdue                         1 non-null      Int64
 4   totaloutstandingamount                 1 non-null      float64
 5   inArearstotaloutstandingamount         1 non-null      float64
 6   Normaltotaloutstandingamount           1 non-null      float64
 7   inArearstoTotal_Overdue_Amount         1 non-null      float64
 8   NormalTotal_Overdue_Amount             1 non-null      float64
 9   cnt_loanpaymentsreceived               1 non-null      Int64
 10  noofdayspaymentreceived                1 non-null      Int64
 11  Normalized_cnt                         1 non-null      Int64
 12  Normalized                             1 non-null      float64
 13  paymentreceivedbutstilldelinquent_cnt  1 non-null      Int64
 14  paymentreceivedbutstilldelinquent      1 non-null      float64
 15  payment                                1 non-null      float64
 16  paymentsfromoverdue                    1 non-null      float64
 17  recoveryrate                           1 non-null      float64
dtypes: Int64(5), dbdate(3), float64(10)
memory usage: 277.0 bytes

In [45]:
df = pd.concat([df, dfrecovery[['inArearstoTotal_Overdue_Amount','paymentsfromoverdue','recoveryrate']]], axis = 1)
df

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1contactrate,Normalized_Greg,Normalized_denominator,Bucket1_Normalized,bucket2contacted,bucket2callcontacted,bucket2contactrate,Normalized_buck2_Greg,Normalized_buck2_denominator,bucket2Normalizationrate,bucket3contacted,bucket3callcontacted,bucket3contactrate,Normalized_buck3_Greg,Normalized_buck3_denominator,bucket3Normalizationrate,Bucket1_inArearstoTotal_Overdue_Amount,Bucket1_paymentsfromoverdue,Bucket1_recoveryrate,Bucket2_inArearstoTotal_Overdue_Amount,Bucket2_paymentsfromoverdue,Bucket2_recoveryrate,Bucket3_inArearstoTotal_Overdue_Amount,Bucket3_paymentsfromoverdue,Bucket3_recoveryrate,Bucket4_inArearstoTotal_Overdue_Amount,Bucket4_paymentsfromoverdue,Bucket4_recoveryrate,Bucket5_inArearstoTotal_Overdue_Amount,Bucket5_paymentsfromoverdue,Bucket5_recoveryrate,Bucket6_inArearstoTotal_Overdue_Amount,Bucket6_paymentsfromoverdue,Bucket6_recoveryrate,Bucket7_inArearstoTotal_Overdue_Amount,Bucket7_paymentsfromoverdue,Bucket7_recoveryrate,Bucket8_inArearstoTotal_Overdue_Amount,Bucket8_paymentsfromoverdue,Bucket8_recoveryrate,inArearstoTotal_Overdue_Amount,paymentsfromoverdue,recoveryrate
0,2024-06-01,2024-06-30,7536,9236,0.815938,13887,26699,0.520132,5247,10514,0.499049,2076,4444,0.467147,2727,5070,0.53787,397,2435,0.163039,956,2829,0.337929,115,1939,0.059309,9955932.4,5287151.16,0.531055,11229368.4,1595717.32,0.142102,13440591.64,590189.31,0.043911,17311908.68,328827.04,0.018994,19145496.04,367623.29,0.019202,19414701.1,174500.55,0.008988,1.715221e+08,292846.9,0.001707,1.303316e+08,NaN,NaN,3.923517e+08,17901777.52,0.045627

This SQL code calculates recovery-related metrics for overdue loans. Here's an explanation of the logic:

1. **Common Table Expressions (CTE): `Overdue`**
   - This CTE selects relevant information from the `risk_credit_mis.loan_bucket_flow_report_core` table for loans that are either in a 'Normal' or 'In Arrears' status on the provided start date (`wkstartdate`).
   - The data is filtered to include only loans with positive and non-null outstanding amounts.
   - The result is grouped by bucket date, start date, end date (`wkenddate`), loan status, and loan account number, and aggregated sums are calculated for total outstanding amounts and total overdue amounts.

2. **Common Table Expressions (CTE): `overduebase`**
   - This CTE refines the data from the `Overdue` CTE.
   - It aggregates the data further, grouping by bucket date, start date, end date, and loan account number.
   - The result includes aggregated sums for total outstanding amounts, total outstanding amounts for loans in arrears, total outstanding amounts for normal loans, total overdue amounts for loans in arrears, and total overdue amounts for normal loans.

3. **Common Table Expressions (CTE): `payments`**
   - This CTE selects information from the `risk_credit_mis.loan_installments_table` related to loan payments.
   - It filters for delinquent loans with positive installment paid amounts between the provided start and end dates.
   - The result is grouped by start date, end date, loan account number, last payment date, isDelinquent, and isCurrentDelinquent, and aggregated sums are calculated for the payment amount.

4. **Common Table Expressions (CTE): `paymentbase`**
   - This CTE refines the data from the `payments` CTE.
   - It aggregates the data further, grouping by start date, end date, and loan account number.
   - The result includes counts and sums related to the number of days payments were received, the number of normalized payments, the number of payments received but still delinquent, and the total payment amount.

5. **Main Query**
   - The main query brings together the data from `overduebase` and `paymentbase`, joining them on the loan account number.
   - The final result includes aggregated metrics such as the count of overdue loans, total outstanding amounts, total overdue amounts, the count of loans with payments received, the maximum number of days payments were received, counts and sums related to normalized payments and payments received but still delinquent, and the total payment amount.
   - A new column, `paymentsfromoverdue`, is calculated as the sum of normalized payments and payments received but still delinquent.
   - Another new column, `recoveryrate`, is calculated as the ratio of `paymentsfromoverdue` to `inArearstoTotal_Overdue_Amount`.

In summary, the code provides insights into the recovery status of overdue loans, considering outstanding amounts, overdue amounts, and payments received within a specified time frame. The recovery rate is also calculated as an important metric for assessing the effectiveness of recovery efforts.

# Roll-rate Normal into Bucket 1

In [46]:
sq = f"""
with base as 
(select 
DATE('{sd}') wkstartdate
, DATE('{ed}') wkenddate
, loanAccountNumber
, installmentDueDate 
, DPDwoToleranceCustom dpd
, isDelinquent
, isCurrentDelinquent
, installmentAmount
, installmentPaidAmount
from `risk_credit_mis.loan_installments_table`
where date(installmentDueDate) between DATE('{sd}') and DATE('{ed}')
)
select wkstartdate, wkenddate 
, count(distinct loanAccountNumber) cntloans
, min(dpd) mindpd
, max(dpd) maxdpd
, sum(case when coalesce(dpd, 0) > 0 then isDelinquent else 0 end) wentdelinquent
, sum(case when coalesce(dpd, 0) > 0 and isDelinquent = 1 then isCurrentDelinquent else 0 end) stilldelinquent
, sum(case when coalesce(dpd, 0) between 1 and 30 then isDelinquent else 0 end) - sum(case when coalesce(dpd, 0) between 1 and 30 and isDelinquent = 1 then isCurrentDelinquent else 0 end) rollbacked
, sum(case when coalesce(dpd, 0) > 0 and isDelinquent = 1 then installmentAmount else 0 end) defaulteddelinquentamount
, sum(case when coalesce(dpd, 0) > 0 and isDelinquent = 1 and isCurrentDelinquent = 1 then installmentAmount else 0 end) stilldelinquentamount
, sum(case when coalesce(dpd, 0) between 1 and 30 and isDelinquent = 1 and isCurrentDelinquent = 0 then installmentPaidAmount else 0 end) rollbacked_amount
from base 
group by 1,2
;"""

dfrollrate = client.query(sq).to_dataframe(progress_bar_type='tqdm')
dfrollrate['rollback_rate'] =  dfrollrate['rollbacked']/dfrollrate['wentdelinquent']
dfrollrate['rollback_rate_v'] = dfrollrate['rollbacked_amount']/dfrollrate['defaulteddelinquentamount']
dfrollrate

Job ID b9243641-9fe7-4e2a-bccd-4b684f97f22d successfully executed: 100%|██████████|
Downloading: 100%|██████████|

,wkstartdate,wkenddate,cntloans,mindpd,maxdpd,wentdelinquent,stilldelinquent,rollbacked,defaulteddelinquentamount,stilldelinquentamount,rollbacked_amount,rollback_rate,rollback_rate_v
0,2024-06-01,2024-06-30,76953,0,29,24215,18789,5426,53750034.79,42227146.96,12057636.21,0.224076,0.224328

In [47]:
dfrollrate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   wkstartdate                1 non-null      dbdate
 1   wkenddate                  1 non-null      dbdate
 2   cntloans                   1 non-null      Int64
 3   mindpd                     1 non-null      Int64
 4   maxdpd                     1 non-null      Int64
 5   wentdelinquent             1 non-null      Int64
 6   stilldelinquent            1 non-null      Int64
 7   rollbacked                 1 non-null      Int64
 8   defaulteddelinquentamount  1 non-null      float64
 9   stilldelinquentamount      1 non-null      float64
 10  rollbacked_amount          1 non-null      float64
 11  rollback_rate              1 non-null      Float64
 12  rollback_rate_v            1 non-null      float64
dtypes: Float64(1), Int64(6), dbdate(2), float64(4)
memory usage: 239.0 bytes

In [48]:
df = pd.concat([df, dfrollrate[['wentdelinquent','rollbacked', 'defaulteddelinquentamount', 'rollbacked_amount', 'rollback_rate', 'rollback_rate_v']]], axis = 1)

This SQL code calculates delinquency-related metrics for loans within a specified date range. Here's an explanation of the logic:

1. **Common Table Expressions (CTE): `base`**
   - This CTE selects relevant information from the `risk_credit_mis.loan_installments_table` table, including loan account number, installment due date, Days Past Due (DPD) without tolerance, delinquency indicators (`isDelinquent` and `isCurrentDelinquent`), installment amount, and installment paid amount.
   - The data is filtered to include only installment due dates falling within the provided start and end dates.

2. **Main Query**
   - The main query aggregates the data from the `base` CTE.
   - It calculates various metrics related to delinquency, including the count of loans (`cntloans`), the minimum and maximum DPD values (`mindpd` and `maxdpd`), the count of loans that went delinquent (`wentdelinquent`), the count of loans still delinquent (`stilldelinquent`), the count of loans rolled back from delinquency (`rollbacked`), and the sum of defaulted delinquent amounts (`defaulteddelinquentamount`).
   - It also calculates the sum of installment amounts for loans still delinquent (`stilldelinquentamount`) and the sum of installment amounts for loans rolled back from delinquency (`rollbacked_amount`).
   - Two new columns are created: `rollback_rate` (the ratio of loans rolled back to loans that went delinquent) and `rollback_rate_v` (the ratio of the sum of installment amounts for loans rolled back to the sum of defaulted delinquent amounts).

In summary, the code provides insights into the delinquency status of loans, including the count of delinquent loans, the DPD distribution, and metrics related to loans that went delinquent, loans still delinquent, and loans rolled back from delinquency. The rollback rates are calculated to assess the effectiveness of rollback efforts.m

# Other details

In [49]:
sq = f"""With
  dt AS (
  SELECT
    DATE('{sd}') WkstartDate,
    DATE('{ed}') WkendDate),
disb as (select distinct disbursementDateTime, customerId, loanType, loanAccountNumber, SUBSTR(mobileNo, -10) as mobileno , loanPaidStatus
, row_number() over(partition by SUBSTR(mobileNo, -10) order by SUBSTR(mobileNo, -10))rnk
from `risk_credit_mis.loan_master_table`, dt 
where 
date_trunc(disbursementDateTime, day) <= dt.WkendDate
-- between dt.WkstartDate and dt.WkendDate 
and 
coalesce(loanPaidStatus, 'NA') not in ('Settled','Completed')
)
,
wc1 as 
(
SELECT
  dt.WkstartDate,
  dt.WkendDate,
  Genesys_call_id,
  callDatetime,
  COALESCE(IS_APC, 0) APC,
  COALESCE(IS_RPC, 0) RPC,
  COALESCE(IS_PTP,0) PTP,
  RIGHT(mobileNumber, 10) mobileNumber,
  g.campaignName,
  g.agentGroup,
  g.agentFullName,
  g.employeeId,
  g.connected,
  g.notConnected,
  g.callResult,
  ROW_NUMBER() OVER(PARTITION BY Genesys_call_id ORDER BY callDatetime DESC, COALESCE(IS_APC, 0), COALESCE(IS_RPC, 0), COALESCE(IS_PTP, 0))rnk
FROM
  `risk_credit_mis.call_attempt_history_gensys` g,  dt
LEFT JOIN
  `dap_ds_poweruser_playground.campaignmaster` cm
ON
  UPPER(cm.Campaignname) = UPPER(g.campaignName)
INNER JOIN disb ON  SUBSTR(disb.mobileNo, -10) = SUBSTR(CAST(g.mobileNumber AS string), -10)
WHERE
  cm.reference = 'WC'
  and disb.rnk = 1
  and date(callDatetime) between  dt.WkstartDate and dt.WkendDate
)
, 
wc as 
(select wc1.WkstartDate, wc1.WkendDate, Genesys_call_id,
callDatetime,
APC,
RPC,
PTP,
case when APC = 1 then mobileNumber end apc_m,
case when RPC = 1 then mobileNumber end rpc_m,
case when PTP = 1 then mobileNumber end ptp_m,
mobileNumber,
campaignName,
agentGroup,
agentFullName,
employeeId,
connected,
notConnected,
callResult,
rnk,
from wc1 
where rnk = 1
)
,
wcbase as 
( 
select wc.WkstartDate, wc.WkendDate,
 Genesys_call_id,
callDatetime,
APC,
RPC,
PTP,
mobileNumber,
campaignName,
agentGroup,
agentFullName,
employeeId,
connected,
notConnected,
callResult,
rnk,
apc_m,
rpc_m,
ptp_m
from wc
)
, 
cd AS (
  SELECT
    customer_id,
    new_mobile_number,
    ROW_NUMBER() OVER(PARTITION BY customer_id ORDER BY change_date)rnk
  FROM
    `risk_credit_mis.customer_contact_details`
  WHERE
    ACTIVE = 'Y')
  ,
  buck1 as 
  (select distinct dt.WkstartDate, dt.WkendDate, lbfrc.loanAccountNumber, lbfrc.loanStatus, lbfrc.bucketDate, lbfrc.Max_current_DPD as DPD, lmt.customerId, right(cd.new_mobile_number, 10) newmobilenumber
  , row_number() over(partition by lbfrc.loanAccountNumber order by lbfrc.bucketDate desc) buck1rnk
  from `risk_credit_mis.loan_bucket_flow_report_core` lbfrc, dt 
  left join `risk_credit_mis.loan_master_table` lmt on lmt.loanAccountNumber = lbfrc.loanAccountNumber
  left join cd on cd.customer_id = lmt.customerId
  where date(bucketDate) between  date(dt.WkstartDate) and  date(dt.WkendDate)
  and coalesce(lbfrc.Max_current_DPD, 0) between 1 and 30 
  and date(lbfrc.firstDueDate) <= date(current_date())
  and lbfrc.loanStatus = 'In Arrears'
  and cd.rnk = 1
  )
    ,
buck1cr1 as 
(select distinct
 dt.WkstartDate,
  dt.WkendDate,
  g.Genesys_call_id,
  g.callDatetime,
  COALESCE(g.IS_APC, 0) APC,
  COALESCE(g.IS_RPC, 0) RPC,
  COALESCE(g.IS_PTP,0) PTP,
  RIGHT(g.mobileNumber, 10) mobileNumber,
  buck1.newmobilenumber mobilefrombuckettable,
  g.campaignName,
  g.agentGroup,
  g.agentFullName,
  g.employeeId,
  g.connected,
  g.notConnected,
  g.callResult, 
  buck1.loanAccountNumber,
  buck1.DPD,
  case when g.IS_APC = 1 then g.mobileNumber end apc_m,
  case when g.IS_RPC = 1 then g.mobileNumber end rpc_m,
  case when g.IS_PTP = 1 then mobileNumber end ptp_m,
  ROW_NUMBER() OVER(PARTITION BY g.Genesys_call_id ORDER BY g.callDatetime DESC, COALESCE(g.IS_APC, 0), COALESCE(g.IS_RPC, 0), COALESCE(g.IS_PTP, 0))rnk 
from  `risk_credit_mis.call_attempt_history_gensys` g,  dt
inner join buck1 on buck1.newmobilenumber = right(g.mobileNumber,10)
LEFT JOIN  `dap_ds_poweruser_playground.campaignmaster` cm ON  UPPER(cm.Campaignname) = UPPER(g.campaignName)
where cm.Reference = 'COLL' and cm.Subcategory = 'SOFT'
AND DATE(g.callDatetime) BETWEEN DATE(dt.WkstartDate) AND DATE(dt.WkendDate)
and buck1.buck1rnk = 1
)
,
buck1cr1base as 
(select buck1cr1.WkstartDate, buck1cr1.WkendDate, buck1cr1.Genesys_call_id, buck1cr1.callDatetime
, buck1cr1.mobileNumber
, buck1cr1.mobilefrombuckettable
, buck1cr1.campaignName
, buck1cr1.agentGroup
, buck1cr1.agentFullName
, buck1cr1.employeeId
, buck1cr1.connected
, buck1cr1.notConnected
, buck1cr1.callResult
, buck1cr1.loanAccountNumber
, buck1cr1.apc_m 
, buck1cr1.rpc_m
, buck1cr1.ptp_m 
, buck1cr1.DPD
, buck1cr1.rnk 
 from buck1cr1 where rnk = 1
)
,
buck1end as 
(select distinct dt.WkstartDate, dt.WkendDate, lbfrc.loanAccountNumber, lbfrc.loanStatus, lbfrc.bucketDate, lbfrc.Max_current_DPD as DPD, lmt.customerId, right(cd.new_mobile_number, 10) newmobilenumber
from `risk_credit_mis.loan_bucket_flow_report_core` lbfrc, dt 
left join `risk_credit_mis.loan_master_table` lmt on lmt.loanAccountNumber = lbfrc.loanAccountNumber
left join cd on cd.customer_id = lmt.customerId
where date(bucketDate) = date(dt.WkendDate)
and date(lbfrc.firstDueDate) <= date(current_date())
and cd.rnk = 1
)
, 
ptpstatus as 
(select max(dt.WkstartDate)WkstartDate, max(dt.WkendDate)WkendDate, cps.Loan_account_no, sum(case when coalesce(cps.PTP_Status, 0) = 1 then 1 else 0 end) ptpstatus 
from `risk_credit_mis.collection_ptp_status`  cps, dt where coalesce(PTP_Status, 0) = 1
and date(contact_date) between dt.WkstartDate and dt.WkendDate
group by cps.Loan_account_no
),
payments as (select loanAccountNumber from `risk_credit_mis.loan_installments_table`, dt where date(lastPaymentDate) between dt.WkstartDate and dt.WkendDate) 
,
buck1normalized as 
(select buck1.WkstartDate, buck1.WkendDate, buck1.loanAccountNumber , buck1.DPD weekstartDPD, buck1end.DPD weekendDPD
, case when buck1.loanAccountNumber in (select distinct Loan_account_no from `risk_credit_mis.collection_ptp_status` where PTP_Due_Date is not null) then buck1.newmobilenumber end ptp_received
, case when buck1.loanAccountNumber in (select distinct Loan_account_no from ptpstatus) then buck1.newmobilenumber end Kept_ptp
, case when coalesce(buck1.DPD, 0) between 1 and 30 and coalesce(buck1end.DPD, 0) = 0 and buck1.loanAccountNumber in (select distinct Loan_account_no from ptpstatus) then buck1.newmobilenumber end Normalized 
, case when coalesce(buck1.DPD, 0) between 1 and 30 and coalesce(buck1end.DPD, 0) = 0 and buck1.loanAccountNumber not in (select distinct Loan_account_no from ptpstatus) then buck1.newmobilenumber end Normalizedwithoutptp 
, case when coalesce(buck1.DPD, 0) between 1 and 30 and coalesce(buck1end.DPD, 0) <= 30 and buck1.loanAccountNumber in (select loanAccountNumber from payments) then buck1.newmobilenumber end Normalized_greg 
, case when coalesce(buck1.DPD, 0) between 1 and 30 then buck1.newmobilenumber end Normalized_greg_denominator
, case when coalesce(buck1.DPD, 0) between 1 and 30 and coalesce(buck1end.DPD, 0) <= 30 and buck1.loanAccountNumber not in (select distinct Loan_account_no from ptpstatus) then buck1.newmobilenumber end Normalizedwithoutptp_greg
from buck1
left join buck1end on buck1.loanAccountNumber =  buck1end.loanAccountNumber
)
,
buck2 as 
(select dt.WkstartDate, dt.WkendDate, lbfrc.loanAccountNumber, lbfrc.loanStatus, lbfrc.bucketDate, lbfrc.Max_current_DPD as DPD, lmt.customerId, right(cd.new_mobile_number, 10) newmobilenumber
, row_number() over(partition by lbfrc.loanAccountNumber order by lbfrc.bucketDate desc) buck2rnk
from `risk_credit_mis.loan_bucket_flow_report_core` lbfrc, dt 
left join `risk_credit_mis.loan_master_table` lmt on lmt.loanAccountNumber = lbfrc.loanAccountNumber
left join cd on cd.customer_id = lmt.customerId
where date(bucketDate)  between  date(dt.WkstartDate) and  date(dt.WkendDate)
and coalesce(lbfrc.Max_current_DPD, 0) between 31 and 60 
and date(lbfrc.firstDueDate) <= date(current_date())
and lbfrc.loanStatus = 'In Arrears'
and cd.rnk = 1
)
,
buck2cr1 as 
(select   dt.WkstartDate,
  dt.WkendDate,
  g.Genesys_call_id,
  g.callDatetime,
  COALESCE(g.IS_APC, 0) APC,
  COALESCE(g.IS_RPC, 0) RPC,
  COALESCE(g.IS_PTP,0) PTP,
  RIGHT(g.mobileNumber, 10) mobileNumber,
  buck2.newmobilenumber mobilefrombuckettable,
  g.campaignName,
  g.agentGroup,
  g.agentFullName,
  g.employeeId,
  g.connected,
  g.notConnected,
  g.callResult, 
  buck2.loanAccountNumber,
  buck2.DPD,
  case when g.IS_APC = 1 then g.mobileNumber end apc_m,
  case when g.IS_RPC = 1 then g.mobileNumber end rpc_m,
  case when g.IS_PTP = 1 then mobileNumber end ptp_m,
  ROW_NUMBER() OVER(PARTITION BY g.Genesys_call_id ORDER BY g.callDatetime DESC, COALESCE(g.IS_APC, 0), COALESCE(g.IS_RPC, 0), COALESCE(g.IS_PTP, 0))rnk 
from  `risk_credit_mis.call_attempt_history_gensys` g,  dt
inner join buck2 on buck2.newmobilenumber = right(g.mobileNumber,10)
LEFT JOIN
  `dap_ds_poweruser_playground.campaignmaster` cm ON  UPPER(cm.Campaignname) = UPPER(g.campaignName)
where cm.Reference = 'COLL' 
AND DATE(g.callDatetime) BETWEEN DATE(dt.WkstartDate) AND DATE(dt.WkendDate)
and buck2.buck2rnk = 1
)
,buck2cr1base as 
(select buck2cr1.WkstartDate, buck2cr1.WkendDate, buck2cr1.Genesys_call_id, buck2cr1.callDatetime
, buck2cr1.mobileNumber
, buck2cr1.mobilefrombuckettable
, buck2cr1.campaignName
, buck2cr1.agentGroup
, buck2cr1.agentFullName
, buck2cr1.employeeId
, buck2cr1.connected
, buck2cr1.notConnected
, buck2cr1.callResult
, buck2cr1.loanAccountNumber
, buck2cr1.apc_m 
, buck2cr1.rpc_m
, buck2cr1.ptp_m 
, buck2cr1.DPD
, buck2cr1.rnk 
 from buck2cr1 where rnk = 1
)
,
buck2normalized as 
(select buck2.WkstartDate, buck2.WkendDate, buck2.loanAccountNumber , buck2.DPD weekstartDPD, buck1end.DPD weekendDPD
, case when buck2.loanAccountNumber in (select distinct Loan_account_no from `risk_credit_mis.collection_ptp_status` where PTP_Due_Date is not null) then buck2.newmobilenumber end ptp_received
, case when buck2.loanAccountNumber in (select distinct Loan_account_no from ptpstatus) then buck2.newmobilenumber end Kept_ptp
, case when coalesce(buck2.DPD, 0) between 31 and 60 and coalesce(buck1end.DPD, 0) = 0 and buck2.loanAccountNumber in (select distinct Loan_account_no from ptpstatus) then buck2.newmobilenumber end Normalized 
, case when coalesce(buck2.DPD, 0) between 31 and 60 and coalesce(buck1end.DPD, 0) = 0 and buck2.loanAccountNumber not in (select distinct Loan_account_no from ptpstatus) then buck2.newmobilenumber end Normalizedwithoutptp 
, case when coalesce(buck2.DPD, 0) between 31 and 60 then buck2.newmobilenumber end Normalized_greg_denominator 
, case when coalesce(buck2.DPD, 0) between 31 and 60 and coalesce(buck1end.DPD, 0) <= 60 and buck2.loanAccountNumber in (select loanAccountNumber from payments) then buck2.newmobilenumber end Normalized_greg 
, case when coalesce(buck2.DPD, 0) between 31 and 60 and coalesce(buck1end.DPD, 0) <= 60 and buck2.loanAccountNumber not in (select distinct Loan_account_no from ptpstatus) then buck2.newmobilenumber end Normalizedwithoutptp_greg 
from buck2
left join buck1end on buck2.loanAccountNumber =  buck1end.loanAccountNumber
)
,
Ptp_payment as 
(select date_trunc(contact_date, day) contact_date, Loan_account_no, Phone_no, sum(case when coalesce(PTP_Status, 0) > 0 then PTP_Payment_amount else 0 end) ptppaymentamount 
from prj-prod-dataplatform.risk_credit_mis.collection_ptp_status group by date_trunc(contact_date, day), Loan_account_no, Phone_no
)
,
buck1ptpamt as 
(select distinct buck1normalized.WkstartDate,buck1normalized.WkendDate,loanAccountNumber
, case when Normalized_greg is not null then (select sum(ptppaymentamount) from Ptp_payment where Loan_account_no = buck1normalized.loanAccountNumber and date(contact_date) between dt.WkstartDate and dt.WkendDate) else 0 end ptpamount_normalized  
,(select sum(ptppaymentamount) from Ptp_payment where Loan_account_no = buck1normalized.loanAccountNumber and date(contact_date) between dt.WkstartDate and dt.WkendDate)  ptpamount  
from buck1normalized, dt)
,
buck2ptpamt as 
(select distinct buck2normalized.WkstartDate,buck2normalized.WkendDate,loanAccountNumber
, case when Normalized is not null then (select sum(ptppaymentamount) from Ptp_payment where Loan_account_no = buck2normalized.loanAccountNumber and date(contact_date) 
between dt.WkstartDate and dt.WkendDate) else 0 end ptpamount_normalized  
, (select sum(ptppaymentamount) from Ptp_payment where Loan_account_no = buck2normalized.loanAccountNumber and date(contact_date) 
between dt.WkstartDate and dt.WkendDate)  ptpamount 
from buck2normalized, dt),
fte as 
(select distinct agentFullName FROM
  `risk_credit_mis.call_attempt_history_gensys` g,
  dt
LEFT JOIN
  `dap_ds_poweruser_playground.campaignmaster` cm
ON
  UPPER(cm.Campaignname) = UPPER(g.campaignName)
WHERE
   DATE(g.callDatetime) BETWEEN DATE(dt.WkstartDate)  AND DATE(WkendDate)
   and cm.reference in ('REM', 'COLL', 'WC')),
LUM as 
(select distinct loanAccountNumber from `prj-prod-dataplatform.risk_credit_mis.loan_master_table`, dt where flagDisbursement = 1 and date_trunc(disbursementDateTime, day) < dt.WkstartDate
and loanPaidStatus not in ('Written Off','Completed', 'Settled')),
aw as 
(select bucketDate, loanAccountNumber from `risk_credit_mis.loan_bucket_flow_report_core`, dt where coalesce(Max_current_DPD ,0) between 1 and 179 and date(bucketDate) = dt.WkstartDate and loanStatus not in ('Written Off','Completed', 'Settled'))
select *,
(select count(distinct ptp_received) from buck1normalized)+(select count(distinct ptp_received) from buck2normalized) ptp_received,
(select count(distinct Kept_ptp) from buck1normalized) + (select count(distinct Kept_ptp) from buck2normalized) kept_ptp,
(select sum(ptpamount) from buck1ptpamt)bucket1ptppmt,
(select sum(ptpamount) from buck2ptpamt) bucket2ptppmt,
(select count(distinct agentFullName) from fte)FTE,
(select count(distinct loanAccountNumber) from LUM) total_accounts,
(select count(distinct loanAccountNumber) from aw) active_works
from dt;
"""

df_others = client.query(sq).to_dataframe(progress_bar_type = 'tqdm')
df_others['kept_ptp_rate'] = df_others['kept_ptp']/df_others['ptp_received']
df_others.columns

Job ID 231e073f-d666-4928-8252-e54b54142ca9 successfully executed: 100%|██████████|
Downloading: 100%|██████████|

Index(['WkstartDate', 'WkendDate', 'ptp_received', 'kept_ptp', 'bucket1ptppmt',
       'bucket2ptppmt', 'FTE', 'total_accounts', 'active_works',
       'kept_ptp_rate'],
      dtype='object')

In [50]:
pd.set_option("display.max_columns", None)
df = pd.concat([df, df_others[['ptp_received', 'kept_ptp', 'kept_ptp_rate', 'bucket1ptppmt',
       'bucket2ptppmt', 'FTE', 'total_accounts', 'active_works'    ]]], axis = 1)
df

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1contactrate,Normalized_Greg,Normalized_denominator,Bucket1_Normalized,bucket2contacted,bucket2callcontacted,bucket2contactrate,Normalized_buck2_Greg,Normalized_buck2_denominator,bucket2Normalizationrate,bucket3contacted,bucket3callcontacted,bucket3contactrate,Normalized_buck3_Greg,Normalized_buck3_denominator,bucket3Normalizationrate,Bucket1_inArearstoTotal_Overdue_Amount,Bucket1_paymentsfromoverdue,Bucket1_recoveryrate,Bucket2_inArearstoTotal_Overdue_Amount,Bucket2_paymentsfromoverdue,Bucket2_recoveryrate,Bucket3_inArearstoTotal_Overdue_Amount,Bucket3_paymentsfromoverdue,Bucket3_recoveryrate,Bucket4_inArearstoTotal_Overdue_Amount,Bucket4_paymentsfromoverdue,Bucket4_recoveryrate,Bucket5_inArearstoTotal_Overdue_Amount,Bucket5_paymentsfromoverdue,Bucket5_recoveryrate,Bucket6_inArearstoTotal_Overdue_Amount,Bucket6_paymentsfromoverdue,Bucket6_recoveryrate,Bucket7_inArearstoTotal_Overdue_Amount,Bucket7_paymentsfromoverdue,Bucket7_recoveryrate,Bucket8_inArearstoTotal_Overdue_Amount,Bucket8_paymentsfromoverdue,Bucket8_recoveryrate,inArearstoTotal_Overdue_Amount,paymentsfromoverdue,recoveryrate,wentdelinquent,rollbacked,defaulteddelinquentamount,rollbacked_amount,rollback_rate,rollback_rate_v,ptp_received,kept_ptp,kept_ptp_rate,bucket1ptppmt,bucket2ptppmt,FTE,total_accounts,active_works
0,2024-06-01,2024-06-30,7536,9236,0.815938,13887,26699,0.520132,5247,10514,0.499049,2076,4444,0.467147,2727,5070,0.53787,397,2435,0.163039,956,2829,0.337929,115,1939,0.059309,9955932.4,5287151.16,0.531055,11229368.4,1595717.32,0.142102,13440591.64,590189.31,0.043911,17311908.68,328827.04,0.018994,19145496.04,367623.29,0.019202,19414701.1,174500.55,0.008988,1.715221e+08,292846.9,0.001707,1.303316e+08,NaN,NaN,3.923517e+08,17901777.52,0.045627,24215,5426,53750034.79,12057636.21,0.224076,0.224328,5848,1584,0.270862,2907792.6,258520.48,34,71726,13475

This SQL code performs a complex analysis involving multiple steps to derive various metrics related to call center operations, loan accounts, and payment status. Let's break down the logic of the code:

1. **Common Table Expressions (CTEs):**
   - **`dt`:** Creates a date table with the provided start and end dates.
   - **`disb`:** Retrieves disbursement-related information for loans, filtering out settled or completed loans.
   - **`wc1`:** Retrieves call attempt history data from the Genesys system, joining it with the `disb` CTE based on mobile numbers and campaign references. It uses window functions to assign row numbers based on call datetime and various call types (APC, RPC, PTP).
   - **`wc`:** Filters the `wc1` CTE to include only rows with row number (`rnk`) equal to 1, effectively selecting the latest call attempt for each Genesys call ID.
   - **`wcbase`:** Creates a base table for call attempt history with relevant columns.

2. **Customer Contact Details CTE (`cd`):**
   - Retrieves customer contact details and assigns row numbers based on the change date.

3. **Bucket 1 CTE (`buck1`):**
   - Retrieves loan bucket flow data for loans with a maximum DPD between 1 and 30, first due date before the current date, and an 'In Arrears' status.

4. **Bucket 1 Call Attempt (`buck1cr1`):**
   - Retrieves call attempt history for Bucket 1 loans, filtering based on campaign references and call datetime. It also uses window functions to assign row numbers.

5. **Bucket 1 Normalization (`buck1normalized`):**
   - Performs normalization for Bucket 1, categorizing loans based on specific conditions and calculating certain metrics.

6. **Bucket 2 CTE (`buck2`):**
   - Retrieves loan bucket flow data for loans with a maximum DPD between 31 and 60, 'In Arrears' status, and first due date before the current date.

7. **Bucket 2 Call Attempt (`buck2cr1`):**
   - Retrieves call attempt history for Bucket 2 loans, filtering based on campaign references and call datetime. It also uses window functions to assign row numbers.

8. **Bucket 2 Normalization (`buck2normalized`):**
   - Performs normalization for Bucket 2, categorizing loans based on specific conditions and calculating certain metrics.

9. **PTP Status CTE (`ptpstatus`):**
   - Determines the PTP (Promise to Pay) status for loans within the specified date range.

10. **Payments CTE (`payments`):**
    - Retrieves loan account numbers with payments made within the specified date range.

11. **Bucket 1 PTP Amount (`buck1ptpamt`):**
    - Calculates PTP amounts for Bucket 1 loans.

12. **Bucket 2 PTP Amount (`buck2ptpamt`):**
    - Calculates PTP amounts for Bucket 2 loans.

13. **Full-Time Employees (`fte`):**
    - Retrieves distinct agent full names considered as full-time employees.

14. **Loan Under Management (`LUM`):**
    - Retrieves loan account numbers with a disbursement date before the current analysis period.

15. **Active Works (`aw`):**
    - Retrieves active works (loans) with a maximum DPD between 1 and 179.

16. **Final Selection and Aggregation:**
    - The final SELECT statement aggregates various metrics and counts based on the derived CTEs and external tables.

17. **Derived Metrics:**
    - Calculations for metrics like PTP received, kept PTP, PTP payment amounts, full-time employees, total accounts, and active works.

18. **Calculated Rates:**
    - Calculates the 'kept PTP rate' as the ratio of kept PTP to PTP received.

The code essentially combines data from multiple sources, performs various normalizations and aggregations, and calculates key metrics related to call center operations, loan accounts, and payment status. The final output is a DataFrame with the derived metrics and rates.

# Final Merge

In [51]:
df['WkstartDate'] = df['WkstartDate'].astype(str)
df['WkendDate'] = df['WkendDate'].astype(str)
# Convert columns to the correct data types
df['bucket1ptppmt'] = df['bucket1ptppmt'].astype(float)
df['bucket2ptppmt'] = df['bucket2ptppmt'].astype(float)
df['WelcomeCall_ContactRate'] = df['WelcomeCall_ContactRate'].astype(float)
df['remindercallcontactrate'] = df['remindercallcontactrate'].astype(float)
df['bucket1contactrate'] = df['bucket1contactrate'].astype(float)
df['Bucket1_Normalized'] = df['Bucket1_Normalized'].astype(float)
df['bucket2contactrate'] = df['bucket2contactrate'].astype(float)
df['bucket2Normalizationrate'] = df['bucket2Normalizationrate'].astype(float)
df['bucket3contactrate'] = df['bucket3contactrate'].astype(float)
df['bucket3Normalizationrate'] = df['bucket3Normalizationrate'].astype(float)
df['kept_ptp_rate'] = df['kept_ptp_rate'].astype(float)
df['Bucket1_recoveryrate'] = df['Bucket1_recoveryrate'].astype(float)
df['Bucket2_recoveryrate'] = df['Bucket2_recoveryrate'].astype(float)
df['Bucket3_recoveryrate'] = df['Bucket3_recoveryrate'].astype(float)
df['Bucket4_recoveryrate'] = df['Bucket4_recoveryrate'].astype(float)
df['Bucket5_recoveryrate'] = df['Bucket5_recoveryrate'].astype(float)
df['Bucket6_recoveryrate'] = df['Bucket6_recoveryrate'].astype(float)
df['Bucket7_recoveryrate'] = df['Bucket7_recoveryrate'].astype(float)
df['Bucket8_recoveryrate'] = df['Bucket8_recoveryrate'].astype(float)
df['recoveryrate'] = df['recoveryrate'].astype(float)
df['paymentsfromoverdue'] = df['paymentsfromoverdue'].astype(float)
df['inArearstoTotal_Overdue_Amount'] = df['inArearstoTotal_Overdue_Amount'].astype(float)
df['defaulteddelinquentamount'] = df['defaulteddelinquentamount'].astype(float)	
df['rollbacked_amount'] = df['rollbacked_amount'].astype(float)
df['rollback_rate'] = df['rollback_rate'].astype(float)
df['rollback_rate_v'] = df['rollback_rate_v'].astype(float)
			



df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 67 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   WkstartDate                             1 non-null      object
 1   WkendDate                               1 non-null      object
 2   apc_wc_connected                        1 non-null      Int64
 3   wccalled                                1 non-null      Int64
 4   WelcomeCall_ContactRate                 1 non-null      float64
 5   apc_rc_connected                        1 non-null      Int64
 6   rccalled                                1 non-null      Int64
 7   remindercallcontactrate                 1 non-null      float64
 8   bucket1contacted                        1 non-null      Int64
 9   bucketcallcontacted                     1 non-null      Int64
 10  bucket1contactrate                      1 non-null      float64
 11  Normalized_Greg                         1 non-null      Int64
 12  Normalized_denominator                  1 non-null      Int64
 13  Bucket1_Normalized                      1 non-null      float64
 14  bucket2contacted                        1 non-null      Int64
 15  bucket2callcontacted                    1 non-null      Int64
 16  bucket2contactrate                      1 non-null      float64
 17  Normalized_buck2_Greg                   1 non-null      Int64
 18  Normalized_buck2_denominator            1 non-null      Int64
 19  bucket2Normalizationrate                1 non-null      float64
 20  bucket3contacted                        1 non-null      Int64
 21  bucket3callcontacted                    1 non-null      Int64
 22  bucket3contactrate                      1 non-null      float64
 23  Normalized_buck3_Greg                   1 non-null      Int64
 24  Normalized_buck3_denominator            1 non-null      Int64
 25  bucket3Normalizationrate                1 non-null      float64
 26  Bucket1_inArearstoTotal_Overdue_Amount  1 non-null      float64
 27  Bucket1_paymentsfromoverdue             1 non-null      float64
 28  Bucket1_recoveryrate                    1 non-null      float64
 29  Bucket2_inArearstoTotal_Overdue_Amount  1 non-null      float64
 30  Bucket2_paymentsfromoverdue             1 non-null      float64
 31  Bucket2_recoveryrate                    1 non-null      float64
 32  Bucket3_inArearstoTotal_Overdue_Amount  1 non-null      float64
 33  Bucket3_paymentsfromoverdue             1 non-null      float64
 34  Bucket3_recoveryrate                    1 non-null      float64
 35  Bucket4_inArearstoTotal_Overdue_Amount  1 non-null      float64
 36  Bucket4_paymentsfromoverdue             1 non-null      float64
 37  Bucket4_recoveryrate                    1 non-null      float64
 38  Bucket5_inArearstoTotal_Overdue_Amount  1 non-null      float64
 39  Bucket5_paymentsfromoverdue             1 non-null      float64
 40  Bucket5_recoveryrate                    1 non-null      float64
 41  Bucket6_inArearstoTotal_Overdue_Amount  1 non-null      float64
 42  Bucket6_paymentsfromoverdue             1 non-null      float64
 43  Bucket6_recoveryrate                    1 non-null      float64
 44  Bucket7_inArearstoTotal_Overdue_Amount  1 non-null      float64
 45  Bucket7_paymentsfromoverdue             1 non-null      float64
 46  Bucket7_recoveryrate                    1 non-null      float64
 47  Bucket8_inArearstoTotal_Overdue_Amount  1 non-null      float64
 48  Bucket8_paymentsfromoverdue             0 non-null      float64
 49  Bucket8_recoveryrate                    0 non-null      float64
 50  inArearstoTotal_Overdue_Amount          1 non-null      float64
 51  paymentsfromoverdue                     1 non-null      float64
 52  recoveryrate                            1 non-null      float64
 53  wentdelinquent                          1 non-null      Int64
 54  rollbacked                              1 non-null      Int64
 55  defaulteddelinquentamount               1 non-null      float64
 56  rollbacked_amount                       1 non-null      float64
 57  rollback_rate                           1 non-null      float64
 58  rollback_rate_v                         1 non-null      float64
 59  ptp_received                            1 non-null      Int64
 60  kept_ptp                                1 non-null      Int64
 61  kept_ptp_rate                           1 non-null      float64
 62  bucket1ptppmt                           1 non-null      float64
 63  bucket2ptppmt                           1 non-null      float64
 64  FTE                                     1 non-null      Int64
 65  total_accounts                          1 non-null      Int64
 66  active_works                            1 non-null      Int64
dtypes: Int64(23), float64(42), object(2)
memory usage: 687.0+ bytes

In [52]:
df.head()

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1contactrate,Normalized_Greg,Normalized_denominator,Bucket1_Normalized,bucket2contacted,bucket2callcontacted,bucket2contactrate,Normalized_buck2_Greg,Normalized_buck2_denominator,bucket2Normalizationrate,bucket3contacted,bucket3callcontacted,bucket3contactrate,Normalized_buck3_Greg,Normalized_buck3_denominator,bucket3Normalizationrate,Bucket1_inArearstoTotal_Overdue_Amount,Bucket1_paymentsfromoverdue,Bucket1_recoveryrate,Bucket2_inArearstoTotal_Overdue_Amount,Bucket2_paymentsfromoverdue,Bucket2_recoveryrate,Bucket3_inArearstoTotal_Overdue_Amount,Bucket3_paymentsfromoverdue,Bucket3_recoveryrate,Bucket4_inArearstoTotal_Overdue_Amount,Bucket4_paymentsfromoverdue,Bucket4_recoveryrate,Bucket5_inArearstoTotal_Overdue_Amount,Bucket5_paymentsfromoverdue,Bucket5_recoveryrate,Bucket6_inArearstoTotal_Overdue_Amount,Bucket6_paymentsfromoverdue,Bucket6_recoveryrate,Bucket7_inArearstoTotal_Overdue_Amount,Bucket7_paymentsfromoverdue,Bucket7_recoveryrate,Bucket8_inArearstoTotal_Overdue_Amount,Bucket8_paymentsfromoverdue,Bucket8_recoveryrate,inArearstoTotal_Overdue_Amount,paymentsfromoverdue,recoveryrate,wentdelinquent,rollbacked,defaulteddelinquentamount,rollbacked_amount,rollback_rate,rollback_rate_v,ptp_received,kept_ptp,kept_ptp_rate,bucket1ptppmt,bucket2ptppmt,FTE,total_accounts,active_works
0,2024-06-01,2024-06-30,7536,9236,0.815938,13887,26699,0.520132,5247,10514,0.499049,2076,4444,0.467147,2727,5070,0.53787,397,2435,0.163039,956,2829,0.337929,115,1939,0.059309,9955932.4,5287151.16,0.531055,11229368.4,1595717.32,0.142102,13440591.64,590189.31,0.043911,17311908.68,328827.04,0.018994,19145496.04,367623.29,0.019202,19414701.1,174500.55,0.008988,1.715221e+08,292846.9,0.001707,1.303316e+08,NaN,NaN,3.923517e+08,17901777.52,0.045627,24215,5426,53750034.79,12057636.21,0.224076,0.224328,5848,1584,0.270862,2907792.6,258520.48,34,71726,13475

In [53]:
df.columns

Index(['WkstartDate', 'WkendDate', 'apc_wc_connected', 'wccalled',
       'WelcomeCall_ContactRate', 'apc_rc_connected', 'rccalled',
       'remindercallcontactrate', 'bucket1contacted', 'bucketcallcontacted',
       'bucket1contactrate', 'Normalized_Greg', 'Normalized_denominator',
       'Bucket1_Normalized', 'bucket2contacted', 'bucket2callcontacted',
       'bucket2contactrate', 'Normalized_buck2_Greg',
       'Normalized_buck2_denominator', 'bucket2Normalizationrate',
       'bucket3contacted', 'bucket3callcontacted', 'bucket3contactrate',
       'Normalized_buck3_Greg', 'Normalized_buck3_denominator',
       'bucket3Normalizationrate', 'Bucket1_inArearstoTotal_Overdue_Amount',
       'Bucket1_paymentsfromoverdue', 'Bucket1_recoveryrate',
       'Bucket2_inArearstoTotal_Overdue_Amount', 'Bucket2_paymentsfromoverdue',
       'Bucket2_recoveryrate', 'Bucket3_inArearstoTotal_Overdue_Amount',
       'Bucket3_paymentsfromoverdue', 'Bucket3_recoveryrate',
       'Bucket4_inArearstoTotal_Overdue_Amount', 'Bucket4_paymentsfromoverdue',
       'Bucket4_recoveryrate', 'Bucket5_inArearstoTotal_Overdue_Amount',
       'Bucket5_paymentsfromoverdue', 'Bucket5_recoveryrate',
       'Bucket6_inArearstoTotal_Overdue_Amount', 'Bucket6_paymentsfromoverdue',
       'Bucket6_recoveryrate', 'Bucket7_inArearstoTotal_Overdue_Amount',
       'Bucket7_paymentsfromoverdue', 'Bucket7_recoveryrate',
       'Bucket8_inArearstoTotal_Overdue_Amount', 'Bucket8_paymentsfromoverdue',
       'Bucket8_recoveryrate', 'inArearstoTotal_Overdue_Amount',
       'paymentsfromoverdue', 'recoveryrate', 'wentdelinquent', 'rollbacked',
       'defaulteddelinquentamount', 'rollbacked_amount', 'rollback_rate',
       'rollback_rate_v', 'ptp_received', 'kept_ptp', 'kept_ptp_rate',
       'bucket1ptppmt', 'bucket2ptppmt', 'FTE', 'total_accounts',
       'active_works'],
      dtype='object')

In [54]:
df1 = client.query("""select * from dap_ds_poweruser_playground.collection_Monthly_kpi_v6_temp""").to_dataframe()
df1.columns

Index(['WkstartDate', 'WkendDate', 'apc_wc_connected', 'wccalled',
       'WelcomeCall_ContactRate', 'apc_rc_connected', 'rccalled',
       'remindercallcontactrate', 'bucket1contacted', 'bucketcallcontacted',
       'bucket1contactrate', 'Normalized_Greg', 'Normalized_denominator',
       'Bucket1_Normalized', 'bucket2contacted', 'bucket2callcontacted',
       'bucket2contactrate', 'Normalized_buck2_Greg',
       'Normalized_buck2_denominator', 'bucket2Normalizationrate',
       'bucket3contacted', 'bucket3callcontacted', 'bucket3contactrate',
       'Normalized_buck3_Greg', 'Normalized_buck3_denominator',
       'bucket3Normalizationrate', 'Bucket1_inArearstoTotal_Overdue_Amount',
       'Bucket1_paymentsfromoverdue', 'Bucket1_recoveryrate',
       'Bucket2_inArearstoTotal_Overdue_Amount', 'Bucket2_paymentsfromoverdue',
       'Bucket2_recoveryrate', 'Bucket3_inArearstoTotal_Overdue_Amount',
       'Bucket3_paymentsfromoverdue', 'Bucket3_recoveryrate',
       'Bucket4_inArearstoTotal_Overdue_Amount', 'Bucket4_paymentsfromoverdue',
       'Bucket4_recoveryrate', 'Bucket5_inArearstoTotal_Overdue_Amount',
       'Bucket5_paymentsfromoverdue', 'Bucket5_recoveryrate',
       'Bucket6_inArearstoTotal_Overdue_Amount', 'Bucket6_paymentsfromoverdue',
       'Bucket6_recoveryrate', 'Bucket7_inArearstoTotal_Overdue_Amount',
       'Bucket7_paymentsfromoverdue', 'Bucket7_recoveryrate',
       'Bucket8_inArearstoTotal_Overdue_Amount', 'Bucket8_paymentsfromoverdue',
       'Bucket8_recoveryrate', 'inArearstoTotal_Overdue_Amount',
       'paymentsfromoverdue', 'recoveryrate', 'wentdelinquent', 'rollbacked',
       'defaulteddelinquentamount', 'rollbacked_amount', 'rollback_rate',
       'rollback_rate_v', 'ptp_received', 'kept_ptp', 'kept_ptp_rate',
       'bucket1ptppmt', 'bucket2ptppmt', 'FTE', 'total_accounts',
       'active_works'],
      dtype='object')

In [55]:
df1

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1contactrate,Normalized_Greg,Normalized_denominator,Bucket1_Normalized,bucket2contacted,bucket2callcontacted,bucket2contactrate,Normalized_buck2_Greg,Normalized_buck2_denominator,bucket2Normalizationrate,bucket3contacted,bucket3callcontacted,bucket3contactrate,Normalized_buck3_Greg,Normalized_buck3_denominator,bucket3Normalizationrate,Bucket1_inArearstoTotal_Overdue_Amount,Bucket1_paymentsfromoverdue,Bucket1_recoveryrate,Bucket2_inArearstoTotal_Overdue_Amount,Bucket2_paymentsfromoverdue,Bucket2_recoveryrate,Bucket3_inArearstoTotal_Overdue_Amount,Bucket3_paymentsfromoverdue,Bucket3_recoveryrate,Bucket4_inArearstoTotal_Overdue_Amount,Bucket4_paymentsfromoverdue,Bucket4_recoveryrate,Bucket5_inArearstoTotal_Overdue_Amount,Bucket5_paymentsfromoverdue,Bucket5_recoveryrate,Bucket6_inArearstoTotal_Overdue_Amount,Bucket6_paymentsfromoverdue,Bucket6_recoveryrate,Bucket7_inArearstoTotal_Overdue_Amount,Bucket7_paymentsfromoverdue,Bucket7_recoveryrate,Bucket8_inArearstoTotal_Overdue_Amount,Bucket8_paymentsfromoverdue,Bucket8_recoveryrate,inArearstoTotal_Overdue_Amount,paymentsfromoverdue,recoveryrate,wentdelinquent,rollbacked,defaulteddelinquentamount,rollbacked_amount,rollback_rate,rollback_rate_v,ptp_received,kept_ptp,kept_ptp_rate,bucket1ptppmt,bucket2ptppmt,FTE,total_accounts,active_works
0,2024-02-01,2024-02-29,3313,4559,0.726694,12419,22748,0.545938,2191,7458,0.293778,1370,2997,0.457124,431,2889,0.149187,187,1482,0.126181,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,4.255677e+08,13809109.93,0.032449,20528,3782,4.927197e+07,9438626.30,0.184236,0.191562,3761,1197,0.318266,2419188.02,187158.11,32,48034,10768
1,2023-03-01,2023-03-31,1637,2212,0.740054,3455,5856,0.589993,1051,3782,0.277895,500,1605,0.311526,369,1940,0.190206,91,927,0.098166,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,1.266935e+08,8238698.30,0.065029,22494,1758,5.106400e+07,5373634.05,0.078154,0.105233,2178,496,0.227732,1156555.42,198212.24,21,6311,6921
2,2023-02-01,2023-02-28,1146,1526,0.750983,2806,7067,0.397057,155,396,0.391414,394,1273,0.309505,161,918,0.175381,90,1099,0.081893,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,1.044650e+08,4538544.74,0.043446,21858,1702,4.943303e+07,5059467.48,0.077866,0.102350,2074,276,0.133076,629177.89,153666.72,22,4963,6716
3,2023-11-01,2023-11-30,4363,6186,0.705302,13169,25577,0.514877,1699,6194,0.274298,1165,2821,0.412974,601,3702,0.162345,246,1872,0.131410,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,3.238443e+08,13389601.92,0.041346,28632,2770,7.014135e+07,7958833.52,0.096745,0.113468,3297,900,0.272975,2103761.75,377652.02,24,35219,9895
4,2023-01-01,2023-01-31,1597,2186,0.730558,2342,4667,0.501821,336,2179,0.154199,430,1458,0.294925,248,2160,0.114815,101,1062,0.095104,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,8.425527e+07,4780127.15,0.056734,21038,1459,4.734539e+07,3965589.11,0.069351,0.083759,2137,315,0.147403,721449.42,124917.32,23,3763,6608
5,2023-10-01,2023-10-31,4145,6309,0.656998,11929,21855,0.545825,1612,5830,0.276501,1041,2663,0.390913,710,3801,0.186793,229,1835,0.124796,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,2.872231e+08,13126570.36,0.045702,28237,2745,6.748030e+07,8758048.46,0.097213,0.129787,3153,879,0.278782,2096974.85,339574.22,27,31828,9133
6,2023-07-01,2023-07-31,2896,4158,0.696489,6339,11740,0.539949,530,3537,0.149845,792,2069,0.382794,296,2623,0.112848,127,1166,0.108919,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,2.080293e+08,9674831.31,0.046507,24757,2090,5.737693e+07,6911758.14,0.084421,0.120462,2557,596,0.233086,1573514.32,149953.60,20,17259,6904
7,2023-04-01,2023-04-30,1665,2454,0.678484,3829,6780,0.564749,621,2625,0.236571,505,1474,0.342605,375,2057,0.182304,73,991,0.073663,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,1.496052e+08,6818566.69,0.045577,23075,1869,5.273776e+07,6611274.30,0.080997,0.125361,2214,361,0.163053,945853.65,109412.47,20,8281,6327
8,2023-05-01,2023-05-31,2421,3686,0.656810,4882,8702,0.561020,707,3063,0.230819,762,1785,0.426891,423,2169,0.195021,129,1016,0.126969,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,1.750549e+08,9666307.02,0.055219,23625,2005,5.447180e+07,6626358.26,0.084868,0.121648,2395,650,0.271399,1740887.66,168196.76,20,10809,6550
9,2023-06-01,2023-06-30,2407,3422,0.703390,5693,10356,0.549730,487,3095,0.157351,645,1726,0.373696,296,2335,0.126767,104,1138,0.091388,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,1.814605e+08,7329362.51,0.040391,23803,1931,5.504016e+07,6441819.73,0.081124,0.117039,2330,443,0.190129,1054469.60,184900.23,20,14391,6478
10,2023-12-01,2023-12-31,5142,8971,0.573180,11842,24698,0.479472,1544,6118,0.252370,1086,2565,0.423392,595,3648,0.163103,248,1870,0.132620,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,3.546886e+08,13497824.61,0.038055,22913,2887,6.207388e+07,7911228.91,0.125998,0.127449,3139,828,0.263778,1775323.08,357236.93,29,38934,10139
11,2023-09-01,2023-09-30,3705,5192,0.713598,7436,17810,0.417518,615,4639,0.132572,845,2477,0.341138,299,3257,0.091802,161,1442,0.111650,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,2.553445e+08,9938829.51,0.038923,27111,2622,6.405672e+07,8140521.68,0.096714,0.127083,2901,588,0.202689,1371037.92,215522.64,27,26464,8203
12,2024-01-01,2024-01-31,4393,7440,0.590457,13027,25169,0.517581,1895,6057,0.312861,1291,2496,0.517228,622,3259,0.190856,249,1712,0.145444,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,3.933773e+08,13276466.73,0.033750,19155,3242,4.690153e+07,8862995.49,0.169251,0.188970,3304,994,0.300847,2043782.15,348567.94,34,44749,10298
13,2023-08-01,2023-08-31,4024,5157,0.780299,7674,15097,0.508313,565,4054,0.139369,780,2057,0.379193,356,2956,0.120433,126,1439,0.087561,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,2.295751e+08,9200307.42,0.040075,26090,2469,6.090000e+07,7483998.56,0.094634,0.122890,2745,721,0.262659,1767505.16,227259.71,20,21499,7364
14,2024-03-01,2024-03-31,3236,4400,0.735455,10387,21637,0.480057,2604,8899,0.292617,1436,3740,0.383957,712,4038,0.176325,176,1736,0.101382,<NA>,<NA>,NaN,<NA>,<NA>,NaN,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000e+00,0.00,0.000000,0.000000e+00,0.0,0.0,4.674975e+08,16594221.78,0.035496,22400,4550,5.259908e+07,10973541.06,0.203125,0.208626,4729,1424,0.301121,2867526.64,240445.64,29,50637,11394
15,2024-04-01,2024-04-30,7116,10745,0.662262,12194,24691,0.493864,2765,9154,0.302054,1791,3661,0.489211,798,4332,0.184211,297,2119,0.140160,<NA>,<NA>,NaN,<NA>,<NA>,NaN,8665518.31,5004840.76,0.577558,10129976.00,1338729.62,0.132155,12590391.19,711232.14,0.056490,14271989.22,523041.71,0.036648,19989514.52,446340.66,0.022329,25836659.14,233865.43,0.009052,1.559157e+08,492175.91,0.003157,2.631120e+08,NaN,NaN,5.105118e+08,17538670.13,0.034355,23386,5073,5.449352e+07,12506315.54,0.216925,0.229501,5187,1522,0.293426,3112380.29,341207.44,32,55618,11708
16,2024-05-01,2024-05-31,9828,12404,0.792325,13787,28973,0.475857,4289,9624,0.445657,1919,3994,0.480471,2590,4763,0.543775,364,2183,0.166743,<NA>,<NA>,NaN,<NA>,<NA>,NaN,9658647.82,5602735.92,0.580075,10236669.47,1607917.33,0.157074,13782105.50,721017.45,0.052315,15789044.59,548930.59,0.034767,17163106.49,491918.46,0.028661,22848858.73,280418.05,0.012273,1.570184e+08,257652.21,0.001641,1.047899e+08,NaN,NaN,3.512867e+08,18207128.42,0.051830,24228,4946,5.574184e+07,11903011.32,0.204144,0.213538,5392,1478,0.274110,2954132.26,324799.55,33,63485,12361
17,2024-06-01,2024-06-23,5126,6408,0.799938,10163,20718,0.490540,4515,9357,0.482526,1870,4444,0.420792,2073,4365,0.474914,337,2435,0.138398,753,2590,0.290734,99,1939,0.051057,9955932.40,4558921.92,0.457910,11229368.40,1278400.33,0.113844,13440591.64,479946.98,0.035709,17311908.68,238567.16,0.013781,19145496.04,179477.87,0.009374,19414701.10,129961.15,0.006694,1.715221e+08,163124.60,0.000951,1.303316e+08,NaN,NaN,3.923517e+08,14075281.47,0.035874,20840,4233,4.649921e+07,9256139.42,0.203119,0.199060,5048,1203,0.238312,2136491.06,188242.94,34,72728,13475

In [56]:
# # Append df1 to df, adding extra columns from df1
# merged_df = pd.concat([df, df1])

# # Now merged_df contains all columns from both df and df1, with extra columns from df1 added
# merged_df

In [57]:
df

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1contactrate,Normalized_Greg,Normalized_denominator,Bucket1_Normalized,bucket2contacted,bucket2callcontacted,bucket2contactrate,Normalized_buck2_Greg,Normalized_buck2_denominator,bucket2Normalizationrate,bucket3contacted,bucket3callcontacted,bucket3contactrate,Normalized_buck3_Greg,Normalized_buck3_denominator,bucket3Normalizationrate,Bucket1_inArearstoTotal_Overdue_Amount,Bucket1_paymentsfromoverdue,Bucket1_recoveryrate,Bucket2_inArearstoTotal_Overdue_Amount,Bucket2_paymentsfromoverdue,Bucket2_recoveryrate,Bucket3_inArearstoTotal_Overdue_Amount,Bucket3_paymentsfromoverdue,Bucket3_recoveryrate,Bucket4_inArearstoTotal_Overdue_Amount,Bucket4_paymentsfromoverdue,Bucket4_recoveryrate,Bucket5_inArearstoTotal_Overdue_Amount,Bucket5_paymentsfromoverdue,Bucket5_recoveryrate,Bucket6_inArearstoTotal_Overdue_Amount,Bucket6_paymentsfromoverdue,Bucket6_recoveryrate,Bucket7_inArearstoTotal_Overdue_Amount,Bucket7_paymentsfromoverdue,Bucket7_recoveryrate,Bucket8_inArearstoTotal_Overdue_Amount,Bucket8_paymentsfromoverdue,Bucket8_recoveryrate,inArearstoTotal_Overdue_Amount,paymentsfromoverdue,recoveryrate,wentdelinquent,rollbacked,defaulteddelinquentamount,rollbacked_amount,rollback_rate,rollback_rate_v,ptp_received,kept_ptp,kept_ptp_rate,bucket1ptppmt,bucket2ptppmt,FTE,total_accounts,active_works
0,2024-06-01,2024-06-30,7536,9236,0.815938,13887,26699,0.520132,5247,10514,0.499049,2076,4444,0.467147,2727,5070,0.53787,397,2435,0.163039,956,2829,0.337929,115,1939,0.059309,9955932.4,5287151.16,0.531055,11229368.4,1595717.32,0.142102,13440591.64,590189.31,0.043911,17311908.68,328827.04,0.018994,19145496.04,367623.29,0.019202,19414701.1,174500.55,0.008988,1.715221e+08,292846.9,0.001707,1.303316e+08,NaN,NaN,3.923517e+08,17901777.52,0.045627,24215,5426,53750034.79,12057636.21,0.224076,0.224328,5848,1584,0.270862,2907792.6,258520.48,34,71726,13475

In [58]:
# Reset the index of the DataFrame
df = df.reset_index(drop=True)

# Define the dataset and table references
dataset_id = 'dap_ds_poweruser_playground'
table_id = 'collection_Monthly_kpi_v6'
# Define the table schema as per your DataFrame columns
schema = [
    bigquery.SchemaField("WkstartDate", "string"),
    bigquery.SchemaField("WkendDate", "string"),
    bigquery.SchemaField("apc_wc_connected", "int64"),
    bigquery.SchemaField("wccalled", "int64"),
    bigquery.SchemaField("WelcomeCall_ContactRate", "float64"),
    bigquery.SchemaField("apc_rc_connected", "int64"),
    bigquery.SchemaField("rccalled", "int64"),
    bigquery.SchemaField("remindercallcontactrate", "float64"),
    bigquery.SchemaField("bucket1contacted", "int64"),
    bigquery.SchemaField("bucketcallcontacted", "int64"),
    bigquery.SchemaField("bucket1contactrate", "float64"),
    bigquery.SchemaField("Normalized_Greg", "int64"),
    bigquery.SchemaField("Normalized_denominator", "int64"),
    bigquery.SchemaField("Bucket1_Normalized", "float64"),
    bigquery.SchemaField("bucket2contacted", "int64"),
    bigquery.SchemaField("bucket2callcontacted", "int64"),
    bigquery.SchemaField("bucket2contactrate", "float64"),
    bigquery.SchemaField("Normalized_buck2_Greg", "int64"),
    bigquery.SchemaField("Normalized_buck2_denominator", "int64"),
    bigquery.SchemaField("bucket2Normalizationrate", "float64"),
    bigquery.SchemaField("bucket3contacted", "int64"),
    bigquery.SchemaField("bucket3callcontacted", "int64"),
    bigquery.SchemaField("bucket3contactrate", "float64"),
    bigquery.SchemaField("Normalized_buck3_Greg", "int64"),
    bigquery.SchemaField("Normalized_buck3_denominator", "int64"),
    bigquery.SchemaField("bucket3Normalizationrate", "float64"),
    bigquery.SchemaField("ptp_received", "int64"),
    bigquery.SchemaField("kept_ptp", "int64"),
    bigquery.SchemaField("kept_ptp_rate", "float64"),
    bigquery.SchemaField("inArearstoTotal_Overdue_Amount", "float64"),
    bigquery.SchemaField("paymentsfromoverdue", "float64"),
    bigquery.SchemaField("Bucket1_recoveryrate", 'float64'),
    bigquery.SchemaField("Bucket2_recoveryrate", 'float64'),
    bigquery.SchemaField("Bucket3_recoveryrate", 'float64'),
    bigquery.SchemaField("Bucket4_recoveryrate", 'float64'),
    bigquery.SchemaField("Bucket5_recoveryrate", 'float64'),
    bigquery.SchemaField("Bucket6_recoveryrate", 'float64'),
    bigquery.SchemaField("Bucket7_recoveryrate", 'float64'),
    bigquery.SchemaField("Bucket8_recoveryrate", 'float64'),
    bigquery.SchemaField("recoveryrate", 'float64'),
    bigquery.SchemaField("wentdelinquent", "int64"),
    bigquery.SchemaField("rollbacked", "int64"),
    bigquery.SchemaField("defaulteddelinquentamount", "float64"),
    bigquery.SchemaField("rollbacked_amount", "float64"),
    bigquery.SchemaField("rollback_rate", "float64"),
    bigquery.SchemaField("rollback_rate_v", "float64"),
    bigquery.SchemaField("bucket1ptppmt", "float64"),
    bigquery.SchemaField("bucket2ptppmt", "float64"),
    bigquery.SchemaField("FTE", "int64"),
    bigquery.SchemaField("total_accounts", "int64"),
    bigquery.SchemaField("active_works", "int64"),
]
# Create the dataset reference
dataset_ref = client.dataset(dataset_id)

# Define the table reference
table_ref = dataset_ref.table(table_id)

# Configure the job to overwrite the table if it already exists
job_config = bigquery.LoadJobConfig(schema = schema)

# Load the DataFrame into BigQuery
job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)

# Wait for the job to complete
job.result()

print(f"Table {table_id} created in dataset {dataset_id}.")

Table collection_Monthly_kpi_v6 created in dataset dap_ds_poweruser_playground.